form {
    align-items: center;
    background: #F3F3F3;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 100%; 
}

form input {
    border: 1.5px solid #979797; 
    font-family: Raleway; 
    font-weight: bold; 
    height: 47px;
    margin: 14px 0 0 0;
    width: 40%;  
}

form input:first-child {
  margin: 0;
}

.firstnameError {
    color: red; 
    font-weight: bold; 
    font-size: 9px; 
}

.lastnameError {
    color: red; 
    font-weight: bold; 
    font-size: 9px;
}

.usernameError {
    color: red;
    font-weight: bold;
    font-size: 9px;
}

.emailError {
    color: red; 
    font-weight: bold; 
    font-size: 9px; 
}

.passwordError {
    color: red; 
    font-weight: bold; 
    font-size: 9px;
}

.register-button {
  margin: 14px 0 0 0 !important;
  width: 40%;
}