.container {
background-image: url('https://picsum.photos/g/800/800/?random');
margin: auto;
max-width: 800px;
}

.App_Top {
  display: flex;
  background: black;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.App_Bottom {
  color: black;
}

.App_Top-Button {
  width: 48%;
}

.DisplayNotes_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.DisplayNotes-Card {
  max-width: 25%;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
}