.card-title {
  border-bottom: 1px solid gray;
  text-align: start;
}
.col-sm-4 {
  margin-bottom: 2%;
}
.row {
  margin-top: 10%;
}
.yourNotes {
  margin-bottom: -7%;
  margin-right: 85%;
  margin-top: 4%;
}
.container {
  margin-right: 22%;
}
