.loading {
    background: #F3F3F3; 
    margin: 0; 
    min-height: 100%; 
    width: 75%;
}

.loading h4 {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 60px 0 0 4%; 
}

.note {
    background: #F3F3F3;
    min-height: 100%; 
    width: 75%;
}

.note h4 {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 28px 0 0 4%; 
}

.note p {
    width: 90%; 
    margin: 20px 0 0 4%; 
}

.noteButtons {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end; 
}

.noteButtons span {
    color: #4A4A4A; 
    cursor: pointer;
    font-family: Raleway; 
    font-weight: bold; 
}

.editLink {
    margin: 12px 0 0 0; 
}

.noteButtons span:nth-child(2) {
    margin: 13px 5% 0 2%; 
}

.modal-content {
    border-radius: 0 !important; 
}

.popup {
    border: 1.5px solid #4A4A4A; 
    margin: 200px auto 0 auto !important; 
}

.popupBody {
    color: #4A4A4A; 
    padding: 30px 5% 0 5% !important; 
    text-align:center; 
}

.popupFooter {
    display: flex; 
    justify-content: center !important; 
    border: none !important; 
}

.deleteButton {
    border: 1.5px solid #4A4A4A !important; 
    border-radius: 0 !important; 
    margin: 0 !important; 
    width: 100%; 
}

.cancelButton {
    border: 1.5px solid #4A4A4A !important; 
    border-radius: 0 !important; 
    margin: 19px 0 20px 5% !important; 
    width: 40%; 
}

.deleteLink {
    height: 41px; 
    width: 40%; 
    margin: 0 !important; 
}