.App {
  width: 580px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
  padding-left: 8px;
  padding-right: 8px; 
}
.heading {
  max-width: 578px;
  line-height: 0;
}
.heading .app-header {
  margin-top: 16px;
  margin-bottom: 14px;  
}
.heading hr {
  color: #F0F1F3;
  width: 578px;
  margin: 0;
}
