.switch-page-button {
  width: 200px;
  height: 25px;
  background: #2BC1C4;
  border: .5px solid darkgray;
  color: white;
  margin: 0px 5px 0px 5px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}