.header {
  background: $off-black;
  color: white;
  margin-bottom: $extra-small;
  padding: $small-size 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom:  $large-size;
  }

}

// Block Element Modifier BEM
.header__title {
  font-size: $medium-size;
  margin: 0;
}

.header__subtitle {
  color: $light-purple;
  font-size: $small-size;
  font-weight: 500;
  margin: 0;
}