.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $light-blue;
  color: white;
  max-width: 18.75rem;
  outline: none;
  padding: $medium-size;
  text-align: center;
}

.modal__title {
  margin: 0 0 $small-size 0;
}

.modal__body{
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 $medium-size 0;
  word-break: break-all;
}