.option {
  display: flex;
  justify-content: space-between;
  padding: $medium-size $small-size;
  border-bottom:1px solid lighten($light-blue, 10%)
}

.option__text {
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
  word-break: break-all;
}