.option {
  margin: 10px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid darkgrey;
  width: 180px;
  height:200px;
  background: white;
}

.option__text {
  color: black;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 10px;
  word-break: break-all;
}