.login-container {
    width: 180px;
    display:flex;
    background: #2bc1c4;
    border-radius: 6px;
    margin: 100px auto;
    padding: 10px 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  .login-button {
      width: 100%;
  }
  .login-title{
      width: 160px;
      margin-bottom: 10px;
  }

  .button-container {
      display:flex;
      width: 100%;
      height: 40px;
      font-size: .9rem;
      margin-top: 8px;
  }