.SidebarButtons .buttonRow1 {
  background: #D8D8D8;
}

.SidebarText {
  padding-bottom: 30px;
  font-size: 2rem;
  background: #D8D8D8;
}

.SidebarButtons .buttonRow1 {
  padding-bottom: 15px;
}

.SidebarButtons .buttonRow2 {
  padding-top: 0px;
}

.SidebarButtons .ButtonSide {
  padding: 15px;
  width: 165px;
  background: #2BC1C4;
}
