.main-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 675px;
    height: 100vh;
    background: #f1f1f1;
}
.nav{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
}
 .nav h5{
     margin: 0.5rem;
 }

 .tittle-header{
     display: flex;
 }