.right__side h4 {
    color: #4A494A;
}

.right__side a {
    text-decoration: none;
    color: #4A494A;
}

.edit a {
    margin-left: 280%;
}

.delete a {
    margin-left: 260%;
}

.modalBody {
    background: #FBFBFB;
}

.primary {
    background: #D0011B;
}