*{
  box-sizing: border-box;
}
body{
  height:100%;
}
#root{
  height: 100%;
}
.App {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  background: lightgray;
  position: relative;
  height:  100%;
  
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  position: fixed;
  width:900px;
  height: 100vh;
  background-color: #F2F1F2;
  box-shadow: 0 0 10px 5px gray;
}

.view{
  box-sizing: border-box;
  width: 75%;
  height: 100%;
  padding: 50px 25px 0;
  padding-right: 0;
  margin-left: 25%;
  text-align: left;
  background: #F2F1F2;
  position: relative;
}

.view h3{
  margin:  0;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

/* form==========================*/

.inputs{
  margin-bottom: 20px;
  margin-right: 30px;
  padding: 15px;
  border-radius: 5px;
}
input{
  width: 340px;
}
textarea{
  height: 350px;
  overflow: auto;
}
select{
  background: darkgray;
  color: white;
  padding: 4px;
  border-radius: 10px;
}