.ViewNotes__Text {
  font-family: "Roboto Bold";
  font-size: 28px;
  color: #434243;
  font-weight: bold;
  margin-top: 65px;
}

.ViewNotes__Note {
  text-decoration: none;
  color: black;
  border-style: solid;
  text-align: left;
  margin-top: 30px;
  margin-right: 25px;
  border-width: 1px;
  background-color: white;
  border-color: #c9c9c9;
  width: 240px;
  height: 250px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  font-size: 12px;
  word-wrap: break-word;
}

.ViewNotes__Note__Title {
  width: 100%;
  height: 34px;
  border-bottom-color: #c5c5c5;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.ViewNotes__Note__Meat {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: 8px;
  padding-top: 3px;
}

.ViewNotes__Actions {
  text-decoration: none;
  color: black;
  display: flex;
  width: 0px;
  position: absolute;
  margin-top: 25px;
  font-size: 20px;
  right: 200px;
  font-weight: lighter;
}

.ViewNotes__Delete {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.ViewNotes__Edit {
  padding: 0px;
  text-decoration: none;
  color: black;
}
