.notes-container {
  max-width: 725px;
  width: 725px;
  margin: 0 auto;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.note {
  width: 195px;
  height: 200px;
  margin: 20px;
  background-color: coral;
  color: white;
  border-radius: 3px;

  border: 1px solid coral;
}

.note h1 {
  color: white;
}

.note:hover {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
