.Nav__Container {
  background-color: #D7D7D7;
}

.Nav__Header {
  margin: 1% 3%;
  font-weight: bold;
  font-size: 4rem;
}

.Nav__ButtonsContainer {
  margin: 3%;
}

.Nav__ButtonsContainer--navButton {
  width: 100%;
  margin: 5% auto;
  background-color: #2AC1C5 !important;
  border: 2px solid #959595 !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.Button  {
  background-color: #2AC1C5 !important;
  border: 2px solid #959595 !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}
