.Nav__Container {
  background-color: #D7D7D7;
  border-right: 2px solid #959595;
}

.Nav__Container--dark {
  background-color: black;
  border-right: 2px solid white;
}

.Nav__Header {
  margin: 1% 3%;
  font-weight: bold;
  font-size: 4rem;
  color: #4A484A;
}

.Nav__Header--dark {
  margin: 1% 3%;
  font-weight: bold;
  font-size: 4rem;
  color: turquoise;
  text-shadow: 1px 1px snow;
}

.Nav__ButtonsContainer {
  margin: 3%;
}

.Nav__ButtonsContainer--navButton {
  width: 100%;
  margin: 5% auto;
  background-color: #2AC1C5 !important;
  border: 2px solid #959595 !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.Nav__ButtonsContainer--navButton:hover {
  transform: scale(1.03);
}

.Nav__ButtonsContainer--navButtonDark {
  width: 100%;
  margin: 5% auto;
  color: turquoise;
  background-color: black !important;
  border: 2px solid turquoise !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.Nav__ButtonsContainer--navButtonDark:hover {
  transform: scale(1.03);
}

.Button {
  background-color: #2AC1C5 !important;
  border: 2px solid #959595 !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.Button:hover {
  transform: scale(1.03);
}

.Button--dark {
  color: turquoise;
  background-color: black !important;
  border: 2px solid turquoise !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

.Button--dark:hover {
  transform: scale(1.03);
}