.NavContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 32.5%;
  margin: 0 !important;
  padding: 1.5%;
  border-right: 2px solid #959595;
  background-color: #D7D7D7;
  height: 100%;
}

.Nav__header {
  font-size: 500%;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 12%;
}

.Button  {
  border: 2px solid #959595 !important;
  background-color: #2AC1C5 !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 2rem !important;
  height: 90px;
  width: 100%;
  margin-bottom: 10%;
  cursor: pointer;
}
