.PrimaryContainer {
  margin: 3.33%;
}

.PrimaryContainer__newNote {
  margin: 3.33%;
}

.PrimaryContainer__header {
  margin: 4% 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: #4A484A;
}

.PrimaryContainer__cardContainer {
  display: flex;
  flex-flow: wrap;
  /* justify-content: space-between; */
}

.CardLink {
  color: black;
}

.CardLink:hover {
  text-decoration: none;
  color: black;
}

.NoteCard {
  margin-bottom: 3%;
}

.NoteCard:hover {
  transform: scale(1.05);
  z-index: 3;
}

.CardTitle {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #959595;
}

.CardContent {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 180%;
}

.ContentInput {
  height: 200px;
}