div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 4px;
  /* color: transparent; */
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

div.react-tagsinput {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

span.react-tagsinput-tag {
  background-color: #2ac1c5;
  color: white;
  border: #d7d7d7;
  font-weight: bold;
  border-radius: 5px;
}

input.primary-input {
  opacity: 0;
}

.react-tagsinput {
  width: 80%;
}

.tagButton {
  /* padding-top: 5px; */
  
}

@media (max-width: 1128px) {
  .react-tagsinput { width: 100%; }

  .tagEditContainer { flex-direction: column !important; }

  .tagButton { 
    float: right !important; 
    font-size: 1rem !important;
  }
}