.App {
  background: rgb(245, 245, 245);
  display: flex;
  min-height: 100vh;
  max-height: 100%;
  min-width: 400px;
  width: 100%;
}

.App_sideBar {
  background: rgb(209, 209, 209);
  border-right: 1px solid rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  width: 25%;
}

.App_sideBar h3 {
  border-bottom: 1px solid rgb(141, 141, 141);
  color: rgb(82, 82, 82);
  font-size: 30px;
  line-height: 30px;
  margin: 20px 0 25px;
  padding-bottom: 30px;
  width: 80%;
}

.App_link {
  align-items: center;
  display: flex;
  background: rgb(0, 178, 184);
  border: 2px solid rgb(72, 182, 182);
  border-radius: 3px;
  box-shadow: -2px 1px 3px rgb(128, 128, 128);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  margin: 10px 0;
  text-decoration: none;
  width: 80%;
}

.App_sideBar button:focus {
  outline: none;
}

.App_body {
  width: 75%;
}
