.TodoCard {
  background: white;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 2px;
  box-shadow: -1px 1px 2px rgb(128, 128, 128);
  color: rgb(77, 77, 77);
  cursor: pointer;
  height: 200px;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 0 10px;
  width: 30%;
}

.TodoCard_link, .TodoCard_link:visited {
  color: inherit;
  text-decoration: none;
}

.TodoCard_title {
  border-bottom: 1px solid rgb(161, 161, 161);
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px 0;
}

.TodoCard_body {
  font-size: 14px;
  margin: 0;
}

.createCard {
  align-items: center;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  width: 30%;
}

.createCard p {
  align-items: center;
  background: rgb(0, 210, 218);
  border: 2px solid rgb(168, 168, 168);
  border-radius: 5px;
  box-shadow: -1px 1px 2px rgb(128, 128, 128);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 70px;
  height: 80px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: -1px 1px 2px rgb(128, 128, 128);
  width: 80px;
}

@media (max-width: 768px) {
  .TodoCard, .createCard {
    width: 45%;
  }
}

@media (max-width: 545px) {
  .TodoCard, .createCard {
    margin-left: 10px;
    width: 90%;
  }
}