.TodoForm {
  color: rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  padding: 35px 5%;
}

.TodoForm_header {
  font-size: 24px;
  font-weight: bold;
  padding-top: 13px;
}

.TodoForm_header:after {
  border-bottom: 1px solid rgb(161, 161, 161);
  content: '';
  display: block;
  height: 10px;
  margin-left: -10px;
}

.TodoForm_inputs {
  display: flex;
  flex-direction: column;
}

.TodoForm_inputs * {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 2px;
  box-shadow: inset 1px 1px 2px rgb(128, 128, 128);
  font-size: 14px;
  height: 40px;
  margin-bottom: 15px;
  outline: none;
  padding: 10px;
}

.TodoForm_inputTitle {
  width: 40%;
}

.TodoForm_inputBody {
  height: 300px;
  resize: none;
  width: 90%;
  
}
