.add-edit-note{
    box-sizing: border-box;
    padding: 90px 46px 90px 46px;

    .title{
        margin-bottom: 48px;
    }

    .title-input{
        width: 548px;
        height: 60px;
        background-color: @white;
        border: 2px solid @gray;
        border-radius: 3px;
        margin-bottom: 25px;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.1rem;
        font-family: arial;
    }

    .text-input{
        width: 100%;
        height: 530px;
        background-color: @white;
        border: 2px solid @gray;
        border-radius: 4px;
        margin-bottom: 25px;
        box-sizing: border-box;
        padding: 30px;
        font-size: 1.1rem;
        font-family: arial;
    }

    .button{
        width: 295px;
        height: 65px;
        background-color: @cyan;
        border: 1px solid @dark-gray;
        //FONT
        font-family: helvetica;
        color: @white;
        font-weight: bold;
        font-size: 1.4rem;
    }
}