.title-font{
    font-family: helvetica;
    font-weight: bold;
    font-size: 3.1rem;
    color: @darkest-gray;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}

.subtitle-font{
    font-family: helvetica;
    font-weight: bold;
    font-size: 1.8rem;
    color: @darkest-gray;
}

.note-title-font{
    font-family: helvetica;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.note-body-font{
    font-family: helvetica;
    font-size: 1.2rem;
    line-height: 2.0rem;
}

.view-note-body-font{
    font-family: helvetica;
    font-size: 1.35rem;
    line-height: 2.4rem;
}

.link-font{
    font-family: helvetica;
    font-weight: bold;
    font-size: 1.25rem;
    color: @darkest-gray;
    margin-left: 20px;
}