@import './variables';
@import './mixins';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.App {
    .flex(space-between, flex-start, row);
    .side-nav {
        .flex(flex-start, flex-start, column);
        width: 20%;
        background-color: @medium-grey;
        position: fixed;
        height: 100vh;
        .nav-title {
            font-size: 4rem;
            color: @dark-grey;
            margin: 20px 20px 10px;
        }
        .nav-link {
            .button(@teal, white);
            margin: 10px auto;
        }
    }
    .current-page {
        width: 80%;
        min-height: 100vh;
        margin-left: 20%;
        padding: 10px 30px;
        background-color: @light-grey;
    }
}

.note-list {
    margin-top: 50px;
    h2 {
        font-size: 3rem;
        color: @dark-grey;
        margin-left: 10px;
    }
    .notes-container {
        .flex(space-between, center, row);
        flex-wrap: wrap;
        a {
            text-decoration: none;
            padding: 10px 0;
            color: black;
        }
    }
}

.note-card {
    border: 1px solid @dark-grey;
    padding: 10px 20px;
    margin: 10px;
    width: 250px;
    height: 270px;
    background-color: white;
    .note-title {
        font-size: 2.4rem;
        padding-bottom: 10px;
        border-bottom: 1px solid @dark-grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .note-body {
        font-size:  1.8rem;
        height: 200px;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        hyphens: auto;
        -moz-hyphens: auto;
    }
}

.note-page {
    .flex(space-between, flex-start, column);
    .note-btns {
        align-self: flex-end;
        .flex(space-evenly, center, row);
        margin: 10px 30px;
        .note-btn {
            font-size: 1.8rem;
            text-decoration: underline;
            color: black;
            margin: 0 10px;
            cursor: pointer;
        }
    }
    .full-note {
        margin: 10px;
        .full-title {
            font-size: 4rem;
            font-weight: 600;
            color: @dark-grey;
        }
        .full-body {
            font-size: 2rem;
            color: @dark-grey;
            margin-top: 30px;
        }
    }
}

.form {
    .flex(flex-start, flex-start, column);
    font-size: 4rem;
    font-weight: 600;
    color: @dark-grey;
    margin: 40px 10px;
    .title-input {
       .input(50%, auto, 30px 0 10px);
    }
    .content-input {
        .input(70%, 400px, 10px 0 20px);
    }
    .form-submit {
        .button(@teal, white);
    }
}
