.flex(@justify, @align, @direction) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
    flex-direction: @direction;
}

.button(@bg, @color) {
    width: 250px;
    background: @bg;
    color: @color;
    border: 1px solid @medium-grey;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}