.modal {
  top: 200px;

  .modal-dialog {
    max-width: 600px;
  }

  .modal-content {
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
    padding: 15px 0 25px;

    .modal-body {
      margin-top: 10px;
    }
  
    .row {
      margin: 0 auto;
    }
  
    button {
      margin: 20px 10px;
    }
  }
}
