.modal {
  top: 200px;

  .modal-content {
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0;
    padding: 15px 0 25px;
  
    .row {
      margin: 0 auto;
    }
  
    button {
      margin: 5px 10px 20px;
    }
  }
}
