.notes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.note {
  margin: 30px 10px 50px;
  width: 300px;
}

.card {
  border-radius: 2px;
  border-width: 2px;
  text-align: left;
  height: 200px;
}

.single-note-card {
  width: 100%;

  .note {
    width: 100%;
    text-align: left;
  }
  
  a {
    float: right;
    margin-left: 10px; 
  }
}
