.notes {
  display: flex;
  flex-wrap: wrap;

  a:hover {
    text-decoration: none;
    color: black;
  }
}

.note {
  margin: 30px 5px 0;
  width: 225px;
}

.card {
  border-radius: 2px;
  border-width: 2px;
  text-align: left;
  height: 235px;
  transition-duration: 400ms;

  &:hover {
    background: lighten(black, 35%);
    color: white;
  }
}

.single-note-card {
  width: 100%;

  .note {
    width: 100%;
    text-align: left;
  }
  
  a {
    float: right;
    margin-left: 10px;
    text-decoration: underline;
  }
}
