.note-list{
    height: 100vh;
    padding: 90px 40px 90px 40px;
    box-sizing: border-box;
    background-color: @light-gray;

    .note-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 45px;
        background-color: @light-gray;
    }
}