.note-form-container {
  width: 100%;
  text-align: left;

  h2 {
    margin-bottom: 20px;
  }

  .note-form {
    display: flex;
    flex-direction: column;

    input {
      width: 50%;
    }

    input, textarea {
      border-width: 2px;
    }

    textarea {
      padding: 15px;
      height: 300px;
    }
  }
}
