.notes {
  display: flex;
  flex-wrap: wrap;
}

.note {
  margin: 30px 10px 0;
  width: 250px;
}

.card {
  border-radius: 2px;
  border-width: 2px;
  text-align: left;
  height: 275px;
}

.single-note-card {
  width: 100%;

  .note {
    width: 100%;
    text-align: left;
  }
  
  a {
    float: right;
    margin-left: 10px; 
  }
}
