.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background: lightgray;
  border-right: 1px solid gray;
  padding: 20px 5px;

  h1 {
    font-weight: bold;
  }

  button {
    margin: 20px 5px 10px;
  }
}
