.nav_container {
    border-radius: 5px 0 0 5px;
    background-color: #D3D2D3;
    border-right: 2px solid palegoldenrod;
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: 40px;
    text-align: left;
    margin-left: 15px;
    margin-top: 70px;
    line-height: 35px;
    border-left: 10px dashed palegoldenrod;
    padding-left: 15px;
    color: #5a5a5a;
    text-shadow: 2px 2px palegoldenrod;
}

button {
    color: white;
    background-color: #23B7BD;
    font-weight: bold;
    height: 40px;
    width: 188px;
    font-size: 16px;
    margin: 0 10px 15px 10px;
    border-radius: 3px;
}