.login-form {
    width: 500px;
    height: 280px;
    padding: 15px;
    border-radius: 5px;
    margin: 200px auto;
    background: #D3D2D3;
    border: 0.5px solid black;
}

.login-button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    background: #56b9bd;
    color: white;
    margin-top: 15px;
}

.login-form input {
    width: 100%;
    height: 30px;
    margin-top: 15px;
}