body {
  box-sizing: border-box;
  max-width: 100%;
  width: 1200px;
  margin: 5px;
}
.sidebar {
  background-color: #D3D2D3;
  font-size: 15px;
  line-height: .2;
}
.sidebarbutton {
  text-align: center;
  padding: 20px 40px;
  color: white;
  background-color: #24B8BD;
  margin: 15px;
}
.navigation {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  width: 245px;
}
h1 {
  margin: 15px;
  color: #424242;
}
.noteview {
  display: flex; 
}
.note {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 200px;
  margin: 10px;
}
.notetitle {
  font-size: 15px;
}
button {
  width: 150px;
  margin: 0px 45px;
}
.notelist {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.notetext {
  margin: 0px 15px;
  overflow-y: hidden;
}