.app-container {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
}

.content-container {
  width: 70%;
  max-height: 100%;
  margin-left: 30%;
  background-color: #f2f1f2;
}

.content-wrapper {
  margin: 40px 2%;
  min-height: 100vh;
  max-height: 100%;
}

.auth-wrapper {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  min-width: 400px;
  margin: 120px auto;
  background-color: #e7e7e7;
}

.auth-wrapper .nav-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.auth-wrapper .nav-wrapper h2 {
  width: 100%;
  padding-top: 25px;
  margin: 20px 0;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #4b4b4a;
}

.auth-wrapper .nav-wrapper a {
  margin: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #4b4b4a;
}
