.App {
  width: 100%;
  white-space: nowrap;
}

/*Display*/
.Notes {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 70%;
  background: rgb(240, 239, 239);
  padding: 2%;
  padding-top: 5%;
  border:  1px solid gray;
  box-sizing: border-box;
  
}
/*CreateNote*/

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: left;
  float: left;
  padding-left: 2%;
}

#save {
  width: 40%;
  margin: 0;
  padding: 5.5%;
}

.form-control, .form-control1 {
  margin-bottom: 3%;
  padding: 3%;
  border-radius: 0;

}

.form-control {
  width: 65%;
}

.form-control1 {
  
  height: 300px;
  width: 90%;
}
/*List*/
.note-container-list {
  display: flex;
  width: 25%;
  flex-direction: column;
  background: white;
  margin: 1%;
  padding: 1%;
  border: solid black 1px;
  float: left;
  flex-wrap: wrap;
  min-height: 100%;
}

