.App {
    display: flex;
}
.routerDiv{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color:#D8D8D8;
    height: 100%;
    border: 1px solid green; 
}

.routeUl{
    list-style-type: none;
}