.App {
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Menu {
  height: 100vh;
  width: 30%;
  background: lightgrey;
  float: left;
  padding: 1%;
  border:  1px solid gray;
  box-sizing: border-box;

  
}

#title {
  font-size: 50px;
  color: rgb(51, 51, 51);
  padding: 5%;
}

h1 {
  color: rgb(51, 51, 51);
}

button {
  background: teal;
  color: white;
  font-size: x-large;
  margin: 5%;
  padding: 5%;
  width: 90%;
  border:  1px solid gray;
}

button:hover {
  background: blue;
}

.Notes {
  display: flex;
  height: 100vh;
  width: 70%;
  background: rgb(240, 239, 239);
  padding: 2%;
  padding-top: 9%;
  border:  1px solid gray;
  box-sizing: border-box;
  
}

.col-xs-4 {
  display: flex;
  float: left;
  clear: both;
}

.form-control {
  margin: 5%;
  padding: 5%;
  width: 90%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
