.Container{
  display: flex;
  height: 100%;
  background: #F4F4F4;
  .Note-Container{
    width: 100%;
    margin: 20px;
    .Links{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: right;
      margin-right: 15px;
      .Edit-Link{
        margin-right: 10px;
      }
    }
    .Note-Title{
      font-size: 25px;
      margin: 15px 0;
      font-weight: 700;
      width: 100%;
    }
    .Note-Content{
      margin: 10px 0;
      font-family: 'Raleway';
      line-height: 1.5;
    }
  }
}