* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
@media (max-width: 800px) {
  .App {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
.App .nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  background-color: #bdbdbd;
  position: fixed;
  height: 100vh;
}
@media (max-width: 800px) {
  .App .nav {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
}
@media (max-width: 500px) {
  .App .nav {
    height: 30vh;
  }
}
.App .nav .nav-title {
  font-size: 4rem;
  color: #2e3137;
  margin: 20px 20px 10px;
}
.App .nav .nav-links {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .App .nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .App .nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.App .nav .nav-links .nav-link {
  width: 250px;
  background-color: #00BDC0;
  color: white;
  border: 1px solid #bdbdbd;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  max-width: 95%;
}
.App .nav .nav-links .nav-link:hover {
  border: 1px solid #00BDC0;
  background-color: white;
  color: #00BDC0;
}
.App .current-page {
  width: 80%;
  min-height: 100vh;
  margin-left: 300px;
  padding: 10px 30px;
  background-color: #e4e3e4;
}
@media (max-width: 800px) {
  .App .current-page {
    min-height: 80vh;
    margin: 20vh 0 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .App .current-page {
    margin: 30vh 0 0;
  }
}
.note-list {
  margin-top: 50px;
}
@media (max-width: 500px) {
  .note-list {
    text-align: center;
  }
}
.note-list h2 {
  font-size: 3rem;
  color: #2e3137;
  margin-left: 10px;
}
@media (max-width: 500px) {
  .note-list h2 {
    margin-left: 0;
  }
}
.note-list .searchbar {
  margin-left: 10px;
  padding: 10px;
  width: 250px;
  font-size: 1.8rem;
  border: 1px solid #bdbdbd;
}
@media (max-width: 500px) {
  .note-list .searchbar {
    margin-left: 0;
  }
}
.note-list .notes-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .note-list .notes-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}
.note-list .notes-container a {
  text-decoration: none;
  padding: 10px 0;
  color: black;
}
.note-card {
  border: 1px solid #2e3137;
  padding: 10px 20px;
  margin: 10px;
  width: 250px;
  height: 270px;
  background-color: white;
}
.note-card .note-title {
  font-size: 2.4rem;
  padding: 5px 0 10px;
  border-bottom: 1px solid #2e3137;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-card .note-body {
  line-height: 1.8rem;
  font-size: 1.8rem;
  height: 180px;
  word-break: break-word;
  hyphens: auto;
  -moz-hyphens: auto;
  overflow: hidden;
  padding-bottom: 10px;
}
.note-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.note-page .note-btns {
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 10px 30px;
}
.note-page .note-btns .note-btn {
  font-size: 1.8rem;
  text-decoration: underline;
  color: black;
  margin: 0 10px;
  cursor: pointer;
}
.note-page .full-note .full-title {
  font-size: 4rem;
  font-weight: 600;
  color: #2e3137;
}
.note-page .full-note .full-body {
  font-size: 2rem;
  color: #2e3137;
  margin-top: 30px;
}
.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 600;
  color: #2e3137;
  margin: 40px 10px;
}
.form .title-input {
  width: 50%;
  min-height: auto;
  padding: 15px;
  background-color: white;
  font-size: 1.8rem;
  color: #2e3137;
  margin: 30px 0 10px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 500px) {
  .form .title-input {
    width: 100%;
  }
}
.form .content-input {
  width: 70%;
  min-height: 400px;
  padding: 15px;
  background-color: white;
  font-size: 1.8rem;
  color: #2e3137;
  margin: 10px 0 20px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 500px) {
  .form .content-input {
    width: 100%;
  }
}
.form .important-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.form .important-container .important-checkbox {
  height: 40px;
  width: 40px;
}
.form .important-container .important {
  font-size: 2.2rem;
}
.form .form-submit {
  width: 250px;
  background-color: #00BDC0;
  color: white;
  border: 1px solid #bdbdbd;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.form .form-submit:hover {
  border: 1px solid #00BDC0;
  background-color: white;
  color: #00BDC0;
}
@media (max-width: 500px) {
  .form .form-submit {
    margin: auto;
  }
}
.modal {
  padding: 60px 80px;
  font-size: 2rem;
  text-align: center;
}
.modal .modal-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}
.modal .modal-btns .modal-delete {
  width: 250px;
  background-color: #DE0000;
  color: white;
  border: 1px solid #bdbdbd;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px;
}
.modal .modal-btns .modal-delete:hover {
  border: 1px solid #DE0000;
  background-color: white;
  color: #DE0000;
}
.modal .modal-btns .modal-no {
  width: 250px;
  background-color: #00BDC0;
  color: white;
  border: 1px solid #bdbdbd;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-btns .modal-no:hover {
  border: 1px solid #00BDC0;
  background-color: white;
  color: #00BDC0;
}
.loading {
  margin: 30vh auto;
}
