body {
    background-color: black;
}

.App {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    /*  border: 4px solid pink;    */
    background-color: rgb(192, 192, 192);
}

.noteContainer {
    width: 700px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 1px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.noteContainer:hover {
    background-color: slategray;
}

.inputButton {
    background-color: blue;
    color: white;
    border-radius: 15px;
    width: 100px;
    font-size: 16px;
}

.inputButton:hover {
    background-color: rgba(109, 220, 240, 0.534);
}

.inputField {
    border: 1px solid gray;
    width: 200px;
    height: auto;
    left: 0px;
    top: 0px;
    font-size: 16px;
    border-radius: 15px;
}

.clearButton {
    color: white;
    width: 140px;
    height: auto;
    left: 150px;
    top: 100px;
    font-size: 16px;
    background-color: blue;
    border-radius: 15px;
}

.clearButton:hover {
    background-color: rgba(109, 220, 240, 0.534);
}

li {
    font-size: 16px;
}

/* h1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 40px;
    font-family: fantasy;
    color: slategray;
} */

.h1Container {
    /* border: 1px solid white; */
    width: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.ul {
    color: white;
    font-size: 16px;
}

.nav-left {
    max-width: 338px;
    width: 338px;
    font-size: 18px;
    background-color: rgb(216, 216, 216);
    height: 2000px;
    /*  position: absolute; */
    top: 0px;
    border: 2px solid rgb(151, 151, 151);
}

.nav-list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    line-height: 30px;
    padding-top: 47px;
    padding-left: 0px;
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
    height: auto;
    /*  animation: move-it 2s 1; */
    /*    border: 2px solid gray;  */
}

.nav-title {
    font-weight: bold;
    font-size: 52px;
    text-align: left;
    height: 120px;
    margin-left: 22px;
    padding-top: 30px;
    line-height: 42px;
    width: 313px;
    /* border: 2px solid blue; */
}

.nav-left-item {
    /*  margin-left: 5px; */
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    left: 0px;
    top: 0px;
    /*  border: 1px solid red; */
    /*  animation: move-it 2s linear 0s 10; */
}

.nav-left-item:hover {
    /*  background-color: black; */
    /*   animation: move-it 1s linear 0s 10; */
}

.nav-button {
    color: white;
    font-size: 26px;
    background-color: rgb(43, 193, 196);
    /* padding-bottom: 6px; */
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin-left: 0px;
    width: 292px;
    height: 64px;
    border: 2px solid rgb(151, 151, 151);
}

.nav-button:hover {
    /*  background-color: black; */
    color: rgb(8, 89, 143);
}

.nav-left-icon-1 {
    /* background-image: url('./Graphics/fish16.png'); */
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black;  */
    /* animation: move-it; */
}

.nav-left-icon-1:hover {
    /*  background-image: url('./Graphics/fish15.png'); */
}

#icon2 {
    /* background-image: url('./Graphics/fish22.png'); */
}

/* view catches */

#icon3 {
    /*   background-image: url('./Graphics/fish11.png'); */
}

/* enter catch info */

#icon4 {
    /*    background-image: url('./Graphics/fish7.png'); */
    width: 120px;
}

/* save changes */

#icon5 {
    /*  background-image: url('./Graphics/fish24.png'); */
    width: 140px;
}

/* clear fields */

#icon6 {
    /*  background-image: url('./Graphics/fish14.png'); */
}

/* cancal changes */

#icon7 {
    /*  background-image: url('./Graphics/fish9.png'); */
    width: 120px;
}

/* print */

#icon8 {
    /*  background-image: url('./Graphics/fish7.png'); */
    width: 120px;
}

/* logout */

#icon9 {
    /*   background-image: url('./Graphics/fish13.png'); */
    width: 140px;
}

#icon2:hover {
    /*   background-image: url('./Graphics/fish23.png'); */
}

#icon3:hover {
    /*   background-image: url('./Graphics/fish12.png'); */
}

#icon4:hover {
    /*  background-image: url('./Graphics/fish8.png'); */
}

#icon5:hover {
    /*    background-image: url('./Graphics/fish25.png'); */
}

#icon6:hover {
    /*  background-image: url('./Graphics/fish13.png'); */
}

#icon7:hover {
    /*   background-image: url('./Graphics/fish10.png'); */
}

#icon8:hover {
    /*  background-image: url('./Graphics/fish8.png'); */
}

#icon9:hover {
    /*  background-image: url('./Graphics/fish10.png'); */
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /*  height: 100%; */
    /*  border: 2px solid white;    */
}

.main-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* position: relative; */
    max-width: 100%;
    width: 1024px;
    color: white;
    background-color: rgb(243, 243, 243);
    font-size: 18px;
    text-align: left;
    padding: 0px;
    left: 146px;
    top: 0px;
    border: 2px solid rgb(151, 151, 151);
}

.note-create-form,
.note-edit-form {
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    width: 932px;
    font-weight: bold;
    color: rgb(74, 74, 74);
}

.note-create-header {
    margin-top: 90px;
    font-size: 40px;
}

.note-title-input {
    margin-top: 50px;
    height: 65px;
    width: 552px;
    border: 2px solid rgb(181, 181, 181);
}

.note-textarea {
    margin-top: 23px;
    height: 533px;
    border: 2px solid rgb(181, 181, 181);
}

.save-button,
.update-button {
    margin-top: 23px;
    width: 294px;
    height: 67px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    background-color: rgb(43, 193, 196);
    border: 2px solid rgb(151, 151, 151);
}

.save-button:hover,
.update-button:hover {
    color: rgb(8, 89, 143);
}

.note-card {
    border: 2px solid rgb(166, 166, 166);
    height: 300px;
    color: black;
    width: 295px;
    margin-bottom: 38px;
    background-color: white;
}

.note {
   /*  border: 2px solid red; */
    height: 238px;
    width: 236px;
    margin-left:29px;
    margin-top: 20px;
    cursor: pointer;
}

.title {
    border: 2px solid white; 
    background-color: white;
    color: black;
    height: 58px;
    line-height: 20px;
    padding-top: 14px;
    font-weight: bold;
    font-size: 24px;
    border-bottom-color: rgb(151, 151, 151);
}

.textBody {
    line-height: 28px;
    padding-top: 10px;
    font-size: 22px;
    line-height: 32px;

}

.note-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 938px;
    margin-left: 43px;
   /*  border: 2px solid green; */
}

.list-title {
    height: 24px;
    line-height: 18px;
    margin-top: 92px;
    width: 938px;
    color: rgb(74, 74, 74);
    font-size: 30px;
    font-weight: bold;
    /* border: 2px solid blue; */
}

.list-container {
    /* border: 2px solid orange; */
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.id-id {
    color: black;
}

.note-view {
   border: 2px solid blue;
}

.spacer {
   border: 2px solid green; 
}

.edit-button {
   border: 2px solid red; 
}

.delete-button {
   border: 2px solid orange; 

}

.note-name {
   border: 2px solid pink; 
}

.note-body {
   border: 2px solid gray; 
}