/* Nav side bar css */

.nav-side-bar {
    width: 20%;
    height: 100%;
    background: #D3D2D3;
    margin: 10px;
    top: -10px;
    display: flex;
    position: fixed;
}

.nav-title {
    line-height: 50px;
    margin: 10px;
    margin-top: 50px;
    font-size: 50px;
}

.note-btn {
    text-align: center;
    background: #24B8BD;
    padding: 10px;
    margin: 12px;
    margin-top: 25px;
    width: 138%;
    color: white;
    border: 1px solid #9BB2B3;
    font-size: 20px;
}

.crt-btn {
    text-align: center;
    background: #24B8BD;
    padding: 10px;
    margin: 12px;
    margin-top: 25px;
    width: 138%;
    color: white;
    border: 1px solid #9BB2B3;
    font-size: 20px;
}

/* Notes List css */

.note-container {
    width: 80%;
    padding: 30px;
    background: #F2F1F2;
    min-height: 100vh;

}

.note-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 28px;
}


.note-container h1 {
    margin-right: 1256px;
}

.list-contain {
    height: 150px;
    background: white;
    border: 2px solid #D9D9D9;
    padding: 15px;
    overflow: hidden;
    margin-top: 30px;
    cursor: pointer;
    flex-basis: 15%;
}

.note-title {
    border-bottom: 2px solid #D9D9D9;
}

/* Single page note view */

.single-note {
    flex-basis: 80%;
    margin-left: 50px;
}

.single-title {
    margin-top: 100px;
    margin-left: 50px;
}

.single-para {
    margin-left: 50px
}

/* Add note page */

.input-container {
    margin-left: 70px;
    margin-top: 40px;
}

.input-field {
    margin-bottom: 20px;
    width: 140%;
    height: 40px;
    border-radius: 5px;
}

.text-field {
    width: 350%;
    height: 400px;
    border-radius: 5px;
}

.save-btn {
    width: 150px;
    height: 30px;
    font-size: 15px;
    color: white;
    background: #24B8BD;
}

.delete-edit {
    display: flex;
    justify-content: flex-end;
    margin-right: 41px;
}

.delete-edit h1 {
    font-size: 16px;
    margin: 20px;
}


