/* Nav side bar css */

.nav-side-bar {
    width: 20%;
    height: 100%;
    background: #D3D2D3;
    margin: 10px;
    top: -10px;
    display: flex;
    position: fixed;
}

.nav-title {
    line-height: 50px;
    margin: 10px;
    margin-top: 50px;
    font-size: 50px;
}

.note-btn {
    text-align: center;
    background: #24B8BD;
    padding: 10px;
    margin-left: 51px;
    margin-top: 25px;
    width: 100%;
    color: white;
    border: 1px solid #9BB2B3;
    font-size: 20px;
}

.crt-btn {
    text-align: center;
    background: #24B8BD;
    padding: 10px;
    margin-left: 50px;
    margin-top: 20px;
    width: 100%;
    color: white;
    border: 1px solid #9BB2B3;
    font-size: 20px;
    margin-bottom: 25px;

}

.nav-search {
    padding: 10px;
    margin-left: 80px;
    text-align: center;
}



/* Notes List css */

.note-container {
    width: 80%;
    padding: 30px;
    background: #F2F1F2;
    min-height: 100vh;

}

.note-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 28px;
}


.note-container h1 {
    margin-right: 1256px;
}

.list-contain {
    height: 150px;
    background: white;
    border: 2px solid #D9D9D9;
    overflow: hidden;
    margin-top: 30px;
    cursor: pointer;
    flex-basis: 15%;
}

.note-title {
    border-bottom: 5px solid #F9EACF;
    
    
}

/* Single page note view */

.single-note {
    flex-basis: 80%;
    margin-left: 50px;
}

.single-title {
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 5px;
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 599px;
    height: 53px;
    font: normal 20px verdana;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
}

.single-para {
    margin-left: 50px;
    border-radius: 5px;
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 600px;
    height: 50vh;
    font: normal 14px verdana;
    line-height: 1.7;
    padding: 2px 10px;
    border: solid 1px #ddd;
}

/* Add note page */

.input-container {
    margin-left: 70px;
    margin-top: 40px;
}

.input-field {
    margin-bottom: 20px;
    width: 1;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

.text-field {
    border-radius: 5px;
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    width: 600px;
    height: 300px;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
}

.save-btn {
    width: 150px;
    height: 30px;
    font-size: 15px;
    color: white;
    background: #24B8BD;
}

.delete-edit {
    display: flex;
    justify-content: flex-end;
    margin-right: 41px;
}

.delete-edit h1 {
    font-size: 16px;
    margin: 20px;
}

/* Module delete */

.delete {
    width: 40%;
    height: 40px;
    margin-left: 25px;
    margin-right: 20px;
    background: red;
    font-size: 16px;
    color: white;
}

.no {
    width: 40%;
    height: 40px;
    margin-left: 4px;
    margin-right: 2px;
    background: #198084;
    font-size: 16px;
    color: white;
}

.modal-text {
    text-align: center;
}

.indiv-note {
    flex-basis: 15%;
    height: 200px;
    border: 1px solid #D9D9D9;
    overflow: hidden;
    margin: 10px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    padding: 2px;
    box-shadow: 5px 5px #888888;
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
}

     /* (Optional) Apply a "closed-hand" cursor during drag operation. */
     .indiv-note:active { 
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
}

