/*Heading Font: Roboto Bold

Heading color: 4A4A4A

Content Font: Raleway Regular

Content color: black

Button background: 2BC1C4

Sidebar background: D8D8D8

Main background: F3F3F3

Delete background: D0021B*/

.note {
	height: 200px;
	margin: 1rem 0;
}
body{
	background-color:#F3F3F3;
}
.leftSide {
	background:D8D8D8;
	border: 2px solid #979797;
	height:100%;
}
.right-side {
	min-height:100%;
}
.card-body {
  overflow: hidden;
}

a.card-link {
  text-decoration: none;
  color: black;
}
a.card-link:hover {
  color: black;
}
.header {
  color: #4a4a4a;
  font-weight: bold;
  line-height: 85%;
}
/* Button Color: 2bc1c4 */
.header-link {
  text-decoration: underline;
  color: #4a4a4a;
  cursor: pointer;
}
.header-link:hover {
  color: black;
}

h5.card-title {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 0.3rem;
}