.navbar__container {
  display: flex;
  flex-direction: column;
  padding: 9% 7%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: bold;
  line-height: 90%;
  margin-bottom: 25px;
}

.navBar__button {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  background: #2BC1C4;
  border: 1px solid rgb(124, 124, 124);
  font-size: 13px;
  color: white; 
  font-weight: bold;   
}

.navBar__button:hover {
  cursor: pointer;
}