.ViewNotes__Text {
    font-family: "Roboto Bold";
    font-size: 28px;
    color: #434243;
    font-weight: bold;
    margin-top: 65px;
  }
  
  .ViewNotes__Note {
    margin-top: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: #c9c9c9;
    width: 240px;
    height: 250px;
    padding: 20px;
    font-size: 10px;
  }
  
  .ViewNotes__Note__Title {
    width: 100%;
    height: 40px;
    background-color: red;
  }