.editNote {
    background: #F3F3F3; 
    display: flex; 
    flex-direction: column; 
    margin: 0; 
    min-height: 100%; 
    width: 75%; 
}

.editNote h4 {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 60px 0 0 4%; 
}

.editNote input {
    border: 1.5px solid #979797; 
    border-radius: 3px; 
    margin: 28px 0 0 4%; 
    padding: 10px; 
    width: 55%; 
}

.editNote textarea {
    border: 1.5px solid #979797; 
    border-radius: 3px; 
    margin: 14px 0 0 4%; 
    padding: 10px; 
    resize: none; 
    width: 90%; 
}

.submit {
    background: #2BC1C4; 
    border: 1.5px solid #979797;
    color: #FFFFFF; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 28px 0 28 4% !important; 
    padding: 10px; 
    width: 28%; 
}