.noteButtonContainer {
  margin-left: 5%;
  margin-right: 5%;
}
.title {
  font-size: 2.3rem;
  font-weight: bold;
}
.button {
    border: 1px solid grey;
    color: white;
    background: #24B9BD;
    width: 90%;
    text-align: center;
    padding: 5% 5%;
}