.notes-container {
    /* max-width: 735px; */
    width: 100%;
    background-color:  #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 73px 32px 0px 32px;
    box-sizing: border-box;
}

.your-notes {
    display: block;
    font-size: 22px;
    width: 100%;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    color: #4A494A;
    margin-bottom: 27px;
}