.modal{
    width: 50%;
}

.styles_modal__gNwvD{
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.delete-button{
    width: 40%;
    padding: 20px 0;
    background-color: #D0021B;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0;
    
}

.styles_modal__gNwvD h3{
    font-size: 2rem;
}

.styles_overlay__CLSq-{

background-color: rgba(221, 221, 221, 0.8);

}

.no-button{
    width: 40%;
    padding: 20ox 0;
    background-color: #2BC1C4;
    color: white;
    font-weight: bold;
    font-size: 2rem;

}