.note-container{
    display:flex;
    max-width:975px;
    margin: 0 auto;
}
.main-container{
    display:flex;
    flex-direction:column;
    
}
.note-header{
    background-color: #F3F3F3;
    margin:0;
    padding: 20px 0px 0px 20px;
    margin-bottom:0px;
}
