.edit-note{
    display: flex;
    flex-direction: column;
}

.edit-delete{
    display: none;
}

.edit-title{
    width: 50%;
    margin: 0 0 13px 0;
    padding: 10px 0
}

.edit-textBody{
height: 40vh;
}

.save-edit-btn{
    background-color: #2BC1C4;
    width: 25%;
    margin: 20px 0;
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
}


.add-note-h1{
    font-size: 3rem;
    margin: 10px 0 28px 0;
    font-weight: bold;
}

.add-note-wrapper{
    margin: 50px 3%;
    height: 83vh;
}

textarea{
    margin-top:10px;
}