.note_container {
 display: flex ;
 flex-direction: row ;
 flex-wrap: wrap ;
}

.note_styling {
 margin: 20px 20px 20px 20px ;
}
.note_title {
 font-size: 1rem ;
 font-family: 'Archivo Black';
 overflow: hidden;
 text-overflow: ellipsis;
 width: 100px ;
}

.note_body {
 width: 150px ;
 height: 100px ;
 overflow: scroll ;
 font-family: 'Courier New', Courier, monospace ;
 font-size: 0.8rem ;
}