.loading-note{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
}

.single-note-view{
    width: 100%;

}

.edit-delete{
    display: flex;
    padding: 36px 3% 4px 0;
    justify-content: flex-end;
}

.edit-delete p{
    padding: 0 5px;
    font-size: 1.6rem;
    text-decoration: underline #4A4A4A;
    cursor: pointer;
}

.note-title-body h1{
    font-size: 3rem;
    margin: 10px 0 30px 0;
    font-weight: bold;
}

.note-title-body{
    height: 83vh;
    margin: 0px 3%;
    color: #4A4A4A
}

.note-title-body p{
    font-size: 1.6rem;
    line-height: 25px;
}


