.form-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-right:30px;
  }

  .card{
      width: 150px;
      height: 200px;
  }

  .tcard{
      border-bottom: 1px solid grey;
  }