.Nav{
    display: flex;
    flex-direction: column;
    border: 2px solid #979997;
    width: 20%;
    height: 90%;
    font: #4a4a4a;
    background: #D8D8D8;
}

.button{
    margin: 4px;
    padding: 4px;
}

.button1{
    margin: 4px;
    padding-top: 4px;
}

.download{
    margin: 4px;
    padding-top: 4px;
}