.Nav {
    border: 1px solid #979797;
    background: #D8D8D8;
    font: #4A4A4A;
    /* display: fixed; */
    width: 13%;
    height: 600px;   
  }

.button {
    color:  #FFFFFF;
    margin-top: 9px;
    width: 100%;
}

.button1{
    width: 100%;
    padding-left: 20px;
    margin-top: 10px;
}

/* .container{
    flex-direction: column;
} */
