.Nav{
    display: flex;
    flex-direction: column;
    border: 2px solid #979997;
    width: 20%;
    height: 90%;
    margin: 10px;
    font: #4a4a4a;
}

.button{
    margin:10%;
}

.button1{
    margin: 5%;
}