.container {
    width: 100%;
    border: 1px solid gray;
    padding-left: 25px;
    padding-top: 25px;
}
.noteCard {
    display: inline-block;
    width: 25%;
    border: 1px solid black;
    margin: 10px 10px 15px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.noteName {
    font-size: 18px;
    border-bottom: 1px solid black;
    padding-top: 5px;
    font-weight: bold;
}

.noteContent {
    display: inline-block;
    justify-content: flex-start;
    font-size: 16px;
    margin-top: 10px;
}

.sideBarContainer {
    width: 25%;
    border: 1px solid gray;
}