
.edit-form {
    margin-left:25px;
}
.edit-form input {
    height:25px;
    margin-bottom:10px;
    display:block;
    width: 300px;
    box-shadow: inset 0 0 1px #000000;

}

.edit-form textarea {
    font-size: 14px;
    display:block;
    margin-bottom:20px;
    box-shadow:inset 0 0 3px #000000;
}

.edit-form button{
    color:white;
    background:#3888cd;
    width: 150px;
    height:50px;
    display:block;
}