.List-page h2 {
    margin-left:25px;
}


.List{
    display:flex;
    flex-wrap: wrap;
    margin-left:25px;

}

.List-item{
    border: 1px solid gray;
    margin-right:25px;
    width:250px;
    height:250px;
    background:white;
    overflow:hidden;
    margin-bottom:25px;
}


.List-item h3 {
    color: #484848;
    width:90%;
    margin:auto;
    margin-top:10px;
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom: 2px solid #696969;
}

.List-item p {
    width: 90%;
    margin:auto;

}