.note-component-wrapper{
    display:flex;
    background-color:#F3F3F3;
    max-width:1200px;
    width:100%;
    margin: 0 auto;
  }
  
  .create-header{
    display:flex;
    flex-direction:column;
    padding-left:25px;
    width:75%;
  }