.App {
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
}
.mainContent {
  width: 85%;
  margin: 1% 0%;
  background: #F2F1F2;
  border: 1px solid grey;
}
/* .headerContainer {
  border: 1px solid red;
} */
.navContainer {
  border: 1px solid grey;
  width: 15%;
  margin: 1% 0%;
  background: #D3D2D3
}