.noteList__container {
  width: 31.2%;
  height: 415px;
  border: 1px solid black;
  margin-bottom: 53px;
  margin-left: 20px;
  background: #FFFFFF;
}

.noteList__container:hover {
  background: rgb(250, 250, 250);
  cursor: pointer;
}

.noteList__box {
  display:flex;
  flex-direction: column;
}

-noteList__box-title {

}

-noteList__box-content {

}
