.App-left {
    background-color: #F3F3F3;
    float: left;
    width: 50%;
}

.App-right {
    background-color: grey;
    margin-left: 50%;
}


.App {
  text-align: left;
}



.App-header {
  background-color: dark grey;
  height: 150px;
  width: 20%;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.box {
height:200px;
width: 200px;
border: 1px solid black;
color: black;
background-color: F3F3F3


}