.Delete-Button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 50x;
    padding: 0 10px 0;
}

