.noteListDiv {
  background: blueviolet;
  /* margin and width to offset the navbar */

  padding: 4rem;
  color: white;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.notesMainDiv {
  text-align: start;
  margin-left: 220px;
}

.noteDiv {
  color: white;
  background: red;
  margin: 1rem;
  width: 150px;
  height: 150px;
}

.landingTitle {
  margin: 5rem 7rem;
}
