.noteListDiv {
  background: blueviolet;
  /* margin and width to offset the navbar */

  padding: 4rem;
  color: white;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  /* Don't know if I want to space evenly yet */
  /* justify-content: space-evenly; */
  align-items: center;
}

.notesMainDiv {
  text-align: start;
  margin-left: 220px;
}

.landingTitle {
  margin: 5rem 7rem;
}

.noteDiv {
  color: white;
  background: red;
  border: 1px solid white;
  margin: 1rem;
  padding: 1rem;
  width: 150px;
  height: 150px;
  text-decoration: none;
}

.noteDescription {
  padding-top: 0.5rem;
  border-top: 1px solid white;
}

.individualNote {
  background: orangered;
  color: black;
  font-size: 2rem;
}
