.container{
  border:solid gray;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  width:100%;
 
}
.view{
 width:250px;
  height:250px;
  border:solid gray;
  flex-wrap: wrap;
  margin:3px;
  }
  .sage{
    width:30px;
    height:100%;
    border:solid gray;
  }
  button{
    color:blue;
    margin:5px;
  }