.App {
 height: 100%;
 width: 100%; 
 display: flex;
 text-align: center;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.Nav {
  min-width: 200px;
  min-height: 700px;
  background-color: rgb(214,214, 213);
  display: flex;
  align-content: center;
  flex-direction: column;
}

.NoteList {
  background-color: rgb(241,241, 241);
}

.AddNote .EditNote {
  width: 3300px;
  background-color: rgb(214, 214, 213);
}

.Inputtext {
  padding-bottom: 10px;
  margin: 1% 3%;
  width: 40%;
  text-align: start;
}

.Inputfield {
  padding-bottom: 400px;
  width: 90%;
  text-align: start;
  margin: 1% 3%;
}

.Title {
  text-align: left;
  padding: 1% 3%;
}

.ListCard {
  flex: 1 0 30%;
  height: 240px;
  min-width: 200px;
  margin: 1%;
  overflow: hidden;
}

.Note {
  background-color: rgb(241, 241, 241);
  min-height: 700px;
}

.Note__nav {
  display: flex;
  justify-content: flex-end;
  text-decoration-line: underline;
  font-weight: 700;
  margin: 1%;
}

.Button {
  width: 160px;
  border: 1px solid black;
  background-color: #2EB8BC;
  color: white;
  margin: 3%;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Content {
  padding: 3%;
}

.Nav__item {
  margin: 0 1%;
}