.App {
 height: 100%;
 width: 100%; 
 display: flex;
 text-align: center;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.Nav {
  min-width: 180px;
  min-height: 700px;
  background-color: #D8D8D8;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.NoteList {
  background-color: #F4F4F4;
  border: 1px 1px solid gray;
}

.AddNote .EditNote {
  width: 3300px;
  background-color: #F4F4F4;
  border: 1px solid gray;
}

.Inputtext {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 0.5%;
  -moz-box-shadow: inset 0 0 1px gray;
  -webkit-box-shawdow: inset 0 0 1px gray;
  box-shadow: inset 0 0 1px gray;
  margin: 1% 3%;
  width: 40%;
  text-align: start;
}

.Inputfield {
  padding-bottom: 400px;
  padding-top: 10px;
  padding-left: 10px;
  width: 90%;
  text-align: start;
  margin: 1% 3%;
  border-radius: 0.5%;
  -moz-box-shadow: inset 0 0 1px gray;
  -webkit-box-shadow: inset 0 0 1px gray;
  box-shadow: inset 0 0 1 px gray;
}

.Title {
  text-align: left;
  padding: 1% 3%;
}

.ListCards {
  width: 100%;
  padding: 0 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ListCard {
  flex: 3 3 30%;
  height: 240px;
  min-width: 200px;
  margin: 1%;
  overflow: hidden;
}

.Note {
  background-color: #F4F4F4;
  min-height: 700px;
}

.Note__nav {
  display: flex;
  justify-content: flex-end;
  text-decoration-line: underline;
  font-weight: 700;
  margin: 1%;
}

.Button, Button__Delete{
  width: 160px;
  border: 1px solid gray;
  background-color: #2BC1C5;
  color: white;
  margin: 3%;
  padding-top: 6px;
  border: 1px solid gray;
  height: 40px;
}

.Button__Delete {
  width: 160px;
  background-color: red;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Content {
  padding: 3%;
}

.Nav__item {
  margin: 0 1%;
}

.flex {
  padding-right: 300px;
}