.navigation {
  background-color: #D8D8D8;
  border-right: 1px solid gray;
  height: 100vh;
}

a:hover {
  text-decoration: none;
  border: 1px solid #2BC1C4;
  background-color: white;
  color: #2BC1C4;
}