.card{
    border: 1px solid #84001a;
    height: 200px;
    padding: 2%;
    margin: 2%;
    flex: 0 1 calc(24% - 1em);
    -webkit-box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    transition: all 0.5s;

}
.card:hover {
	box-shadow: inset 0 0 0 2px #84001a;
}