.actionContainer {
    display: flex;
    justify-content: flex-end;
    margin: 15px 30px 0 0;
}

.edit {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    margin-right: 15px;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.delete {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.noteHeader {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    text-align: start;
    margin: 2px 0 10px 25px;
    font-size: 21px;
}

.noteP {
    text-align: start;
    margin: 25px;
    line-height: 25px;
    font-size: 14px;
}