.App {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  min-height: 1024px;
  width: 100%;
  max-width: 1300px;
}
.App .navButton-top {
  text-decoration: none;
  padding: 17px 51px;
  border: 1px solid #979797;
  background: #2bc1c4;
  color: white;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 1.45rem;
  font-weight: bolder;
}
.App .navButton-bottom {
  text-decoration: none;
  padding: 17px 40px;
  border: 1px solid #979797;
  background: #2bc1c4;
  color: white;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 1.45rem;
  font-weight: bolder;
}
.App .left-top-btn {
  position: absolute;
  top: 177px;
  left: 23px;
}
.App .left-bottom-btn {
  position: absolute;
  top: 264px;
  left: 23px;
}
.App .edit-button {
  position: absolute;
  top: 28px;
  right: 114px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
}
.App .edit-button .edit-link {
  color: black;
}
.App .edit-button .edit-link:hover {
  font-weight: 600;
}
.App .delete-button {
  position: absolute;
  top: 28px;
  right: 35px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
}
.App .delete-button .delete-link {
  color: black;
}
.App .delete-button .delete-link:hover {
  font-weight: 600;
}
