.CreateNote {
  display: flex;
  text-align: center;
  border: 1px solid #D3D3D3;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.LeftSide {
  border: 1px solid #d3d3d3;
  background-color: #d3d2d3;
  max-width: 25%;
}

.LambdaNotes {
  color: #5f5b58;
  font-weight: bold;
  font-size: 38px;
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
}

.LeftSideButtons {
  background-color: #2eb8bc;
  width: 220px;
  margin-top: 20px;
  border-radius: 0%;
  border-color: #5f5b58;
}

.RightSide {
  width: 75%;
  background-color: #f5f5f5;
  border: 1px solid #d3d2d3;
  
}

.CreateNewNote {
  margin-top: 40px;
  margin-left: 40px;
  text-align: left;
  color: #5f5b58;
  font-weight: bold;
}

.FormDiv {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 240px;
}

.SubmitButton {
  background-color: #2eb8bc;
  width: 220px;
  margin-top: 20px;
  border-radius: 0%;
  border-color: #5f5b58;
}