.editNoteMainDiv {
  padding: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.editNoteMainDiv h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.editNoteMainDiv form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.editNoteMainDiv .inputTitle {
  max-width: 25rem;
  min-height: 2rem;
  border: 1px solid #8b9c9d;
  margin: 1rem 0;
}

.editNoteMainDiv .inputDescription {
  max-width: 50rem;
  min-height: 25rem;
  border: 1px solid #8b9c9d;
}

.editNoteMainDiv button {
  margin: 1rem 0;
  padding: 1rem;
  width: 240px;
  background: #2ac0c4;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #8b9c9d;
  cursor: pointer;
}

.editNoteMainDiv button:hover {
  background: #50cbce;
}
