.single-card {
  width: 100%;
  position: relative;
}
.single-card-title {
  font-size: 2rem;
  font-weight: bold;
}

.single-card-text {
  font-size: 1.2rem;
}

.edit-delete {
  position: absolute;
  display: flex;
  right: 0;
  margin: 0 20px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}

.edit-delete p, .edit-delete h2 {
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.got-one-card {
  border: none;
}