.App {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  min-height: 1024px;
}
.App .navButton-top {
  text-decoration: none;
  padding: 17px 51px;
  border: 1px solid #979797;
  background: #2bc1c4;
  color: white;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 1.45rem;
  font-weight: bolder;
}
.App .navButton-bottom {
  text-decoration: none;
  padding: 17px 40px;
  border: 1px solid #979797;
  background: #2bc1c4;
  color: white;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 1.45rem;
  font-weight: bolder;
}
.App .left-top-btn {
  position: absolute;
  top: 177px;
  left: 23px;
}
.App .left-bottom-btn {
  position: absolute;
  top: 264px;
  left: 23px;
}
.App .edit-button {
  position: absolute;
  top: 28px;
  right: 114px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
}
.App .edit-button .edit-link {
  color: black;
}
.App .edit-button .edit-link:hover {
  font-weight: 600;
}
.App .delete-button {
  position: absolute;
  top: 28px;
  right: 35px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
}
.App .delete-button .delete-link {
  color: black;
}
.App .delete-button .delete-link:hover {
  font-weight: 600;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.left-rail {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  text-align: left;
  max-width: 318px;
  width: 33.8%;
  background: #d8d8d8;
  padding-left: 20px;
  border-right: 1px solid #979797;
}
.left-rail .left-rail__title {
  text-align: left;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 3.2rem;
  padding-top: 26px;
}
.core-rail {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  background: #f3f3f3;
  color: black;
  width: 100%;
  padding-top: 83px;
  padding-left: 40px;
}
.core-rail .note-list__title {
  text-align: left;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 1.9rem;
  width: 100%;
  height: 30px;
  padding-bottom: 43px;
}
.core-rail .note-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.core-rail .note-list .note-list-note-link {
  text-decoration: none;
  color: black;
}
.core-rail .note-list .note-list-note-link:hover {
  font-weight: bolder;
}
.core-rail .note-list .note-list-note {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background: white;
  width: 276px;
  height: 282px;
  border: 1px solid #979797;
  padding: 15px;
  margin: 0px 20px 36px 3px;
  cursor: pointer;
}
.core-rail .note-list .note-list-note .note-list-note__title {
  height: 36px;
  text-align: left;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
  padding: 0px 10px;
}
.core-rail .note-list .note-list-note .note-list-note__title:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  width: 99%;
  /* Change this to whatever width you want. */
  padding-top: 9px;
  /* This creates some space between the element and the border. */
  border-bottom: 1.5px solid #979797;
  /* This creates the border. Replace black with whatever color you want. */
}
.core-rail .note-list .note-list-note .note-list-note__body {
  height: 192px;
  text-align: left;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  padding: 10px;
  line-height: 1.7;
}
.core-rail .view-note-container .view-note__title {
  text-align: left;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 1.9rem;
  width: 100%;
  height: 30px;
  padding-bottom: 43px;
}
.core-rail .view-note-container .view-note__body {
  text-align: left;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.42rem;
  padding: 0px;
  line-height: 1.55;
}
.core-rail .delete-note-container {
  opacity: 50%;
}
.new-note-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.new-note-container .title-input {
  resize: none;
  overflow: hidden;
  padding: 20px 0 21px 17px;
  margin-bottom: 18px;
  width: 57%;
  border-radius: 3px;
  height: 18px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}
.new-note-container .content-input {
  resize: none;
  border-radius: 3px;
  padding: 28px;
  font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  width: 94%;
  height: 442px;
}
.new-note-container .save-btn {
  width: 29%;
  text-decoration: none;
  padding: 17px 10px;
  border: 1px solid #979797;
  background: #2bc1c4;
  color: white;
  font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 1.45rem;
  font-weight: bolder;
  margin: 18px auto auto 2px;
  cursor: pointer;
}
