.note-card {
  width: 240px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.note-card-title {
  font-size: 1.6rem;
  font-weight: bold;
  word-wrap: break-word;
  border-bottom: 1px solid black;
}

.note-card-text {
  font-size: 1.2rem;
  word-wrap: break-word;
}

@media (max-width: 500px) {
  .note-card {
    width: 500px;
  }
}