form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

input {
  flex-grow: 10;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1.6rem;
  border: 1px solid black;
}

button {
  flex-grow: 2;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1.6rem;
  border: 1px solid black;
  margin-left: 20px;
}