.sidebarDiv {
  text-align: start;
  padding: 1rem;
  background: #d7d7d7;
  color: #4a494a;
  position: fixed;
  font-size: 2rem;
  font-weight: bold;
  height: 100%;
  width: 250px;
  z-index: 1;
  top: 0;
  left: 0;
}

.mainNavButtonsDiv button {
  margin: 1rem 0;
  padding: 1rem;
  width: 240px;
  background: #2ac0c4;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  cursor: pointer;
}
