.ViewNotes {
  display: flex;
  width: 100%;
}

.LeftSide {
  border: 1px solid #d3d3d3;
  background-color: #d3d2d3;
  max-width: 25%;
}

.LambdaNotes {
  color: #5f5b58;
  font-weight: bold;
  font-size: 38px;
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
}

.LeftSideButtons {
  background-color: #2eb8bc;
  width: 220px;
  margin-top: 20px;
  border-radius: 0%;
  border-color: #5f5b58;
}

.RightSide {
  max-width: 75%;
  background-color: #f5f5f5;
  border: 1px solid #d3d2d3;
}
.YourNotes {
  margin-top: 40px;
  margin-left: 40px;
  text-align: left;
  color: #5f5b58;
  font-weight: bold;
}

.Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.Card {
  width: 200px;
  margin: 15px;
  border-color: #5f5b58;
  border-radius: 0%;
}
