.noteView {
    width: 100%;
    padding: 1.75rem 3.25rem 5rem 2.75rem;
}

.note {
    margin-top: 3rem;
    padding: 2.25rem 1.75rem 5rem;
    background-color: #D3D3D3;
    border-radius: 1rem;
}

.note h3 {
    border-bottom: 1px black solid;
    padding-bottom: 1.5rem;
}

.noteText {
    padding-top: 2rem;
    padding-right: 2rem;
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: 0.325px;
}

.noteControl {
    text-align: right;
    cursor: pointer;
}

.editButton, .delete {
    text-decoration: underline;
    padding-left: 0.85rem;
}