.deleteNoteModal {
    margin-top: 16rem !important;    
    max-width: 60rem !important;
    width: 55rem !important; 
    text-align: center; 
}

.modal-content {
    border: 1px solid !important; 
    border-radius: 0 !important; 
}

.modal-text {
    font-size: 1.4rem;
    margin-top: 3.5rem;
}

.modal-delete-btn, .modal-no-btn {
    color: white;
    font-size: 1.4rem;
    font-weight: 500px;
    width: 18rem;
    height: 4rem;
    border: 1px solid #979797;
    margin: 1.5rem 0 3.5rem 0;
}

.modal-delete-btn {
    background-color: red;
    margin-right: 2rem;
}

.modal-no-btn {
    background-color:#2BC1C4;
}



