.click-container {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}

.single-note-header {
    margin-bottom: 3rem;
}

.content {
    text-align: left;
    font-size: 1.4rem;
}

.viewNote-btn {
    color: black;
    text-decoration-line: underline;
}

.delete-btn {
    cursor: pointer;
    text-decoration-line: underline;
    margin-left: 1rem;
}