.displayNone {
    display: none
}
.overlayWrapper {
    z-index: 100;
    background-color: white;
    width: 550px;
    position: fixed;
    margin-left: -20px;
    border: 1px solid #979797;
    box-shadow: 1px 1px 3px rgb(50, 50, 50); 

}
.modalButtons {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
.modalB {
    width: 40%;

}
.redButton {
    background-color: #D0021B;
    
}
.modalText {
    padding: 1rem 0;
}