.Form1 {
    display: inline-block;
    width: 500px;
    position: absolute;
    margin: 38px 0px 0px 38px;  
}

.container2 {
    display: inline-block;
    position: absolute;
    background-color: #F3F3F3;
    height: 1200px;
    width: 1000px;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin-left: 265px;
}
h6 {
    font: Roboto Bold;
    font-weight: bold;
    color: #4A4A4A;
    margin-left: 38px;
    margin-top: 80px;
    font-size: 25px;
}
#note-title {
    height: 45px;
    border-radius: 1;
    border: 1px solid darkgray;
}
#note-content {
    padding-bottom: 400px;
    width: 750px;
    border-radius: 1;
    border: 1px solid darkgray;

}
.button3 {
    display: block;
    background-color:#2BC1C4;
    color: #FFFF;
    border: 1px solid darkgray;
    font: Raleway Medium;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    width: 200px;
}
.button3:hover {
    background-color: #26acaf;
}
.container1 {
    display: inline-block;
    position: absolute;
    background-color: #F3F3F3;
    height: 1200px;
    width: 1000px;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin-left: 265px;
}
h2 {
    font: Roboto Bold;
    font-weight: bold;
    color: #4A4A4A;
    margin-left: 38px;
    margin-top: 80px;
    font-size: 25px;
}
.card {
    display: inline-block;
    width: 250px;
    height: 260px;
    border: 1px solid darkgrey;
    font: Raleway Medium;
    color: #4A4A4A;
    margin: 39px 41px;
    border-radius: 0;
}
.cardtitle {
    padding-top: 0;
    font-weight: bold;
    font-size: 19px;
}
.cardtext {
    font-size: 15px;
    line-height: 30px;
    border-top: 1px solid darkgray;
}

/* View note */
.content {
    display: inline-block;
    width:800px;
    position: absolute;
    margin: 38px 0px 0px 38px; 
    line-height: 2.1; 
    font: Raleway Medium;
    font-size: 15px;
    color: #4A4A4A;
}
.content2 {
    display: inline-block;
    width:800px;
    position: absolute;
    margin: 390px 0px 0px 38px; 
    line-height: 2.1;  
    font: Raleway Medium;
    font-size: 15px;
    color: #4A4A4A;
}

.container2 {
    display: inline-block;
    position: absolute;
    background-color: #F3F3F3;
    height: 1200px;
    width: 1000px;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin-left: 265px;
}
h6 {
    font: Roboto Bold;
    font-weight: bold;
    color: #4A4A4A;
    margin-left: 38px;
    margin-top: 80px;
    font-size: 25px;
}
.button4 {
    position: absolute;
    margin-left: 700px;
    margin-top: -70px;
    text-decoration: underline;
    border: none;
    background-color: #F3F3F3;
    color: #4A4A4A;
    font: Raleway Medium;
    font-size: 17px;
}
.button5 {
    position: absolute;
    margin-left: 750px;
    margin-top: -74px;
    text-decoration: underline;
    border: none;
    background-color: #F3F3F3;
    color: #4A4A4A;
    font: Raleway Medium;
}
Button {
    background-color: #F3F3F3;

}
.my-modal {
    margin-top: 200px !important;

}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
  }
.modalheader {
    border-bottom: none;
    padding-left: 82px;
}
.modalfooter {
    border-top: none;
    justify-content: center;
}   
.button6 {
    width: 190px;
    border-radius: 0px;
    border: 1px solid darkgray;
    margin: 10px 0 0 0;

}
.button7 {
    width: 190px;
    background-color: #2BC1C4;
    border-radius: 0px;
    border: 1px solid darkgray;
    margin: 10px 0 0 0;
}
.display-content {
    display: inline-block;
    width:800px;
    position: absolute;
    margin: 30px 0px 0px 38px; 
    line-height: 2.1;  
    font: Raleway Medium;
    font-size: 15px;
    color: #4A4A4A;
}