.single-note-container{
    border:1px solid black;
    width:100vw;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    
}

.spans{
    display:flex;
    justify-content: flex-end;
}

span{
    margin-right: 30px;
    margin-top: 30px;
    text-decoration: underline;
}

.single-note{
    
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.h3{
    margin-left: 20px;
}

.p{
    margin-left: 20px;
}