.App {
  text-align: left;
  margin: 0px auto;
  max-width: 850px;
  border: 1px solid black;
  padding: 0 10px;
}

h3, h1, h2, h4, h5, h6 {
  margin: 0;
}

.App-header {
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: flex-start;
  padding: 7px 0;
  margin-bottom: 2%;
 
  
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}


.appBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid gray;
  background: rgb(241, 240, 240);
  
}

.App-menu {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: 20px;
  text-align: left;
  color: white;
  width: 17%;
  padding: 2%;
  
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center
}

button {
  margin: 7% 0;
  width: 90%;
}

.note-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.note {
  border: 1px solid gray;
  width: 27%;
  height: 200px;
  padding: 1% 2%;
  overflow: hidden;
  margin-bottom: 10px;
  background: white;
 

  
  
}

.note-title {
  border-bottom: 2px solid lightgray;
  text-transform: uppercase;
  padding-bottom: 2%;
}

h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
h1 {
  font-size: 30px;
  margin-bottom: 15px;
  line-height: .8;
}

.page-header {
  margin-bottom: 3%;
}

.text-area {
  border: 2px solid rgb(194, 194, 194);
  /* height: 300px; */
  padding: 1.5%;
  border-radius: 2px;
  resize: none;
  
}

.input {
  border: 2px solid rgb(194, 194, 194);
  width: 40%;
  margin: 5% 0;
  padding: 1.5% ;
  border-radius: 2px;
}

.note-title-single {
  text-transform: uppercase;
  padding-bottom: 2%;
}

.note-menu {
  
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  margin-left: 20px;
  font-size: 12px
}


