.ListView {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-left: 10px;
}

.List-Header {
  margin: 70px 0 10px 10px;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: left;
}

.note {
  display: flex;
  flex-wrap: wrap;
}