@import url("https://fonts.googleapis.com/css?family=Roboto");

.ViewNote {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: #F3F3F3;
}

.note-form {
  display: flex;
  justify-content: flex-end;
}

.note-update {
  text-decoration: none;
  color: RGB(74, 74, 74);
  font-weight: bolder;
}

.note-update:hover {
  text-decoration: none;
  color: RGB(54, 192, 195);
}

.note-delete  {
  margin-left: 20px;
  border: none;
  background-color: #F3F3F3;
  color: RGB(74, 74, 74);
  font-weight: bolder;
}

.note-delete:hover {
  text-decoration: none;
  color: RGB(54, 192, 195);
}

.note-title {
  font-weight: bolder;
  font-family: Roboto;
  color: RGB(74, 74, 74);
  margin-left: 25px;
  margin-top:  25px;
}

.note-content {
  color: RGB(74, 74, 74);
  margin-left: 25px;
  margin-top:  25px;
}
