.loading-note{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
}

.single-note-view{
    width: 100%;
}

.edit-delete{
    display: flex;
    padding: 36px 26% 4px 0;
    justify-content: flex-end;
}

.edit-delete p{
    padding: 0 5px;
    font-size: 1.6rem;
    text-decoration: underline #4A4A4A;
    cursor: pointer;
}

.note-title-body h1{
    font-size: 3rem;
    margin: 10px 0 30px 0;
    font-weight: bold;
}

.note-title-body{
    min-height: 83vh;
    margin: 0px 15%;
    color: #4A4A4A;
    width: 60%;
}

.note-title-body p{
    font-size: 1.6rem;
    line-height: 25px;
    white-space: pre-line;
}

@media (max-width: 850px) {
    .edit-delete{
        padding: 36px 3% 10px 0;
    }

    .note-title-body {
        width: 73%;
     }
}

@media (max-width: 650px) {

    .edit-delete{
        padding: 36px 3% 4px 0;
    }

    .note-title-body p{
       width: 90%;
    }
}