.all-notes{
    width: 70%;
    height: 100vh;
}

.notes-wrapper{
    margin: 20px 6%;
    width:95%
}

.notes-header{
    font-size: 2.3rem;
    font-weight: bold;
}

.all-note-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly; 
   
}

.note-card{
    width: 100%;
    height: 13vw;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;

}

.note-card h2{
    font-size: 2rem;
    border-bottom: 2px solid #B1B1B1;
    font-weight: bold;
    margin: 0 0;
    padding: 10px 0;
}

.note-card p{
    font-size: 1.8rem;
    padding: 15px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.note-links{
    text-decoration: none;
    margin: 20px 1%;
    padding: 0 0;
    width: 31%;
    border: 1px solid #B1B1B1;
    background-color: white;
    flex-wrap: wrap;
    padding: 10px 2%;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 850px) {
    .all-note-cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

    .note-links{
        width: 48%;
    }
}

@media (max-width: 650px) {
    .all-note-cards{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0 3%;
    }

    .note-links{
        width: 95%;
    }

    .all-notes{
        width: 100%;
    }

    .notes-wrapper{
        width: 100%;
        margin: 20px 1%;
    }

    .notes{
        padding: 0 1%;
    }

    .notes-header{
        padding: 0 3%;
    }
}