

 
  /* display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: white;
  height: 100vh; */
  .links {
   
    padding: 15px;
    text-align: right;
    font-weight: bold;
  }

    .link {
   
      margin: 8px;
      color: gray;
    
    }
  
  .detail h4 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    font-size: 24px;
  }

  p {
    line-height: 30px;
  }
