.download {
  background-color: #f0f0f0;
  border: 1px solid grey;
  border-left: 0px;
  width: 75%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-header {
  font-size: 1.5rem;
  padding: 20px 20px 20px 0;
  padding-top: 40px;
}
