.view {
  background-color: #f0f0f0;
  border: 1px solid grey;
  border-left: 0px;
  width: 75%;
  padding: 20px;
}

.view-header {
  font-size: 1.5rem;
  padding: 10px 20px 20px 0;
  padding-top: 40px;
}

.view-body {
  display: flex;
  flex-wrap: wrap;
  line-height: 20px;
}

.edit {
    position: absolute;
    top: 15px;
    right: 250px;
    text-decoration: underline; 
}

.edit:hover {
  cursor: pointer;
}

.delete {
    position: absolute;
    top: 15px;
    right: 200px;
    text-decoration: underline; 
}

.delete:hover {
  cursor: pointer;
}