.SaveButton{
    background-color: #2BC1C4;
    color: #FFFFFF;
    font-size: .8rem;
    width: 200px;
    height: 35px;
}


.BodyForm{
    height: 400px;
    width: 600px;
    margin-bottom: 15px;
}

.TitleForm{
    width: 350px;
    margin-bottom: 15px;
}

.NoteForm{
    display:flex;
    flex-direction: column;
    
}