.NoteContainer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F3F3F3;
}

.Notes{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    height: 1000px;
}

.YourNotes{
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.Card{
    height: 200px;
    width: 200px;
    
}

.CardBody{
    border: 1px solid #979797;
}


.CardText{

    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.CardTitle{
    border-bottom: 1px solid #979797;
}

.NoteForm{
    background-color: #F3F3F3;
}

.FormHeader{
    margin-top: 30px;
}

.FormContents{
    margin-left: 15px;
}

.ViewForm{
    width: 100%;
    background-color: #F3F3F3;
}

.ButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Edit{
    margin-right: 15px;
}

.Delete{
    margin-right: 15px;
}

.DeleteButton{
    color: red;
}