button {
    display: block;
    color: #FFFFFF;
    background-color:  #2BC1C4;
    font-size: 16px;
    font-weight: bold;
    height: 47px;
    /* width: 211px; */
    border: 1px solid #979797;
    margin-bottom: 22px !important;
}

button:hover {
    cursor: pointer;
    background-color: #fff4ff;
    color: #2BC1C4;
    box-shadow: 3px 3px 3px gray;
}

.csv-btn {
    background-color: #800080;
}

.csv-btn:hover {
    background-color: #fff4ff;
    color: #800080;
    box-shadow: 3px 3px 3px gray;
}

.logoutBtn {
    background-color: black;
}

.logoutBtn:hover {
    color: black;
}