button {
    display: block;
    color: #FFFFFF;
    background-color:  #2BC1C4;
    font-size: 16px;
    font-weight: bold;
    height: 47px;
    /* width: 211px; */
    border: 1px solid #979797;
    margin-bottom: 22px !important;
}