.button {
  background-color: #2BC1C4;
  border: 1px solid #979797;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  cursor: pointer;
  color: #FFF;
  display: block;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  transition: all .15s ease-in-out;
}

.button:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  color: #FFF;
  text-decoration: none;
}

.button:active {
  background-color: #186769;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}