button {
  /* sizing */
  width: 100%;
  height: 42px;
  /* box model */
  border: 0.5px solid var(--color-border);
  border-collapse: collapse;
  /* colors */
  background-color: var(--color-bg--button-main);
  color: var(--color--button);
  /* text */
  font-family: 'Roboto', sans-serif;
}