// NoteCard_
.NoteCard-component {
  .custom-NoteCard {
    width: 220px;
    max-width: 220px;
    height: 225px;
    margin-bottom: 2rem;
    padding: 16px;
    & > h5 {
      font-weight: 500;
      margin: 0px;
      margin-bottom: 0.5rem;
    }
    .custom-hr {
      margin: 0px;
      border: 1px solid @border-color;
      margin-bottom: 0.5rem;
    }
    & > p {
      margin: 0;
      font-size: 100%;
      line-height: 1.565;
      letter-spacing: 0.03rem;
    }
  }
}
