.side-menu {
    background-color: #D3D2D3;
    width: 300px;
    height: 1000px;
    display: flex;
}

.lambda {
    /* border: 1px solid red; */
    flex-direction: column;
    padding-right: 155px;
    justify-content: center;
    align-items: center;
}

.notes {
    /* border: 1px solid blue; */
    margin-top: 50px;
    margin-left: -300px;
}

.buttons {
    /* border: 1px green solid; */
    display: flex;
    justify-content: space-evenly;
}

.view-notes {
    width: 245px;
    height: 50px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #24B8BD;
    display: flex;
    border-color: teal;
    border-radius: 2px;
    margin-top: 125px;
    margin-left: -100px;
    justify-content: center;
    cursor: pointer;
}

.create-note {
    width: 245px;
    height: 50px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #24B8BD;
    display: flex;
    border-color: teal;
    justify-content: center;
    border-radius: 2px;
    margin-top: 205px;
    margin-left: -245px;
    cursor: pointer;
}

span {
    padding: 5px;
    justify-content: center;
    align-self: center;
}