.side-bar {
    width: 220px;
    color: #4A4A4A;
    padding-top: 22px;
    padding-left: 14px;

    border-right: 1px solid #979797;
}

.side-bar-header {
    max-width: 150px;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    
    line-height: 30px;

    padding-bottom: 26px;
}

.side-bar-header a {
    text-decoration: none;
    color: #4A4A4A;
}

.side-bar-button {
    background: #2BC1C4;
    border: 1px solid #979797;
    width: 192px;
    height: 43px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    color: white;
    text-decoration: none;
}

.side-bar-button:hover {
    background: #4ED3D3;
}

.side-bar-button:active {
    background: #09B6B6;
}

.spacer {
    margin-bottom: 18px;
}