@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
#root {
  max-width: 1600px;
  width: 100%;
  font-size: 67.5% !important;
  font-family: 'Raleway', sans-serif;
  color: #4A4A4A;
  margin: 0 auto;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
.App {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .App {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: visible;
    max-height: 2000px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
.App .notelist-wrapper {
  display: flex;
  width: 75%;
  margin: 0;
}
@media (max-width: 800px) {
  .App .notelist-wrapper {
    width: 100%;
    height: 100vh;
    justify-content: center;
  }
}
.App .notelist-wrapper .card-container {
  width: 100%;
  background-color: #F3F3F3;
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}
.App .notelist-wrapper .card-container .main-container-header {
  margin-left: 65px;
  margin-top: 40px;
}
.App .notelist-wrapper .card-container .card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 88%;
  margin-top: 20px;
}
.App .notelist-wrapper .card-container .card-list .card {
  height: 150px;
  width: 150px;
  background-color: #ffffff;
  padding: 15px;
  border: 4px double #979797;
  font-size: 1.6rem;
  list-style-type: none;
  line-height: 1.25;
  margin: 10px 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 800px) {
  .App .notelist-wrapper .card-container .card-list .card {
    width: 90%;
  }
}
.App .notelist-wrapper .card-container .card-list .card a {
  text-decoration: none;
  color: #2BC1C4;
}
.App .sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #D8D8D8;
  height: 100vh;
  border-right: 1px solid #979797;
}
@media (max-width: 800px) {
  .App .sidebar-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 125px;
    margin: 0;
    padding: 0;
  }
}
.App .sidebar-wrapper .sidebar-header {
  display: flex;
  width: 70%;
  height: 125px;
}
@media (max-width: 800px) {
  .App .sidebar-wrapper .sidebar-header {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
}
.App .sidebar-wrapper .sidebar-header .app-header {
  display: flex;
  text-decoration: none;
  color: #4A4A4A;
}
@media (max-width: 800px) {
  .App .sidebar-wrapper .sidebar-header .app-header {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}
.App .sidebar-wrapper .sidebar-header .app-header .lambda-notes-headline {
  align-self: center;
  padding-left: 25px;
  font-weight: bolder;
  font-size: 4rem;
  margin: 0;
}
@media (max-width: 800px) {
  .App .sidebar-wrapper .sidebar-header .app-header .lambda-notes-headline {
    font-size: 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .App .sidebar-wrapper .button-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.App .sidebar-wrapper .button-container .button {
  height: 40px;
  width: 90%;
  background-color: #2BC1C4;
  color: #ffffff;
  margin: 20px auto;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .App .sidebar-wrapper .button-container .button {
    height: 50%;
  }
}
.App .sidebar-wrapper .button-container .button a {
  text-decoration: none;
  color: #ffffff;
}
.App .sidebar-wrapper .button-container .button a .button-label {
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  .App .sidebar-wrapper .button-container .view-button {
    display: none;
  }
}
@media (max-width: 800px) {
  .App .sidebar-wrapper .button-container .create-button {
    width: 90%;
    align-items: center;
    padding: 5px;
    text-align: center;
  }
}
.App {
  width: 100%;
  display: flex;
  justify-content: center;
}
.App .single-note-component-wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.App .single-note-component-wrapper .singular-note-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  width: 100%;
  background-color: #F3F3F3;
  height: 100vmax;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.4rem;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .link {
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .link-edit-delete {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 30%;
  left: 35%;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 250px;
  background-color: white;
  z-index: 10000;
  border: 1px solid #979797;
  box-shadow: 1px 1px 8px #979797;
  /*remove hackiness*/
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-header {
  text-align: center;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-footer {
  display: flex;
  justify-content: center;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-footer .delete-button {
  width: 100px;
  height: 40px;
  color: white;
  background-color: red;
  margin: 20px;
  cursor: pointer;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-footer .no-button {
  width: 100px;
  height: 40px;
  color: white;
  background-color: #2BC1C4;
  margin: 20px;
  cursor: pointer;
}
.App .single-note-component-wrapper .singular-note-container .edit-delete-bar .hidden {
  display: none;
}
.App .single-note-component-wrapper .singular-note-container .single-note-header {
  margin-left: 0px;
  width: 50%;
}
.App .single-note-component-wrapper .singular-note-container .note-body-single {
  width: 50%;
  line-height: 1.5;
  font-size: 1.4rem;
}
.App .note-component-wrapper {
  display: flex;
  background-color: #F3F3F3;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .App .note-component-wrapper {
    justify-content: center;
  }
}
.App .note-component-wrapper .create-header {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  width: 75%;
}
.App .note-component-wrapper .single-note-header {
  color: #4A4A4A;
}
.App .note-component-wrapper .single-note-header span {
  color: #22989a;
}
.App .note-component-wrapper .edit-create-form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .App .note-component-wrapper .edit-create-form {
    align-items: center;
    width: 100%;
  }
}
.App .note-component-wrapper .edit-create-form .input-text {
  margin-bottom: 25px;
  padding-left: 10px;
  border-radius: 5px;
  height: 30px;
  width: 60%;
}
@media (max-width: 800px) {
  .App .note-component-wrapper .edit-create-form .input-text {
    width: 100%;
  }
}
.App .note-component-wrapper .edit-create-form .input-text-area {
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  width: 98%;
  height: 400px;
}
.App .note-component-wrapper .edit-create-form .save-button {
  height: 40px;
  width: 45%;
  background-color: #2BC1C4;
  margin: 20px 0px;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}
@media (max-width: 800px) {
  .App .note-component-wrapper .edit-create-form .save-button {
    width: 100%;
  }
}
.App .note-component-wrapper .edit-create-form .save-button:hover {
  background-color: #22989a;
}
