@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body,
#root {
  font-size: 67.5%;
  font-family: 'Raleway Medium', sans-serif;
  margin: 0 auto;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Bold', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
.App {
  max-width: 2400px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .App {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: visible;
    margin: 0;
    padding: 0;
  }
}
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #D8D8D8;
  height: 100vh;
  border-right: 1px solid #979797;
}
@media (max-width: 900px) {
  .sidebar-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
  }
}
.sidebar-wrapper .sidebar-header {
  display: flex;
  width: 70%;
  height: 100px;
}
@media (max-width: 900px) {
  .sidebar-wrapper .sidebar-header {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
.sidebar-wrapper .button-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .sidebar-wrapper .button-container {
    height: 100px;
  }
}
.sidebar-wrapper .button-container .button {
  height: 40px;
  width: 90%;
  background-color: #2BC1C4;
  color: #FFFFFF;
  margin: 20px auto;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
}
@media (max-width: 900px) {
  .sidebar-wrapper .button-container .button {
    height: 50%;
  }
}
.sidebar-wrapper .button-container .button:hover {
  background-color: #26acaf;
}
.sidebar-wrapper .button-container .button a {
  text-decoration: none;
}
.sidebar-wrapper .button-container .button a .button-label {
  font-size: 1.8rem;
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 900px) {
  .sidebar-wrapper .button-container .view-button {
    display: none;
  }
}
@media (max-width: 900px) {
  .sidebar-wrapper .button-container .create-button {
    width: 90%;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
}
.app-header {
  display: flex;
  text-decoration: none;
  color: #4A4A4A;
}
@media (max-width: 900px) {
  .app-header {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}
.app-header .lambda-notes-headline {
  align-self: center;
  padding-left: 25px;
  font-weight: bolder;
  font-size: 4rem;
  margin: 0;
}
@media (max-width: 900px) {
  .app-header .lambda-notes-headline {
    font-size: 3rem;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
.notelist-wrapper {
  display: flex;
  width: 75%;
  margin: 0;
}
@media (max-width: 900px) {
  .notelist-wrapper {
    width: 100%;
    height: 100vh;
  }
}
.notelist-wrapper .card-container {
  width: 100%;
  background-color: #F3F3F3;
  background-attachment: fixed;
  margin: 0;
}
@media (max-width: 900px) {
  .notelist-wrapper .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.notelist-wrapper .card-container .main-container-header {
  margin-left: 65px;
  margin-top: 40px;
}
@media (max-width: 900px) {
  .notelist-wrapper .card-container .main-container-header {
    margin-left: 0;
  }
}
.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 88%;
  margin-top: 20px;
}
.card-list .card {
  height: 250px;
  width: 250px;
  background-color: #FFFFFF;
  padding: 15px;
  border: 4px double #979797;
  font-size: 1.6rem;
  list-style-type: none;
  line-height: 1.25;
  margin: 10px 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 900px) {
  .card-list .card {
    width: 90%;
  }
}
.card-list .card a {
  text-decoration: none;
  color: #2BC1C4;
}
.note-component-wrapper {
  display: flex;
  width: 75%;
  background-color: #F3F3F3;
  margin: 0;
}
@media (max-width: 900px) {
  .note-component-wrapper {
    width: 100%;
    justify-content: center;
  }
}
.note-component-wrapper .create-header {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-top: 40px;
  width: 100%;
}
@media (max-width: 900px) {
  .note-component-wrapper .create-header {
    margin-left: 0;
  }
}
.note-component-wrapper .single-note-header {
  color: #4A4A4A;
}
.note-component-wrapper .single-note-header span {
  color: #2BC1C4;
}
@media (max-width: 900px) {
  .note-component-wrapper .single-note-header {
    padding: 10px;
  }
}
.note-component-wrapper .edit-create-form {
  display: flex;
  flex-direction: column;
  width: 75%;
}
@media (max-width: 900px) {
  .note-component-wrapper .edit-create-form {
    align-items: center;
    width: 100%;
  }
}
.note-component-wrapper .edit-create-form .input-text {
  margin-bottom: 25px;
  padding-left: 10px;
  border-radius: 5px;
  height: 30px;
  width: 60%;
}
@media (max-width: 900px) {
  .note-component-wrapper .edit-create-form .input-text {
    width: 98%;
  }
}
.note-component-wrapper .edit-create-form .input-text-area {
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  width: 98%;
  height: 400px;
}
.note-component-wrapper .edit-create-form .save-button {
  height: 40px;
  width: 45%;
  background-color: #2BC1C4;
  margin: 20px 0px;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.8rem;
  cursor: pointer;
}
@media (max-width: 900px) {
  .note-component-wrapper .edit-create-form .save-button {
    width: calc(80vw);
  }
}
.note-component-wrapper .edit-create-form .save-button:hover {
  background-color: #26acaf;
}
.single-note-component-wrapper {
  display: flex;
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .single-note-component-wrapper {
    width: 100%;
    height: 100vh;
  }
}
.single-note-component-wrapper .singular-note-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  width: 100%;
  background-color: #F3F3F3;
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 1.4rem;
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .link {
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .link-edit-delete {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 30%;
  left: 35%;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 250px;
  background-color: white;
  z-index: 10000;
  border: 1px solid #979797;
  box-shadow: 1px 1px 8px #979797;
  /*remove hackiness*/
}
@media (max-width: 900px) {
  .single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content {
    max-width: 50%;
    position: absolute;
    padding: 20px;
    top: 20vh;
    left: 30vw;
  }
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-header {
  text-align: center;
  width: 100%;
  height: 40px;
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-footer {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-footer {
    flex-direction: column;
    align-items: center;
  }
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-footer .delete-button {
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  background-color: #D0021B;
  margin: 20px;
  cursor: pointer;
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .modal-content .modal-footer .no-button {
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  background-color: #2BC1C4;
  margin: 20px;
  cursor: pointer;
}
.single-note-component-wrapper .singular-note-container .edit-delete-bar .hidden {
  display: none;
}
.single-note-component-wrapper .singular-note-container .single-note-header {
  margin-left: 0px;
  width: 50%;
}
.single-note-component-wrapper .singular-note-container .note-body-single {
  width: 50%;
  line-height: 1.5;
  font-size: 1.4rem;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-color: #F3F3F3;
  margin: 0;
}
@media (max-width: 900px) {
  .login-form {
    width: 100%;
    justify-content: center;
    height: 100vh;
  }
}
.login-form .login-header {
  width: 50%;
  height: 300px;
  margin-bottom: 200px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .login-form .login-header {
    width: 95%;
    height: 500px;
    justify-content: space-between;
  }
}
.login-form .login-header .login-header-h2 {
  color: #4A4A4A;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .login-form .login-header .login-header-h2 {
    margin: 20px;
  }
}
.login-form .login-header .input-div {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .login-form .login-header .input-div {
    height: 100px;
    flex-direction: column;
    width: 85%;
  }
}
.login-form .login-header .input-div .input-text {
  padding-left: 10px;
  margin: 10px;
  height: 100%;
  width: 45%;
}
@media (max-width: 900px) {
  .login-form .login-header .input-div .input-text {
    width: 100%;
    height: 50px;
  }
}
@media (max-width: 900px) {
  .login-form .login-header .input-div label {
    align-self: flex-start;
    width: 85%;
    font-size: 1.4rem;
  }
}
.login-form .login-header .account-already {
  font-size: 1.4rem;
}
.login-form .login-header .submit-button {
  height: 40px;
  background-color: #2BC1C4;
  padding: 20px;
  margin: 20px 0px;
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.8rem;
  cursor: pointer;
}
