.Sidebar {
  width: 20%;
  background: lightgray;
  min-height: 100vh;
  padding: 20px 15px;
  border: 1px solid #b7b6b7;
}

.Sidebar h3 {
  font-size: 32px;
  line-height: 1;
}

.sidebarLinks {
  margin-top: 20px;
}

.sidebarLinks button {
  background-color: #20afb5;
  color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}