.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navigation-panel{
  width: 200px;
  height: auto;
  background-color: #D3D2D3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .navigation-panel button{
   background-color: #24B8BD;
   width: 130px;
   height: 30px;
 }

 .display-panel{
   /* width:inherit; */
   
   width: 100%;
   background-color: #F2F1F2;
 }