.Container__SideBar{
  border-right: 1px solid gray;
  width: 30%;
  padding: 20px;
  background: rgb(168, 166, 166);
}
.Container__SideBar button{
  width: 100%;
}
.Container__SideBar button{
  margin-top: 20px;
}
.Container__SideBar button:active{
  font-size: 18px;
}
.Container__Header{
  font-size: 40px;
  font-weight: bold;
  color: rgb(54, 54, 54);
}
.Container__MainContainer{
  padding: 0 30px;
  width: 100%;
  background: rgb(207, 207, 207);
}
.Container__MainContainer h1{
  color: rgb(54, 54, 54);
}
