.notelist-wrapper{
    margin: 20px;
}

.notelist-wrapper h1{
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
}
.note-card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.note-card {
    width: 30%;
    height: 300px; 
    border: 1px solid black;
}

.note-card:hover{
    cursor: pointer;
}

.note-component .note-title {
    font-size: 16px;
}

.note-component .note-textBody {
    font-size: 14px;
}

.create-edit-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.create-edit-form h1{
    font-size: 20px;
}

.create-edit-form .title-input{
    width: 400px;
}

.create-edit-form .textBody-input {
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
}

.save-input-button {
    width: 130px;
    height: 30px;
    background-color: #24B8BD;
    color: white;
}