.singletitle {
  padding-left: 2%;
}

.singledescrip {
  padding-left: 2%;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.edit {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #2d2527;
    height: 40px;
    width: 100px;
    border: .2px solid #84001a;
    -webkit-box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.edit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.edit span:after {
    content: '+/-';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.edit:hover span {
    padding-right: 25px;
  }
  
.edit:hover span:after {
    opacity: 1;
    right: 0;
  }

.delete {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #2d2527;
    height: 40px;
    width: 100px;
    border: .2px solid #84001a;
    -webkit-box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    box-shadow: -4px 3px 4.5px -5px rgba(0,0,0,0.75);
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.delete span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.delete span:after {
    content: '\00d7';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.delete:hover span {
    padding-right: 25px;
  }
  
.delete:hover span:after {
    opacity: 1;
    right: 0;
  }
