.editDeletelink {
    color: black;
    font-weight: 400;
    text-decoration: underline;
    margin-right: 1rem;
}
.editDeleteLinks {
    text-align: right;
    padding-top: 1rem;
}

.textBody  {
    text-align: left;
    margin: 0 1rem;
    word-wrap: break-word;
}