.notes {
    /* background-color: green; */
    margin: 6% 0% 4% 3%;
    width: 69%;
}

.sideBar {
    max-height: 100%;
}

.listView {
    left: 16%;

}

.sideBar_logout {
    position: relative;
    left: 85%;
    height: 100%;
}

.sideBar_logout button {
    color: white;
    background-color: rgb(224, 51, 20);
    border: none;
    width: 10vw;
    font-size: 1.7rem;
    text-decoration: none;
    cursor: pointer;
    margin-top: 15%;
    padding: 3% 2% 3% 2%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color:#FFFFFF;
    width: 30%;
    margin-top: 3%;
    text-align: center;
    padding: 6%;
    height: 100%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}
.card a {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
}
.card:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250)
}

.card button {
    width: 100%;
    background-color: red;
    border: none;
    text-decoration: none;
}

.card p {
    font-size: 1.3rem;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    color: black;
    justify-content: space-around;
}

.underline {
    border-bottom: 2px solid rgb(190, 187, 187);
    width: 80%;
    margin: 0 auto;
    color: black;
}

.loginBody {
    background-color: white;
    height: 100vh;
}

.loginCard {
    text-align: center;
    background-color: rgba(224, 223, 223, 0.383);
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    padding-top: 3%;
    padding-bottom: 8%;
}

.loginCard h1 {
font-size: 2.2rem;
color: rgb(93, 196, 196)
}

.inputs {
    margin-top: 5%;
    font-size: 1.5rem;
    color: rgb(144, 146, 146)
}

.loginCard input {
    width: 60%;
    height: 2rem;
    margin: 0 auto;
}

.inputs input {
    margin-bottom: 3%;
}

.loginCard button {
    color: white;
    background-color: aqua;
}

.loginCard button:hover {
    font-size: 1.3rem;
}