// LIstView
.list-view-component {
  .custom-list-view-container {
    flex-wrap: wrap;
    justify-content: space-between;

    & > a {
      text-decoration: none;
      color: @main-color;
    }

    .NoteCard-component;
  }
}