.list-container {
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-container a {
    color: black;
    background-color: white;
    border: 1px solid gray;
}

.list-container a:hover {
    border: 1px solid blue;
}

.card {
    border-radius: 0%;
}

.cardbody {
    width: 175px;
    height: 175px;
    overflow: hidden;
    font-family: Raleway;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
}

.cardheader {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    background-color: white;

}