.side {
    width: 15%;
    border: 1px solid #BEBEBE;
    height: 100%;
    padding-left: 2%;
    background: #D7D7D7;
    margin-top: 1%;
}

.side h1 {
  color: #4A494A;
}

.links {
    width: 90%;
    padding: 5%;
    padding-left: 7%;
    background-color: #2AC0C4;
    color: #FEFEFF;
}

.second {
  margin-top: 15px;
  padding: 5%;
}

.center {
    background: #F3F3F3;
}

.center h4 {
    color: #4A494A;
}

.notes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Card {
    width: 15%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
}

.title {
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 4%;
    padding-left: 8%;
}
