.notes {
    width: 15%;
    border: 1px solid #BEBEBE;
    height: 100%;
    padding-left: 2%;
    background: #D7D7D7;
}

.side h1 {
  color: #4A494A;
}

.links {
    border: 1px solid #94A3A4;
    width: 90%;
    padding: 5%;
    padding-left: 7%;
    background-color: #2AC0C4;
    color: #FEFEFF;
}

.second {
  margin-top: 15px;
  padding: 5%;
}


