.side {
    width: 15%;
    height: 100vh;
    padding-left: 2%;
    background: #D7D7D7;
    margin-top: 1%;
}

.side h1 {
  color: #4A494A;
}

.links {
    width: 90%;
    padding: 5%;
    padding-left: 7%;
    background-color: #2AC0C4;
    color: #FEFEFF;
}

.second {
  margin-top: 15px;
  padding: 5%;
}

.right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #F3F3F3;
    margin-left: 15%;
}

.right h4 {
    color: #4A494A;
    margin-left: 5%;
}

.Card {
    width: 15%;
    height: 190px;
    margin: 10px;
}

.title {
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 4%;
    padding-left: 8%;
}

.body {
    overflow: hidden;
}
