.Note {
    display: flex;
    flex-flow: row;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 2px black solid;
    height: 1200px;
  }
  
  .Note-feature {
    width: 30%;
    padding-left: 20px;
    background: rgb(209, 204, 204); 
    font-size: 25px;
  }
  
  .Note-buttons {
    text-align: center;
    width: 90%;
    border: 2px solid black;
    background: rgb(16, 183, 189);
    height: 60px;
    font-size: 25px;
    margin-top: 15px;
  }
  
  .Note-content {
    width: 70%;
    padding: 0 0 0 20px;
    background: rgb(245, 244, 244);
    padding-top: 84px;
  }
  
  .Note-notesDisplay {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 80px;
    margin-top: 45px;
  }
  
  .Note-notes {
    width: 30%;
    font-size: 15px;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 8px 10px;
    background: white;
  }
  
  h3 {
    width: 100%;
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
    margin-top: 0px;
  }

