.notes-holder{
    width: 640px; 
    height: 100%; 
    position: fixed; 
    background: #FAFBFC;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.note-card-section{
    width: 560px; 
    height: auto; 
}