.notes-holder{
    width: 640px;  
    background: #FAFBFC;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: scroll; 
}
.note-card-section{
    width: 560px; 
    height: auto; 
}