.save-note-form {
  display: flex;
  flex-direction: column;
}

.save-note-form .form-control {
  border-color: #979797;
  color: #4A4A4A;
  font-size: .8rem;
  padding: 1rem;
  margin: 12px 0;
}

.save-note-form .form-control.contents {
  min-height: 400px;
}

.save-note-form .button {
  max-width: 250px;
}