.login-container{
    max-width:800px;
    width:100%;
    background-color: #F2F1F2;
    border: 2px solid #B7B7B7;
    height:500px;
    margin:100px auto;
}
.header-container{
    background-color:#D3D2D3;
    vertical-align: center;
    width:65%;
    margin:30px auto;
    text-align: center;
    height:120px;
    color:#424242;
    font-size:22px;
    border: 2px solid #B7B7B7;
}

.input-container{
    display:flex;
    flex-direction:column;
    width:65%;
    margin:10px auto;
}
input{
    margin:15px;
    height:30px;
    border-radius:5px;
    padding-left:10px;
    text-align:left;
}
.login-button{
    background-color:#0FB9BC;
    color:white;
    height:40px;
    font-size:16px;
    width:35%;
    margin:20px auto;
    border: 1px solid #B7B7B7;
    font-weight:bold;
    cursor:pointer;
}