.nav-bar{
   width:22%;
    background-color:#D3D2D3;
    border: 2px solid #B7B7B7;
   
    
}
.nav-header{
    color:#424242;
    width:85%;
    margin: 20px auto;
    font-size:48px;
}
.button-container{
    width:85%;
    display: flex;
    flex-direction:column;
    margin:0px auto;
}
.nav-button{
    background-color:#0FB9BC;
    color:white;
    height:40px;
    font-size:16px;
    width:90%;
    
    margin:10px auto;
    margin-left:10px;
    border: 1px solid #B7B7B7;
    font-weight:bold;
    cursor:pointer;
}