.search-container{
    background-color:#0FB9BC;
    width:100%;
    height:90px;
}
.search-form{
    width:80%;
    margin:10px auto;
}
.search-input{
    width:85%;
    margin-left:50px;
    margin-top:20px;
}