* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(66, 66, 66);
}

.app_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 900px;
}