* {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(66, 66, 66);
}

.app_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 900px;
}

.content_header {
  margin: 1rem 0.5rem;
}

.button_link {
  text-decoration: none;
}

.unstyled_link {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.unstyled_link :visited {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  background-color: #24b8bd;
  border: 1px solid #b6aeb1;
  margin: 0.5rem 0.5rem;
  height: 40px;
  border-radius: 0.1rem;
}

.button-danger {
  background-color: red;
}