.Home { 
    width: 74%;
    height: 40rem;
    border: 1px solid black;
    margin-top: 1rem;
    float: right;
    background-color: rgb(235, 235, 235);
    margin-bottom: 1rem;
    
}

.Home__header {
    padding: 1rem;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.Home__content {
    padding: 1rem;
    margin: .5rem 1rem;
    border: 1px solid black;
}

.Note {
    display: block;
    background-color: rgb(245, 245, 245);
    color: black;
}

.Note__title {
    border-bottom: 1px solid grey;
    font-weight: bold;
}

.Note__body {
    overflow: hidden;
    margin-top: 1rem;
}
