.note-card {
  height: 265px;
  width: 90%;
  position: relative;
  background: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.7);
  transition: all 200ms;
  transform-origin: bottom;
  cursor: pointer;
}

.note-card:hover {
  transform: scaleY(1.05);
  background: #24b8bd;
  color: #fff;
}
.note-card h3 {
  font-weight: 700;
  font-size: 1.8rem;
}
.note-card span {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
