.form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.title-input {
    height: 3.8rem;
    width: 55%;
    border-radius: 0.1rem;
    border: 1px solid #979797;
    padding: 1rem;
}

.content-input {
    height: 40rem;
    margin-top: 2rem;
    border-radius: 0.1rem;
    border: 1px solid #979797;
    padding: 1.5rem;
}

.form-btn {
    margin-top: 2rem;
    width: 30%;
}
