.Container {
	display: flex;
	.New-Note {
		width: 100%;
		margin: 50px;
		.New-Note-Form {
			display: flex;
			flex-direction: column;
		}
		header {
			font-size: 25px;
			font-weight: 700;
		}
	}
}