.Container {
  display: flex;
}
.Container .New-Note {
  width: 100%;
  margin: 50px;
}
.Container .New-Note .New-Note-Form {
  display: flex;
  flex-direction: column;
}
.Container .New-Note header {
  font-size: 25px;
  font-weight: 700;
}
