.Container {
	display: flex;
	height: 100%;
	background-color: #F4F4F4;
	header {
		font-size: 25px;
		font-weight: 700;
	}
	.New-Note {
		width: 100%;
		margin: 50px;
		.New-Note-Form {
			display: flex;
			flex-direction: column;
			.New-Note-Title{
				width: 60%;
				margin: 15px 0;
				padding: 10px;
			}
			.New-Note-Content {
				padding: 10px;
			}
			.Save-Button {
				background-color: #00CED1;
				border: 1px solid grey;
				color: white;
				width: 225px;
				height: 50px;
				margin: 15px 0;
				font-weight: 800;
				font-size: 18px;
			}
		}
	}
}