.ListTodo {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-body {
  max-width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 25px;
  overflow-y: hidden;
}

.card-title {
  font-weight: bold;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-text {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}