.menu-container {
  width: 20%;
  height: 600px;
  background-color: lightgray;
  color: black;
}

.button {
  width: 150px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  margin: 20px 10px;
  background-color: #30b8bc;
  color: white;
  cursor: pointer;

  border: 1px solid gray;
}
