.modal .modal-dialog {
  max-width: 600px;
  width: 100%;
}

.modal .modal-content {
  background-color: #FFFFFF;
  border: 1px solid #4A4A4A;
  border-radius: 0;
  padding: 2.2rem 1rem;
}

.modal .modal-body {
  padding: 0;
  text-align: center;
}

.modal .modal-actions {
  border: none;
  justify-content: center;
  margin-top: 28px;
  padding: 0;
}

.modal .modal-actions .button {
  margin: 0 10px;
  width: 40%;
}

.modal .modal-actions .button.primary {
  background-color: #D0021B;
}

.modal-open .modal-backdrop.show {
  background-color: #DADADA;
  opacity: .8;
}
