.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container {
  display: flex;
}

.sidebar {
  background: #D8D8D8;
  display: flex;
  flex-direction: column;
  padding: 100px;
  /* display: -webkit-flex;
  height: 100%;
  width: 200px;
  position: fixed; */

}

.headingFont {
  font: Roboto Bold;
}

.main {
  background: #F3F3F3;
}

.card {
  height: 200px;
  width: 200px;
  overflow: hidden;
  text-align: left;
}