.CNcontainer {
    display: flex;
    box-sizing: border-box;
    
}

.CNtitle {
    margin-top: 35px;
    text-align: left;
    padding-bottom: 10px;
}

.CNnewTitle {
    width: 300px;
    padding-bottom: 10px;
    text-align: left;
}

.CNcomment {
    width: 500px;
    height: 300px;
    padding-bottom: 10px;
}

.form {
    background:  #F3F3F3;
    padding: 15px;
    border: 1px solid #979797;
    height: 980px;
}

.CNbutton {
    width: 200px;
    color: #FFFFFF;
    background: #2BC1C4;
    margin-bottom: 10px;
    border: #979797 1px solid;
    text-align: left;
    
}

.NVheader {
    display: flex;
    justify-content: flex-end;
}

.NVedit {
    padding-right: 10px;
}

.NVnoteName {
    text-align: left;
    font-size: 24px;
}