.container {
    display: flex;
  }
  
  .sidebar {
    background: #D8D8D8;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .button {
    width: 200px;
    background: #2BC1C4;
    margin-bottom: 10px;
    border: #979797 1px solid;
  }

  .Navbutton {
    color: #FFFFFF;
    background: #2BC1C4;
    
  }
  
  .heading-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    text-align: left;
  }
  .heading-font {
    font: Roboto Bold;
    color: #4A4A4A;
    font-size: 35px;
  }
  
  .main {
    background: #F3F3F3;
    padding-top: 85px;
  }
  
  .card {
    height: 200px;
    width: 200px;
    overflow: hidden;
    text-align: left;
  }