h3 {
    margin: 4rem 0rem 0rem 3rem;
}

.content {
    padding: 1rem;
}
.title {
    padding: 1rem;
}
.saveButton {
    width: 20rem;
    margin: 1.5rem 0rem 0rem 0rem;
}
.inputForm {
    margin: 1rem 2rem;
}