h3 {
    margin: 6rem 0rem 0rem 3rem;
}

.content {
    padding: 1rem;
    font-size: 1.2rem;
}
.title {
    padding: 1rem;
    font-size: 1.2rem;
}
.saveButton {
    width: 15rem;
    margin-top: 1.5rem;
}
.inputForm {
    margin: 1rem 2rem;
}