.main-text {
    width: 84%;
    margin-left: 305px;
    height: 100%;
    position: fixed;
    border: 1px solid #979797;
    color: #4A4A4A;
    font: Raleway Medium;
    background: #F3F3F3
}

.mein-card {
    font-size: 1.3rem;
    margin: 1rem 1rem 0rem 1rem;
    padding: 2rem;
    overflow: visible;
    width: 190px;
    height: 190px;
    flex: 1;
    background: white;
    border: 1px solid #979797;
}
a {
    height: 275px;
}
h5 {
    padding-bottom: .5rem;
    border-bottom: 1px solid #979797;
}

a {
    color: #4A4A4A;
} 
a:hover {
    color: #4A4A4A;
}
.allNotes {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}