.main-text {
    width: 75%;
    margin-left: 28%;
    margin-top: -100vh;
    color: #4A4A4A;
    font: Raleway Medium;
}

.mein-row {
    justify-content: space-evenly;
}

.mein-card {
    width: 15rem;
    margin-bottom: 2rem;
}

h5 {
    padding-bottom: .5rem;
    border-bottom: 1px solid #979797;
}

a {
    color: #4A4A4A;
} 
a:hover {
            color: #4A4A4A;
}