.edit {
    margin-top: -10vh;
    margin-left: 85vw;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
}

.delete {
    margin-top: -2.9vh;
    margin-left: 90vw;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

.note {
    margin: 5rem 5rem 0rem 29rem;
    font-size: 1.4rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}
.modal-content {
    width: 100vw;
    padding: 1rem 0rem 2rem 0rem;
    margin: 2rem -10rem;
    height: 23vh;
    font-size: 1.6rem;
}

.modalbutton {
    display: inline-block;
    width: 15vw;
    margin: 2rem;
    padding: 1rem;
}
.modal-body {
    text-align: center;
    margin: auto;
}

.button {
    color: #FFFFFF;
    background: #2BC1C4;
}

.modal {
    margin-top: -20rem;
}