.note {
    line-height: 2.5;
    margin: 0 3.5vw 0 3.5vw;
    white-space: pre-line;
    font-size: 2.2vh;
    z-index: 1;
}

h3 {
    font-size: 3vh;
    font-weight: bold;
}

.button {
    color: #FFFFFF;
    background: #2BC1C4;
}

.noteViewButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 12vw;
    height: 3.5vh;
    padding-top: 5vh;
    padding-bottom: 3.5vh;
    font-size: 2.5vh;
    text-decoration: underline;
    font-weight: bold;
}
.delete {
    margin-left: 2rem;
}
.modal-body {
    background: white;
    z-index: 100;
    margin: 15vh 0 0 25vw;
    width: 50vw;
    height: 28vh;
    font-size: 2.5vh;
    position: fixed;
    border: .1vw solid  #979797;
    opacity: 1;
}
.modal-text {
    margin: 7vh 0 0 0;
    text-align: center;
}
.modalButtons {
    display: flex;
    justify-content: center;
}
.deleteButton, .cancelButton {
    margin: 5vh 2vw;
    width: 18vw;
}
.deleteButton {
    background: #D0021B;
}
.noteName {
    margin: 0rem 0rem 2rem 4rem;
}
