* {
  box-sizing: border-box;
}

button {
  background-color: #2AC0C4;
  color: white;
  border: solid 1px #96AEAF;
  font-weight: bold;
  font-size: 1.2vw;
  width: 90%;
  margin-bottom: 5px;
  height: 7%;
}

.App {
  display: flex;
}

.Panel {
  background: #d7d7d7;
  height: 100vh;
  text-align: center;
}

.panel-title {
  text-align: left;
}

.Notes {
  background: #F3F3F3;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 1vw 5vh 1vw;
}

.note-container {
  background: white;
  height: 215px;
  width: 210px;
  border: solid 1px #96AEAF;
  margin: 1vh;
}

.create-note-container {
  background: white;
  height: 215px;
  width: 210px;
  border: solid 1px #96AEAF;
  margin: 1vh;
}
