* {
  box-sizing: border-box;
}

button {
  background-color: #2AC0C4;
  color: white;
  border: solid 1px #96AEAF;
  font-weight: bold;
  width: 90%;
  margin-bottom: 5px;
  height: 13%;
}

.App {
  display: flex;
}

.Panel {
  background: #d7d7d7;
  height: 100vh;
  width: 20vw;
  text-align: center;
}

.panel-title {
  text-align: left;
}

.Notes {
  background: #F3F3F3;
  height: 100vh;
  width: 80vw;
  display: flex;
}

.note-container {
  display: inline-block;
  background: white;
  height:100px;
  width: 125px;
}
