
.notes-list {
    background-color: whitesmoke;
    align-self: right;
    width: 75%;
    height: 100%;
    padding: 5%;
}

.your-notes {
    color: darkslategrey;
    font-weight: bolder;
    height: 100%;
}

.all-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .single-note {
    border: 1px solid grey;
    width: 200px;
    background-color: white;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 170px;
} */

.card-link {
    text-decoration: none;
    color: black;
    /* this is taken from .single-note to keep styling */
    border: 1px solid grey;
    width: 200px;
    background-color: white;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 170px;
}

.note-title {
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
    margin: 0;
}

.text-body {
    margin-top: 4%;
    line-height: 150%;

    /* overflow: hidden;
    text-overflow: ellipsis; */

    /* overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */

    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

/* AddNote Component */

.input-form {
    display: flex;
    flex-direction: column;
}

.input-form > * {
    margin-bottom: 20px;
}

input, textarea {
    padding: 10px;
    border: 1px solid grey;
}

/* ::-webkit-input-placeholder {
    
} */

.input-form > input {
    width: 60%;
}

textarea {
    height: 350px;
}

.submit-button {
    width: 30%;
    background-color: teal;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
    
.submit-button:hover {
    cursor: pointer;
}

.menu-container {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.link-container {
    display: flex;
    justify-content: flex-end;
}

.link {
    margin: 15px;
    font-weight: 700;
    font-size: .8rem;
    color: black;
}

.link:last-child {
    margin-right: 30px;
}

.note-view {
    background-color: whitesmoke;
    padding: 5%;
}