.notes-list {
    background-color: whitesmoke;
    align-self: right;
    width: 75%;
    height: 100%;
    padding: 5%;
}

.your-notes {
    color: darkslategrey;
    font-weight: bolder;
    height: 100%;
}

.all-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-note {
    border: 1px solid grey;
    width: 200px;
    background-color: white;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 170px;
}

.note-title {
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
    margin: 0;
}

.text-body {
    margin-top: 4%;
    line-height: 150%;
    
    /* overflow: hidden;
    text-overflow: ellipsis; */

    /* overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */

    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}