h1 {
    display: block;
    font: Roboto Bold;
    font-weight: bold;
    color: #4A4A4A;
    border: 1px solid darkgray;
    text-align: left;
    height: 1200px;
    width: 250px;
    background-color: #D8D8D8;
    padding-top: 15px;
    padding-left: 30px;
    position:relative;
    margin-left: 15px;

}
.button1 {
    display: block;
    background-color:#2BC1C4;
    color: #FFFF;
    border: 1px solid darkgray;
    font: Raleway Medium;
    font-size: 15px;
    margin-top: -1050px;
    margin-left: 40px;
    padding: 10px;
    position: absolute;
    width: 200px;
}
.button2 {
    display: block;
    position: absolute;
    background-color:#2BC1C4; 
    color: #FFFF;
    border: 1px solid darkgray;
    font-size: 15px;
    font: Raleway Medium;
    margin-top: -980px;
    margin-left: 40px;
    padding: 10px;
    position: absolute;
    width: 200px;

}