.note-list{
    padding: 90px 45px 90px 45px;
    box-sizing: border-box;
    border: 1px solid red;

    .note-container{
        border: 1px solid black;
        width: 100%;
        display: flex;
        
    }
}