.navbar {
  height: 100%;
  border-right: 0.5px solid var(--color-border);
  /* border-collapse: collapse; */
  align-content: flex-start;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg--side);
  color: var(--color--main);
}
