.main-container {
  display: flex;
}

.loading {
  color: rgb(3, 12, 29);
  font-size: 32px;
  margin: 0;
}
.position-top {
  background-color: lightgray;
  position: absolute;
  padding: 5px 30px;
  top: 0;
  left: 45%;
}
