body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #a60c07 !important;
}

textarea {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
  background: black !important;
  box-shadow: 2px 8px 50px 5px rgba(0,0,0,0.75) !important;
  color: white !important;
}

input {
  font-size: 1.2rem;
  padding: 1rem;
  background: black !important;
  box-shadow: 2px 8px 50px 5px rgba(0,0,0,0.75) !important;
  color: white !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: black !important;
  color: white !important;
}