.listView {
    position: fixed;
    margin-left: 21vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    border-top: .1vw solid #979797;
    color: #4A4A4A;
    font: Raleway Medium;
}
.mein-card {
    font-size: 2.5vh;
    margin: 2vh;
    padding: 2vh;
    height: 25vh;
    min-width: 20vw;
    flex: 1;
    background: #a60c07 !important;
    box-shadow: 2px 8px 20px 17px rgba(0,0,0,0.75) !important;
    border: .1vh solid #979797;
}
