.noteText {
    line-height: 2.5;
    font-size: 2.2vh;
    z-index: 1;
}

h3 {
    font-size: 3vh;
    font-weight: bold;
}

.button {
    color: #FFFFFF;
    background: #2BC1C4;
}

.noteViewButtons {
    height: 3.5vh;
    padding-top: 5vh;
    font-size: 2.5vh;
    text-decoration: underline;
    font-weight: bold;
    text-align: right;
}

/* New things */
.noteViewButtonWrap {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 2vh;
}
.note {
    padding: 4vh 6vw;
    height: 110vh;
}
.modalWrapper {
    max-width: 50% !important;
    width: 50%;
    position: fixed;
    text-align: center;
    margin: 5% 25% 0 25% !important;
    background: white;
    z-index: 1000;
    padding: 2%;
}
.button2 {
    width: 18vw;
    margin: 2vh 2vw;
}
