.sideNav {
    width: calc(150px + 2vw);
    height: 100vh;
    position: fixed;
    z-index: 10;
    border: 0.1vw #4A4A4A solid;
    padding: 1vh;
    background: black !important;
}
.headingforSideNav {
    font-family: Roboto Bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    word-wrap: break-word;
    font-size: calc(20px + 1.3vw)
}
button {
    width: calc(130px + 2vw);
    max-width: 180px;
    height: calc(55px + 1vh);
    margin: 2vh 0;
    color: white;
    font-weight: bold;
    background:rgb(140, 2, 2);
    text-shadow: 2px 2px 4px #000000;
    box-shadow: -2px -1px 30px -5px black !important;
    font-size: calc(10px + .5vw);
    outline-width: .1vh;
    border-color: #979797;
}
.createNote {
    text-align: center;
    font-size: calc(20px + 1.3vw);
    color: white;
    box-shadow: -2px -1px 30px -5px white !important;
}