.optionsContainer {
    display: flex;
    justify-content: flex-end;
    margin: 15px 34px 0 0;
}

.entireEditLink {
    margin-right: 14px;
}

.edit {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.delete {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.viewNoteHeader {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    text-align: start;
    margin: 2px 0 8px 25px;
    font-size: 21px;
}

.viewNoteContent {
    display: block;
    text-align: start;
    margin: 25px;
    line-height: 25px;
    font-size: 14.08px;
    white-space: pre-wrap;
}