.App {
  display: flex;
  border: solid 1px rgb(78, 78, 78);

  .Sidebar {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 25%;
    background: rgb(155, 155, 155);
    border-right: 1px rgb(78, 78, 78) solid;

    .Sidebar__header {
      font-size: 60px;
      margin: 20px;
    }

    .Sidebar__button {
      background: cyan;
      font-size: 30px;
      text-align: center;
      margin: 29px;
      margin-bottom: 0px;
      padding-top: 25px;
      padding-bottom: 25px;
    }

  }

  .View {
    width: 75%;
    background: silver;
    
  }

}
