.create-new {
	margin: 60px 22px 120px;

	h2 {
		letter-spacing: -0.3px;
	}

	.form {
		input {
			display: block;
		}

		.note-title-input {
			border-radius: 5px;
			padding: 5px 10px;
			width: 26vw;
			height: 32px;
			margin-bottom: 14px;
		}

		.note-content-text-area {
			border-radius: 5px;
			padding: 20px 27px;
			width: 43vw;
			height: 325px;
			margin-bottom: 10px;
		}

		.save-btn {
			width: 13vw;
		}
	}
} // .create-new
