.EditView {
  display: flex;
  flex-direction: column;
  padding-top: 56px;

  .EditView__header {
    font-size: 37px;
    font-weight: bold;
  }
  .Form {
    display: flex;
    flex-direction: column;
    padding-top: 60px;

    .Form__title {
      font-size: 30px;
      margin-bottom: 30px;
      height: 80px;
    }

    .Form__text {
      font-size: 30px;
      height: 650px;
      margin-bottom: 30px;
    }

    .Form__submit {
      font-size: 40px;
      color: white;
      width: 32%;
      background: rgb(0, 209, 209);
      border: gray 1px solid;
      padding: 8px;
    }
  }
}