.App {
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: lightgray;
    .main-page-container {
        margin-left: 320px;
        margin-right: 5%;
        margin-top: 20px;
    }
}