.App {
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: @lightbackground;
    color: @text;
    .main-page-container {
        margin-left: 310px;
        margin-right: 1%;
        margin-top: 20px;
    }
}

.card-container{
    display: flex;
    flex-wrap: wrap-reverse;
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid @borders;
    margin: 10px;
    width: 250px;
    height: 250px;
    overflow : hidden;
    text-overflow: ellipsis;
}
.link {
 color: @text;
 text-decoration: none;
 text-overflow: ellipsis;
}
}

.card-content {
    padding: 10px;
    h3 {
        border-bottom: 1px solid @borders;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}