*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Raleway Medium", sans-serif;
  color: @main-color;
  border: 1px dotted green;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Bold", sans-serif;
  letter-spacing: 1px;
  // margin-bottom: 15px;
}

h1 {
  font-size: 2.3rem;
  font-weight: 900;
}

h5 {
  font-size: 1.3rem;
}

.custom-container {
  max-width: 80%;
  height: 100vh;
  padding: 0;
  border: 1px solid cyan;
  
  .row {
    margin: 0px;

    .side-bar-component;
    
    .main-component;
  }
}