*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Raleway Medium";
  color: @main-color;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Bold";
  letter-spacing: 1px;
  margin-bottom: 15px;
}
