.left-rail {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    text-align: left;
    max-width: 315px;
    width: 32.8%;
    background: #ddd;
    padding-left: 20px;
    .left-rail__title {
        text-align: left;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bolder;
        font-size: 3.2rem;
        padding-top: 26px;        
    }
}