.list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 42px 26px 120px 26px;

	.search-wrapper {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-direction: column;
		width: 100%;

		.search {
			display: flex;
			justify-content: start;
		}

		.btn {
			padding: 1.05vh 0.9vw;
			margin-right: 5px;
			margin-bottom: 8px;
		}

		input {
			border-radius: 5px;
			padding: 0 5px;
		}

		@keyframes lengthen-anim {
			0% {max-width: 1%; min-width: 1%;}
			100% {max-width: 100%;}
		}

		.lengthen-anim {
			animation-name: lengthen-anim;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
		}

		@media @tablet {
			padding: 0;

			.btn {
				padding: 2.05vh 0.9vw;
			}

			input {
				min-width: 205px;
				min-height: 60px;
			}

			* {
				padding: 0;
			}
		}

		@media @phone {
			display: block;

			.btn, input {
				width: 100%;
			}
		}
	} // .list .search-wrapper

	h2 {
		@media @phone {
			padding: 20px 0 0 0;
			text-align: center;
		}
	}

	.note-wrapper {
		padding-bottom: 30px;

		.note {
			border: 1px solid #BFBFBF;
			border-radius: 5px;
			width: calc(-20 / 341 * 100vw + 83244 / 341 * 1px);
			height: 204px;
			display: inline-block;
			padding: 0 20px;
			overflow: hidden;

			&:hover {
				border: 1px solid black;
				cursor: pointer;

				h3 {
					text-decoration: underline;
				}
			}

			h3, p {
				text-align: left;
			}

			h3 {
				margin: 11px 0 -3px 0;
				white-space: nowrap;
				font-size: 1.2rem;
				font-weight: bold;
			}

			p {
				line-height: 22px;
				font-size: 0.85rem;
				letter-spacing: 1px;
				margin-top: 1px;
				max-height: 133px;
				overflow: hidden;
			}

			.highlight {
				background: blue;
				border-radius: 4px;
				color: white;
			}
		} // .list .note-wrapper .note

		.tags-div {
			border: 1px solid #BFBFBF;
			border-top: 0;
			border-radius: 5px;
			font-size: 30px;
			display: flex;
			justify-content: space-evenly;
		}

		@media @tablet {
			padding-bottom: 0;
			margin: 0 5px;
		}
	} // .list .note-wrapper
} // .list
