.login-view {
	display: flex;
	justify-content: center;

	.login {
		margin: 60px;

		header {
			.lambda-notes {
				font-weight: bold;
				font-size: 2.6vw;
				text-align: center;
				letter-spacing: 0.04vw;
				line-height: 5vh;

				@media @tablet {
					font-size: 2rem;
				}
			}

			.logo {
				max-width: 100px;
			}
		}

		.form {
			p {
				text-align: left;
				padding-top: 20px;
			}
		}

		@media @tablet {
			margin: 0px;
		}
	} // .login-view .login
} // .login-view
