@button-bgcolor: #2bc1c4;
@core-rail-bgcolor: #f3f3f3;
@left-rail-bgcolor: #d8d8d8;
@bordercolor: #979797;

.button(@sidepadding) {
    text-decoration: none;
    padding: 17px @sidepadding;
    border: 1px solid #979797;
    background: #2bc1c4;
    color: white;
    font-family: 'Roboto Bold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.45rem;
    font-weight: bolder;
}