.custom-button(@bg, @color, @width, @border, @padding, @margin){
    background: @bg;
    color: @color;
    width: @width;
    border: 1px solid @border;
    padding: @padding 0;
    margin: @margin 0;
    font-size: 1.6rem;
    outline-width: thin;
    outline-color: @buttonOutlineColor;
}