.navigation-wrapper {
    height: 100%;
    width: 220px;
    background: @navBgColor;
    border: 1px solid @navBorderColor;
    padding: 0 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    h1.navigation-header {
        width: 100%;
        color: @navHeaderColor;
        font-size: 4rem;
        font-weight: 900;
        margin: 20px 0;
    }

    button.navigation-button {
        .custom-button(@buttonBg, @buttonFontColor, 100%, @buttonBorderColor, 15px, 10px);

        &:hover {
            background: @buttonHoverBg;
            cursor: pointer;
        }
    }
}