.noteViewLink {
	padding: 3%;
	margin: 15px;
	text-decoration: default;
}
.viewLinks {
	margin-top: 10px;
	margin-left: 90%;
	text-decoration: underline;
	color: @darkGreyHeading;
	font-weight: bolder;
	cursor: pointer;
	a {
		color: @darkGreyHeading;
	}
}
.noteTitle {
	font-weight: bold;
	color: @darkGreyHeading;
	margin-bottom: 25px;
	margin-top: 1.5rem;
}
