//styles for view of all note cards
.your-notes {
    background: @viewContentBg;
    border-left: 1px solid @viewContentBorder;
    margin-left: 220px;
    padding: 58px 34px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;

    .your-notes-header {
        width: 100%;
        margin: 38px 12px;
        font-size: 2rem;
        font-weight: 900;
    }

    .note-card-link {
        text-decoration: none;

        .note-card {
            height: 300px;
            width: 300px;
            border: 1px solid @viewContentBorder;
            margin: 12px;
            padding: 20px 30px;
            background: @white;
            color: @viewContentFontColor;
            overflow: hidden;

            h3 {
                font-weight: 900;
            }

            hr {
                border: 0;
                height: 1px;
                background: @viewContentBorder;
            }

            p {
                height: 100%;
                max-height: 200px;
            }
        }
    }
}

// styles for individual note pages
.note-page-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 220px;
}

// styles for form adding new notes
.new-note-wrapper {
    margin-left: 220px;
}