.your-notes {
    background: @viewContentBg;
    border-left: 1px solid @viewContentBorder;
    margin-left: 220px;
    padding: 58px 34px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .your-notes-header {
        width: 100%;
        margin: 38px 12px;
    }

    .note-card {
        height: 300px;
        width: 300px;
        border: 1px solid @viewContentBorder;
        margin: 12px;
        background: @white;
    }
}