.NoteList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px;
  padding-top: 125px;

  .NoteList__header {
    font-weight: bold;

  }

  .NoteList__card-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    padding-top: 65px;
    
    .NoteList__card {
      width: 25%;
      height: 350px;
      display: flex;
      flex-direction: column;
      padding: 32px;
      padding-right: 22px;
      padding-left: 22px;
      margin-bottom: 22px;
      border: black 1px solid;
      background: rgb(224, 224, 224);

      .NoteList__card-header {
        font-weight: bold;
        border-bottom: black 1px solid;
      }

      .NoteList__card-content {
        max-height: 150px;
        font-style: italic;
        text-overflow: ellipsis;
      }
    }
  }
}