.note-view {
	margin: 20px;
	margin-bottom: 200px;

	.edit-delete-wrapper {
		text-align: right;
		font-size: 0.9rem;
		font-weight: bold;
		color: #4D4B4D;

		span {
			margin-right: 14px;

			a {
				text-decoration: none;
				color: inherit;
			}

			&:hover {
				text-decoration: underline;
				color: black;
				cursor: pointer;
			}
		}
	}

	h2 {
		margin-top: 24px;
	}

	p {
		text-align: left;
		letter-spacing: 1px;
		line-height: 26px;
	}
}
