//use for colors
@appBorder: @silverChalice;
@viewHeader: @shark;
@viewDivider: @athensGrey;

@navBgColor: @silver;
@navBorderColor: @silverChalice;
@navHeaderColor: @tundora;

@viewContentBg: @seashell;
@viewContentFontColor: @shark;
@viewContentBorder: @dustyGrey;
@viewInputBorder: @silverChalice;

@buttonBg: @java;
@buttonHoverBg: @darkJava;
@buttonBgRed: @monza;
@buttonHoverBgRed: @darkMonza;
@buttonFontColor: @white;
@buttonBorderColor: @silverChalice;
@buttonOutlineColor: @shark;

@formBorderColor: @shark;

//colors
@white: #ffffff;
@athensGrey: #e7e9ed;
@seashell: #f2f1f2;
@silver: #c5c5c5;
@dustyGrey: #979797;
@silverChalice: #afafaf;
@tundora: #414141;
@shark: #202529;
@java: #24b8bd;
@darkJava: #187e82;
@monza: #ca001a;
@darkMonza: #800011;