
.single-note-container{
    display:flex;
    max-width:975px;
    width:100%;
    margin: 0 auto;
    height:auto;



}
.single-note-wrapper{
    display:flex;
    flex-direction:column;
    color:#4A4A4A;
    padding:20px;
    height: auto;
    width:100%;
    background-color:#F3F3F3;
}
.link-wrapper{
    display:flex;
    width:100%;
    height:75px;
    justify-content: flex-end;
}
.link-button{
    padding:20px;
    text-decoration:underline;
    color: #4A4A4A;
    background-color: #F3F3F3;
    font-family: Raleway, sans-serif;
    height: 50px;
    width:75px;
    display:flex;
    justify-content: center;
    margin:20px;
}
.modal-content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:30%;
    left:35%;
    width:100%;
    height:100%;
    max-width: 600px;
    max-height:250px;
    background-color:white;
    z-index:10000;
    border:1px solid #979797;
    box-shadow:1px 1px 8px #979797;
       /*remove hackiness*/
}
.modal-header{
    text-align:center;
}
.modal-footer{
    display:flex;
    justify-content: center;
}

.delete-button{
    width:100px;
    height:40px;
    color:white;
    background-color:red;
    margin:20px;
}
.no-button{
    width:100px;
    height:40px;
    color:white;
    background-color:#2BC1C4;
    margin:20px;
}

.hidden{
    display:none;
}