.delete-click-link{
    display: inline-flex;
    flex-wrap: wrap;
    width: 30px;
    cursor: pointer;
}

.delete-modal {
    position: fixed;
    top: 20%;
    left:40%;
    text-align: center;
    border: 1px solid #979797;
    padding: 20px 50px 40px 50px;
    background-color: white;
}

.delete-button{
    background-color: #D0021B;
    color: white;
    width: 150px;
    height: 40px;
    margin-right: 10px;
}

.cancel-button{
    background-color: #2BC1C4;
    color: white;
    width: 150px;
    height: 40px;
    margin-left: 10px;

}

