.noteView_container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.noteView_container p {
    margin: 0 0.5rem;
}

.noteView_topContent {
    display: flex;
    justify-content: space-between;
}

.edit_delete {
    padding: 1rem 0.5rem;
    color: rgb(66,66,66);
}