.noteViewTitle {
  font-family: Roboto;
  color: #4A4A4A;
  font-size: 23px;
  margin-left: 25px;
  margin-top: 10px;
}


.textArea {
  font-family: Raleway;
  font-size: 15px;
  line-height: 1.7;
  margin: 10px;
  padding: 10px 15px;
}

.editDelete {
  display: inline-block;
  font-family: Roboto;
  color: #4A4A4A;
  font-size: 14px;
  float: right;
  cursor: pointer;
  text-decoration: underline;
}

.titleInput {
  width: 250px;
  height: 40px;
  
}

.textInput {
  width: 400px;
  height: 300px;
  
}

.form {
  margin-left: 25px;
}

.updateButton {
  width: 200px;
  font-family: Roboto;
  font-size: 16px;
  color: white;
  background-color: #2BC1C4;
  padding: 5px;
  margin-top: 10px;
  height: 44px;
  border: solid 1px #a5a4a4;
}