// NoteView
.note-view-component {
  .edition {
    flex-direction: row-reverse;
    top: 0;
    right: 0;
    margin-right: 1.5rem;
    div {
      margin: 1rem 0.5rem;
      cursor: pointer;
    }
  }
  .modal-header {
    width: 800px !important;
    justify-content: space-around;
    &>.custom-button {
      min-width: 200px;
    }
  }
}