.list-wrapper{

    border: 1px solid #979797;
}
.noteview-header{
    margin: 15px;
    margin-top: 80px;
    font-size: .7rem;
    display: block;
    width: 900px;
    text-align: right;
}
.header-link{
    display: inline-flex;
    flex-wrap: wrap;
    width: 30px;
    text-decoration: none;
    
}
.header-wrapper{
    width:965px;
}

.note-name{
    text-align: left;
    margin-left:15px;
}

.note-body{
    margin: 15px;
}