.App {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  max-height: 100%;
  min-height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.left-side {
  background-color: #d7d7d7;
  max-width: 250px;
  width: 100%;
}
.right-side {
  background-color: #f2f1f2;
  max-width: 800px;
  width: 100%;
}

.listDisplay {
  max-width: 800px;
  width: 100%;
}
.listDisplay h1 {
  margin-left: 15px;
  color: #424141;
}

.noteDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.notesDisplay {
  border: 1px solid #dedede;
  width: 200px;
  margin-left: 30px;
  height: 200px;
  margin-top: 20px;
  overflow: auto;
  background-color: #ffffff;
}

.notesDisplay:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notesDisplay p {
  margin-left: 13px;
  margin-right: 10px;
  color: #212529;
}

.notesDisplay h2 {
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  color: #212529;
}

.side-bar {
  display: flex;
  flex-direction: column;
}

.side-bar h1 {
  font-size: 50px;
  margin-left: 15px;
  margin-right: 15px;
  color: #424141;
}
.side-bar .button {
  background-color: #24b8bd;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  padding: 15px 0;
  text-align: center;
  color: white;
}

.singlenoteDisplay {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}
.singlenoteDisplay h1 {
  color: #424141;
}
.singlenoteDisplay p {
  line-height: 30px;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.button-flex {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.button-flex h3 {
  cursor: pointer;
  margin-right: 20px;
  text-decoration: underline;
}
.button-flex p {
  cursor: pointer;
  margin-right: 20px;
  text-decoration: underline;
}

.button-flex a {
  margin-right: 20px;
  text-decoration: underline;
  color: #212529;
}

form {
  box-shadow: none;
}

.Column-Layout {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}
.Column-Layout .input-title {
  border-radius: 3px;
  width: 350px;
  padding: 10px;
  margin-bottom: 15px;
}
.Column-Layout .input-body {
  border-radius: 3px;
  padding-bottom: 300px;
  padding-top: 10px;
  padding-left: 10px;
}
.Column-Layout h3{
  margin-top: 20px;
  width: 100px;
  padding: 10px 3% 10px 3%;
  text-align: center;
  background-color: #24b8bd;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  width: 40%;
}
form {
  box-shadow: none;
}

.modal-dialog {
  top: 25%;
  left: 7%;
}

button.btn.btn-danger {
  padding: 5px 18% 5px 18%;
  margin: 0 auto;
}

button.btn.btn-primary {
  padding: 5px 20% 5px 20%;
  margin: 0 auto;
}

div.modal-body {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
