.single-note-container {
    margin-left: 300px;
    height: 100vh;
    width: 100vw;
}

.single-note {
    max-width: 880px;
    width: 90%;
    word-wrap: break-word;
    text-align: left;
    margin-left: 2.5%;
}

.options {
    width: 75%;
    text-align: right;
    margin: 15px 0;
}

.option-edit {
    color: black;
}

.option-delete {
    color: black;
    margin-left: 15px;
}

.single-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.tags {
    display: flex;
    font-size: .85rem;
}

.tagger {
    margin-right: 5px;
}

