.card-page-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.section-container {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.edit-delete {
    display: flex;
    justify-content: flex-end;
}

.edit-delete a {
    margin: 5px 1% 0;
}

.notes-title.card {
    margin: 27px 0 0 5%;
}

.single-notes-content {
    width: 80%;
    margin: 30px 0 0 5%;
}