.app {
  display: flex; 
  height: 100%; 
  margin: 0; 
}

.content {
  display: flex;
  width: 75%; 
}

@media(max-width: 767px) {
  .app {
    flex-direction: column;
  }

  .content {
    width: 100%;
    min-height: 100vh;
  }
}