.new-note_body {
    width: 825px;
    border: 1px solid #9b9b9b;
    border-left: 0px;
    background: #f3f3f3;
    padding-top: 10px;
    min-height: 900px;
  }
  .new-note_header {
    font-family: 'Roboto', 'Segoe UI', 'Open Sans', 'Arial';
    font-size: 25px;
    color: #4a494a;
    font-weight: bold;
    margin: 65px 0px 25px 31px;
  }
  
  .new-note_fields {
    display: flex;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 12px;
  }
  
  .title-div {
    margin-bottom: 17px;
  }
  
  .title-input {
    height: 52px;
    width: 425px;
    padding-left: 15px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px rgb(160, 160, 160) solid;
  }
  
  .body-div {
    margin-bottom: 15px;  
  }
  
  .body-input {
    height: 425px;
    width: 765px;
    padding-left: 25px;
    padding-top: 25px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .submit-button {
    width: 225px;
    height: 50px;
    margin-bottom: 75px;
    font-family: 'Roboto', 'Segoe UI', 'Open Sans', 'Arial';
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #2AC0C4;
    border: 2px solid #9B9B9B;
  }