
.Page-Container {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  max-width: 1300px;

}


.App-header {
  background-color: #282c34;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

