
.Page-Container {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}
.Main-View {
width: 66%;

}

.App-header {
  background-color: #282c34;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

