input{
width:60%;
margin-top:20px;
padding-left:1%;
height:40px;
border-radius:5px;
}

.large{
width:90%;
height:350px;
padding-right:10%;
padding-bottom:300px;
}

.submit{
height:62px;
margin-left:0;
width:30%;
}

.adder{
margin-left:0;
font-size:20px;
}