.notes{
padding-left:5%;
width:50%;
background:#f2f2f2;
}

.heading{
margin-bottom:20px;
margin-top:50px;
font-weight:700;
font-size:28px;
color:#4d4d4d;
}

.notesContainer{
display:flex;
flex-wrap:wrap;
flex-direction:row;
}

.note:hover{
cursor:pointer
}

.note{
width:25%;
margin-left:2.5%;
margin-right:2.5%;
margin-bottom:15px;
background:white;
padding:1%;
border:1px solid #808080;
}

.title{
font-weight:700;
font-size:24px;
padding-bottom:5px;
border-bottom:1px solid #808080;
margin-bottom:5px;
}