.flex{
display:flex;
margin-bottom:30px;
justify-content:flex-end;
}

.option{
font-size:16px;
color:#4d4d4d;
text-decoration:underline;
margin-right:20px;
}

.option:hover{
cursor:pointer;
font-weight:700;	
}

.overall{
display:flex;
flex-direction:column;
padding-left:5%;
width:46%;
background:#f2f2f2;
padding-top:10px;
}

.m_bottom{
margin-bottom:30px;
}

.contents{
margin-right:10%;
}

.oneNote{
padding-left:2.5%;
width:100%;
}

.shade{
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background:#e6e6e6;
opacity:0.5;
}

.popUp{
position:absolute;
top:20%;
left:20%;
z-index:2;
background:white;
border:1px solid #808080;
padding:50px;
width: 31%;
display: flex;
flex-direction: column;
}

.options{
display:flex;
color:white;
justify-content:space-evenly;
}

.select{
width:40%;
background:#00b3b3;
padding:5px;
display:flex;
justify-content:center;
align-items:center;
}

.select:hover{
cursor:pointer;
font-weight:700;
}

.red{
background:red;
}

.text{
margin-bottom:30px;
font-weight:700;
font-size:18px;
color:#4d4d4d;
display:flex;
align-items:center;
justify-content:center;
}