.Display {
    width: 70%;
    height: 30rem;
    border: 1px solid black;
    margin-top: 1rem;
    float: right;
    background-color: rgb(245, 245, 245);
    margin-bottom: 1rem;
}

.Display__buttons {
    display: flex;
    justify-content: flex-end;   
}

.edit, .delete {
    text-decoration: underline;
    margin: 1rem;

}
.Display__content {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 1rem;
    margin: .5rem 1rem;
}

.header {
    font-weight: bold;
}