.note-box {
    background: var(--white); 
    border: 2px solid var(--border-gray);
    padding: 1.5rem;
    height: 25rem;
}


.note-box .line {
    background: var(--border-gray);
    height: 2px;
    width: 100%;
    margin: .5rem auto;
}