.app{
  border: 1px solid #B7B7B7;
  max-width: 890px;
  display:flex;
  margin: 60px auto;
  height: 950px
}

.navbar{
  border-right: 1px solid #B7B7B7;
  background-color: #D8D8D8;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .navbar-title{
  font-size: 34px;
  font-weight: 700;
  font: #4A4A4A;
  line-height: 30px;
  margin: 20px 10px 0px
}

.navbar .navlink{
  text-decoration: none;
  background-color: #2BC1C4;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 40px;
  width: 90%;
}


/*------ NOTES BODY ------*/


.notesbody{
  background-color: #F3F3F3;
  width: 670px;
}

.notesview{
  margin: 45px 15px;
  display: flex;
  flex-wrap: wrap;
}

.notesview .notesview-title{
  
  margin-bottom: 25px;
  font: #4A4A4A;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
}

.notesview .noteslist-group{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*------ NOTES CARD ------*/

.notecard{
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 190px;
  width: 165px;
  margin: 2px 0px 20px 0px ;
  padding: 0 10px;
}

.notecard .notecard-title{
  border-bottom: 1px solid darkgray;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0 10px 5px;
  height: 15px;
  color: black;
}

.notecard .notecard-note{
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
  margin: 0 0 20px 0;
  line-height: 25px;
  color: black;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

/*------ NOTE ------*/

.note-main{
  margin: 35px 15px;
}

.note-main .note-title{
  margin-bottom: 25px;
  font: #4A4A4A;
  font-size: 20px;
  font-weight: 700;
}

.note-main .note-note{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

}

.note-main .editdelete{
  display: flex; 
  margin: 0px 10px;
  justify-content: flex-end;
  font: #4A4A4A;
  font-size: 16px;
  font-weight: 700;
  padding-left: 8px;
}

.note-main .editdelete .edit{
  margin-right: 10px;
}

.note-main .editdelete .delete{
  text-decoration: underline;
  cursor: pointer;
}

/*------ FORM ------*/

.form{
  margin: 65px 15px;
}

.form .form-title{
  margin-bottom: 25px;
  font: #4A4A4A;
  font-size: 20px;
  font-weight: 700;
  padding-left: 8px;
}

.form .form-body{
  display: flex;
  flex-direction: column;
}

.form .form-inputtitle{
  width: 400px;
  margin: 10px;
}

.form .form-inputnote{
  width: 90%;
  height: 400px;
  margin: 10px;
}

.form .form-button{
  text-decoration: none;
  background-color: #2BC1C4;
  border: 2px solid #2BC1C4;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 40px;
  width: 200px;
  margin-left: 10px;
  cursor: pointer;
}

/*------ Delete Modal ------*/

.modal-nodisplay{
  display: none;
}

.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px 35px 40px ;
  border: 1px solid #888;
  width: 24%;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  font-stretch: condensed;
}

.modal-content .form-button-group{
  display: flex;
  height: 50px;
  width: 400px;
}

.modal-content .form-button{
  text-decoration: none;
  background-color: #2BC1C4;
  border: 2px solid #2BC1C4;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  height: 40px;
  width: 200px;
  cursor: pointer;
  margin: 5px
}


.modal-content .form-button-group .delete:hover{
  background-color: #BD001A;
  border: 2px solid #BD001A;

}
