.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.leftSideH1 {
  padding-left: 10%;
}

.deleteButton {
 margin-top: 2%;
 width: 72%;
 float: right; 
 text-align: right;
 margin-right: 4%;
 
}

.spaces {
  padding: 20px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 880px;
  background-color: grey;
  float: left;
  text-align: left;
}

.borderGore {
  padding: 20px;
  border: solid black 1px;
}

.yourNotes {
  text-align: left;
}

.rightSideCurrent {
  width:76%;
  float: right;
  text-align: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  height: 880px;
}

.list {
  margin: 0 0 0 0;
float: right;
width: 80%;
margin-top: 4%;
}

.rightSide {
  margin-top: 4%;
  width: 76%;
  float: right;
  height: 880px;
  margin-left: 2%;
  margin-right: 2%;
}

.listh2 {
  text-align: left;
  margin-left: 2%;
}

.leftButtons {
 margin-bottom: 25px;
 height: 50px;
 width: 80%;
 display: flex;
 align-self: center;
 text-align: center;
 justify-content: center;
 background: teal;
 color: white;
 align-items: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
