.App {
	display: flex;
}

.Sidebar {
	background-color: #ccc;
	border: 1px solid darkgray;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: center;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Sidebar__header {
	align-self: flex-start;
	margin-left: 26px;
	margin-top: 15px;
	color: #212121;
}

.Button {
	width: 200px;
	height: 40px;
	background-color: #00b6bb;
	color: white;
	text-align: center;
	margin-top: 20px;
}

.Button:hover,
.Button:focus {
	background: #077074;
	outline: none;
}

.NotesWrapper {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	padding: 2% 4%;
	height: 200vh;
	width: 100%;
	background-color: #f2f0f2;
}

.Notes__header {
	width: 100%;
	color: #212121;
	margin-bottom: 20px;
}

.Notes__header-search {
	margin-bottom: 20px;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 6px;
	outline: none;
}

.Notes__tabNav {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

.Notes__tabNav a {
	margin-bottom: 10px;
}

.Notes {
	border: 1px solid lightgray;
	background-color: #fafafa;
	width: 190px;
	height: 190px;
	padding: 8px;
	word-wrap: break-word;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Notes:hover {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.Notes:not(:last-child) {
	margin-right: 3%;
	margin-bottom: 3%;
}

.Notes__title {
	border-bottom: 1px solid lightgray;
	color: #212121;
	padding-bottom: 6px;
	margin-bottom: 6px;
}

.Notes__tag {
	font-size: 1rem;
	color: white;
	background-color: #e07d26;
	padding: 4px 4px;
	border-radius: 3px;
}

.Notes__tag--sort {
	font-size: 1.3rem;
	background-color: #585858;
	margin-right: 6px;
	margin-bottom: 6px;
	transition: background 250ms ease-in-out, transform 150ms ease;
}

.Notes__tag--sort:hover {
	background-color: #e07d26;
}

.Notes__tag:not(:last-child) {
	margin-right: 8px;
}

.Notes__text {
	margin-top: 8px;
	font-size: 1.3rem;
}

.FilteredNotesWrapper {
	height: 100vh;
}

.FilteredNotes__header {
	color: #e07d26;
	text-decoration: underline;
	width: 100%;
	margin-bottom: 30px;
}

.FilteredNotes__span {
	color: #706e6e;
}

.AddNoteWrapper {
	width: 100%;
	background-color: #f2f0f2;
	height: 100vh;
}

.AddNote__header {
	width: 100%;
	color: #212121;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 40px;
}

.AddNote__form {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 60%;
}

.AddNote__form-title {
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	outline: none;
}
.AddNote__form-tags {
	padding: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	outline: none;
}
.AddNote__form-textarea {
	padding: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	outline: none;
}

.AddNote__form-tagInstructions {
	color: gray;
	font-size: 1.1rem;
	margin-bottom: 20px;
}

.AddNote__form button {
	margin-top: 20px;
}

.NoteWrapper {
	width: 100%;
	background-color: #f2f0f2;
	position: relative;
	height: 100vh; /* this might break in very long notes...*/
}

.Note__editDelete {
	display: flex;
	justify-content: flex-end;
	margin: 20px;
	text-decoration: underline;
}

.Note__editDelete span {
	cursor: pointer;
	padding: 6px;
	transition: background 250ms ease-in-out, transform 150ms ease;
}
.Note__editDelete span:hover {
	color: white;
	background-color: #e07d26;
	text-decoration: none;
	border-radius: 2px;
}

.Note__editDelete span:not(:last-child) {
	margin-right: 20px;
}

.Note__delete--shown {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(128, 128, 128, 0.9);
	/* opacity: 0.9; */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.Note__delete--hidden {
	display: none;
}

.Note__delete-prompt {
	background: #fff;
	border: 1px solid #212121;
	padding: 20px;
	height: 200px;
	width: 40%;
	text-align: center;
}

.Note__delete-prompt-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 70px;
}

.Button--danger {
	background: red;
}

.Button--danger:hover {
	background: rgb(153, 0, 0);
}

.Note__content {
	padding: 20px;
	font-size: 1.3rem;
	width: 60%;
	margin: 70px 20px;
	background-color: #fafafa;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.Note__content-header {
	margin-bottom: 5px;
	color: #212121;
	font-size: 2rem;
}

.Note__content-text {
	margin-top: 30px;
	color: #212121;
}

.knight {
	font-size: 7rem;
}
