.App{
  display: flex;
  flex-direction: row;
  margin-top: 0;
  
}

.nav {
  border: 1px solid black;
  height: 900px;
  margin-top: 0;
  padding: 3%;
  background-color: lightgray;
  /* position: fixed; */
}

.nav li{
  list-style-type: none;
  height: 50px;
  width: 200px;
  border: 1px solid gray;
  background-color: lightseagreen;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  text-align: center;
}

.nav li a{
  text-decoration: none;
  color: white;
}
.nav li:hover{
  background-color: turquoise;
}