.appContainer{
max-width: 1200px;
margin: auto;
border: 1px solid red;
height: 800px;
}



.sideBarClass{
border: 2px solid green;
background-color: lightgray;
height: 100 vh;
max-width: 300px;
height: 800px;
h1{
color: black;
}
}
