/* App-wide Styles */

.App {
  background-color: rgb(133, 133, 133);
  width:100%;
  height: 720px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
}

/* Sidebar Styles*/

.the-real-sidebar {
  background-color:rgb(85, 85, 85);
  border-right: 1px solid gray;
  height: 1000px;
  top: 0;
  left: 0;
  padding-left: 55px;
  padding-right: 55px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.sidebar-header {
  width: 100px;
}

.button-template {
  height: 50px;
  width: 200px;
  border-color: #979797;
  background-color: rgb(196, 43, 43);
  color: #FFFFFF;
  margin-top:10px;
  margin-bottom: 10px;
}

.input {
  height: 40px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

/* register/login containers */
.box1 {
  padding-left: 200px;
  margin-top: 100px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.box2 {
  padding-left: 300px;
  padding-top: 150px;
}