.App {
  
  flex-direction: row-reverse;
  background-color: #F3F3F3; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: left;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Nav {

  height: 100vh;
}

.NoteList {
  
  flex-direction: column-reverse;
} 
