/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

body {
  background: white;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  overflow: hidden;
}

.navigation {
  width: 20%;
  background: #d3d2d3;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

.navigation h1 {
  font-size: 2rem;
}

.nav-link {
  background: #24b8bd;
  margin: 10px 0px;
  padding: 10px;
  color: white;
  text-align: center;
}

.application {
  width: 80%;
  background: #f2f1f2;
  padding: 20px;
}

.note-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  overflow: auto;
  height: 100vh;
}

.note-list a {
  width: 30%;
  text-decoration: none;
  color: black;
}

.note-list a:hover{
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.note-container {
  width: 100%;
  background: white;
  border: 2px solid #d7d7d7;
  height: 200px;
  margin: 20px 0px;
  padding: 10px;
  overflow: auto;
}

.note-title {
  font-weight: bold;
  font-size: 2rem;
}

.note-form-container h1 {
  font-size: 1rem;
}

.note-form-container form {
  display: flex;
  flex-flow: column nowrap;
}

.note-form-container form input {
  max-width: 50%;
  margin: 10px 0px;
}

.note-form-container form textarea {
  height: 50vh;
  margin: 10px 0px;
}

.note-form-container form button {
  margin: 10px 0px;
  max-width: 25%;
  background: #24b8bd;
  color: white;
  padding: 10px;
}