html, body, .App {
  font-family:  'Roboto', sans-serif;
  padding: 0; margin: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  width:  100%;
}

.page {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height:  100vh;
  height:  100vh;
  background-color: #F2F6F6;
  &>div {
    width:  100%;
    min-height: 100vh;
    max-height:  100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow:  scroll;
    flex-direction: column;
    &>h2 {
      margin-top:  70px;
      margin-left:  35px;
      width:  100%;
      text-align: left;
    }
  }
}


@import 'components/SideBar/side-bar';
@import 'components/ListView/list-view';
@import 'components/AddNote/add-note';