/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(//fonts.googleapis.com/css?family=Roboto);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-weight: 800;
  word-wrap: none;
  word-break: normal;
}

[data-reach-dialog-overlay] {
  background: rgba(210, 210, 210, 0.8);
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 111;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
