* {
  box-sizing: border-box;
  margin: 0;
  color: #424242;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: #F2F1F2;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p, a {
  font-size: 1.4rem;
  text-decoration: none;
}