/* SideBar_ */

.side-bar-component {
  .side-bar {
    // max-width: 25%;
    // border: 1px solid red;
    min-height: 100vh;
    padding: 1.3rem 1rem;
    background-color: @sidebar-background;
    border: 1px solid @border-color;
    .Link; // that comes from src/less/mixin.less
    h1 {
      margin-bottom: 1.65rem;
    }
    .button-component;
  }
}