.page-container {
    display: flex;
}

.notes-title {
    color: #4A4A4A;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    line-height: 0.90;
    margin: 52px 0 0 20%;
    width: 100%;
}
