.note-list-container {
  background: var(--light-gray);
  width: 100%;
  padding: 2rem 1rem;
}

.note-list-container h2 {
  margin-bottom: 2rem;
  color: var(--dark-gray);
}

.note-list-container .note-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.note-list-container .note-list a {
  color: var(--black);
  text-decoration: none;
}
