.nav-container {
    padding: 1rem;
    min-width: 220px;
    height: 100vh;
    background-color: #D8D8D8;
    /* max-width: 20rem; */
}

.nav-header {
    margin: 0;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
}

@media (max-width: 770px) {
    .nav-container {
      height: 25vh;
    }
  }