.nav-container {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    height: 100vh;
    background: lightgray
}

.header-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-btns button {
    
    color: white;
    font-weight: 600;
    background-color: #23B8BE;
    border: 1px solid #86AEB1;
    margin: 0.5rem 0;
    height: 40px;
    border-radius: 0.1rem;
}

.header-title {
    margin: 0;
    padding: .5rem;
}