.navWrap {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    padding:  0 1rem;
    background-color: #D3D3D3;
    height: 100vh;
    color: #3D3F41;
}

.navHeader {
    display: flex;
    flex-wrap: wrap;
}

.navButton {
    width: 200px;
    height: 50px;
    background-color: #23B8BE;
    border: 1px solid #3FADAF; 
    box-shadow: 1px 1px rgb(102, 127, 129);
    border-radius: 0.2rem;
    margin: 0 0 1rem 0;
}

.navButton h3 {
    color: white;
    text-shadow: 1px 1px 3px rgb(9, 131, 131);
}