.navWrap {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    padding:  0 1rem;
    background-color: rgb(148, 151, 155);
    height: 100vh;
}

.navHeader {
    display: flex;
    flex-wrap: wrap;
}

.navButton {
    width: 200px;
    height: 50px;
    background-color: rgb(11, 226, 226);
    border: 1px solid rgb(9, 131, 131);
    box-shadow: 1px 1px rgb(9, 131, 131);
    border-radius: 0.2rem;
    margin: 0 0 1rem 0;
}

.navButton h3 {
    color: white;
    text-shadow: 1px 1px 3px rgb(9, 131, 131);
}