.Modal-Hidden {

    display:none;

}

.Modal-Container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: gray;
    z-index: 2;
   
    opacity: 0.95;
}

.NoteViewContainer {
    height: 400px;
    font-size: 6rem;
    
}

.Confirmation-Box {
    height: 350px;
    width: 700px;
    background-color: white;
    border: 1px solid red;
    opacity: 1;
    color: black;
    z-index:5;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.Button-Box{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 10px auto;

}

.Modal-Button-Delete{
    background-color: red;
    color: white;
    width: 250px;

}

.Modal-Button-Cancel{
    background-color: green;
    color: white;
    width: 250px;
    

}
.Note-View{
    display: flex;
    flex-direction: column;
    
}

.Edit-Delete-Box{
    align-self: flex-end;
    top: 0px;
    right: 0px;
    border: 1px solid red;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    text-decoration: underline;
    height: 30px;
    

}

.Edit-Delete-Box:hover{

    cursor: pointer; 
}