.Modal-Hidden {

    display:none;

}

.Modal-Container {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: pink;
    z-index: 5;
    top: 300px;

}

.NoteViewContainer {
    height: 400px;
    font-size: 10rem;
    
}