.main-body {
  width: 825px;
  border: 1px solid #9B9B9B;
  border-left: 0px;
  background: #f3f3f3;
  padding-top: 10px;
}
.main-body_header {
  font-family: 'Roboto', 'Segoe UI', 'Open Sans', 'Arial';
  font-size: 24px;
  color: #4A494A;
  font-weight: bold;
}
.main-body_notes {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
}
.note-box {
  background: #ffffff;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  width: 240px;
  height: 230px;
  margin-bottom: 20px;
  padding: 20px;
}
.note-title {
  font-family: 'Roboto', 'Segoe UI', 'Open Sans', 'Arial';
  font-size: 22px;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 7px;
}

.note-body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #4A494A;
  letter-spacing: 1px;
  line-height: 29px;
  height: 150px;
  margin-top: 7px;
}

a {
  text-decoration: none;
}