.note-container__note-link {
  text-decoration: none;
}

.note-link__note-div {
  background: #fff;
  border: 2px solid #979797;
  margin: 10px;
  padding: 10px;
}

.note-div__h1 {
  border-bottom: 1px solid #979797;
  font-size: 2rem;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
}

.note-div__p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

@media (min-width: 625px) {
  .note-container__note-link {
    width: 40%;
  }
}

@media (min-width: 890px) {
  .note-container__note-link {
    width: 30%;
  }
}