.note-container__note-link {
  flex-grow: 1;
  text-decoration: none;
}

.note-link__note-div {
  background: #fff;
  border: 2px solid #979797;
  margin: 10px;
  padding: 10px;
}

.note-div__h1 {
  border-bottom: 1px solid #979797;
  font-size: 2rem;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
}

.note-div__p {
  font-size: 1.5rem;
  margin-top: 2rem;
}