 nav {
    width: 30%;
    max-width: 260px;
    background-color: rgba(31, 29, 29, 0.212);
    align-self: flex-start;
    border-right: 1px solid black;

 }
 nav h1 {
     padding: 20px;
 }
 nav ul {
     list-style: none;
     margin-bottom: 20px;
 }

 nav ul li {
     padding: 20px;
 }

 nav ul li a {
     color: white;
     text-decoration: none;
 }