* {
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 888px;
}



.app_container {
  display: flex;
  width: 888px;
  height: 888px;
}





/* .App {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

.btn {
  background-color: turquoise;
}

.EachNote {
  display: flex;
  
 
} */