.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  background-color: #84001a;
  height: 800px;
}

.side-bar {
  flex:1;
  padding: 1%;
  height: 450px;


}
.note-view {
flex: 2;
padding: 1%;
height: 450px;
}