.App {
  display: flex;
}

.title {
  font-size: 2em;
  color: gray;
  background-color: silver;
  margin: 
}

.Notes {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
