.note-card {
  border: 1px solid gray;
  width: 200px;
  height: 100px;
  background-color: #fff;
}

.note-title {
  font-size: 16px;
}

.note-container {
  background-color: #f3f3f3;
}

.sidebar {
  background-color: #d7d7d7;
}

.sidebar-title,
.notes-title {
  color: #4a494a;
}

.button {
  background-color: #35c0c3;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
