.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding-left: 5%;
    padding-top: 10%;
}

.title-form {
    height: 60px;
}

.title {
    height: 35px;
    width: 300px;
    font-size: 1em;
}

.comment {
    height: 257px;
    width: 650px;
    font-size: 1em;
}

h2 {
    /* -webkit-text-stroke: 1px white;
   color: black;
   text-shadow:
       3px 3px 0 #000,
     -.5px -.5px 0 #000,  
      .5px -.5px 0 #000,
      -.5px .5px 0 #000,
       .5px .5px 0 #000; */
}