.DeleteModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(25,25,25, 0.5);
  width: 100%;
  height: 100%;
}

.DeleteModal-Box {
  text-align: center;
  background: white;
  border: 2px solid black;
  height: 150px;
  padding: 10px;
}

.DeleteModal-Box-Delete {
  background: #d0021b;
}

.DeleteModal-Box-Delete:hover {
  background: #83000f
}