.editNote {
    background-color: #f2f1f3;
    width: 33%;
    height: 666px;
    color: #424141;
}


.eNoteBody{
    display:block;    
    font-size: 0.7em;
    height:333px;
    width: 88%;
}

.eNoteContainer {
    margin-top: 66px;
    margin-left: 3%;
    font-size: 1.4em;
}

.eNoteHeader {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 11px;
}

.eNoteTitle {
    width: 777px;
    display: block
}

.eNoteButton {
    padding: 2% 11% 2% 11%;
    margin-top : 1%;
    background-color: #24b8bd;
    border: 1px solid #a3b2b3;
}

.eLink {
    text-decoration: none;
    color: white; 
}