/*#region sidebar*/
.sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    background: #d3d2d3;
}

.sidebar h1 {
    margin: 10px 0px 0px 5%;
    font-size: 3rem;
    font-weight: 700;
    color: #414141;
}

.sidebar_button {
    width: 90%;
    height: 30px;
    margin: 25px auto 0px auto;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color:white;
    background: #24b8bd;
}
/*#endregion*/

/*#region note-display & note-view*/
.note-display {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 100%;
    border: 1px solid #414141;
    background: whitesmoke;
}

.note-display h2 {
    margin: 2.5% 0 2.5% 5%;
    font-size: 2.5rem;
    font-weight: 700;
    color: #414141;
}

.note-display-grid {
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5%;
    width: 50%;
    margin-left: 5%;
    overflow-y: auto;
}
/*#endregion*/

/*#region note cards*/
.notecard {
    height: 200px;
    margin: 5%;
    overflow: hidden;
    text-overflow: ellipsis; 
    background: #ffffff;
    border: 1px solid grey;
}

.notecard-content {
    width: 90%;
    margin: 5% auto 0 auto;
}

.notecard strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: #030404;
}

.notecard hr {
    width: 90%;
    margin: 5% 0 5% 0;
}

.notecard p {
    margin: 5%;
    font-size: 1rem;
    overflow: auto;
    color: #79827f;
}

.notecard-link {
    margin: 5%;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}
/*#endregion*/

/*#region note-form*/
.note-form {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0 0 1%;
}

.note-form h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #414141;
}

.note-form #title {
    width: 30%;
    height: 35px;
    margin-top: 2.5%;
    padding: 0 0 0 1%;
}

.note-form #title::placeholder {
    font-size: 2rem;
}

.note-form #textBody {
    display: flex;
    width: 75%;
    height: 450px;
    margin-top: 1%;
    padding: 1% 0 0 1%;
}

#textBody::placeholder {
    font-size: 2rem;
}

.note-form button {
    width: 20%;
    height: 50px;
    margin-top: 2.5%;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color:white;
    background: #24b8bd;
    border: none;
}
/*#endregion*/

/*#region NoteEdit*/
.note-edit {
    display: flex;
    flex-direction: column;
    margin: 3% 0 0 1%;
}

.note-edit h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #414141;
}

.note-edit #title {
    width: 30%;
    height: 35px;
    margin-top: 2.5%;
    padding: 0 0 0 1%;
}

.note-edit #title::placeholder {
    font-size: 2rem;
}

.note-edit #textBody {
    display: flex;
    width: 75%;
    height: 450px;
    margin-top: 1%;
    padding: 1% 0 0 1%;
}

.editview #textBody::placeholder {
    font-size: 2rem;
}

.note-edit button {
    width: 20%;
    height: 50px;
    margin: 2.5%  2.5% 0 0;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color:white;
    background: #24b8bd;
    border: none;
}
/*#endregion*/

/*#region individual note*/
.viewnote {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0 0 1%;
}

.viewnote .button-box {
    display: flex;
    justify-content: flex-end;
    width: 97.5%;
}

.button-box .edit-link {
    all: unset;
    margin-right: 1%;
}

.button-box #edit {
    all: unset;
    margin-right: 1%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #414141;
    text-decoration: underline;
}

.button-box #delete {
    all: unset;
    font-size: 1.5rem;
    font-weight: 600;
    color: #414141;
    text-decoration: underline;
}

.viewnote-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #414141;
}

.viewnote-content p {
    margin-top: 2%;
    font-size: 2rem;
}

/*#endregion*/

/*#region Modal*/
.deleteModal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 30%;
    justify-content: space-around;
    background: white;
}

.modal-content p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

.modal-content button {
    width: 40%;
    height: 45px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border: none;
}

#modal-delete {
    background: red;
}

#modal-cancel {
    background: #24b8bd
}

/*#endregion*/

/*#region updated modal*/
.updateModal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.umodal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 30%;
    background: white;
}

.umodal-content p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}


#umodal-accept {
    all:unset;
    width: 20%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: none;
    background: red;
}
/*#endregion*/