
/* General button style */
.lambda-button {
  border: solid #979797 1px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  margin: 16px 0;
  width: 100%;
  max-width: 190px;
  cursor: pointer;
}
/* Class for the custom red color */
.lambda-button-red {
  background: #D0021B;
}

/* Class for the custom green color */
.lambda-button-green {
  background: #2BC1C4;

}
