.notesList_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notesList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.note {
    margin: 0.5rem 0.5rem;
    width: 200px;
    min-height: 170px;
    overflow: hidden;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    background-color: white;
}

.note h4 {
    margin: 0;
}

.note hr {
    margin: 0.25rem 0 0.5rem 0;
}

.note p {
    margin: 0;
    height: 6.8rem;
    overflow: hidden;
}