.note-card {
  margin: 2% 0;
  min-width: 100px;
  max-width: 30%;
  text-align: left;
}

.note-card .card-header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-height: 50px;
}

.note-card .card-body .card-text {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  max-height: 150px;
}
