.noteBox {
  display: flex;
  width: 100%;
  height: auto;
  font-family: roboto;
  padding: 30px;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-around;
  color: #4a4a4a;
}
.noteBox a {
  width: 290px;
  height: 290px;
}
.noteBox a:link {
  text-decoration: none;
  color: black;
}
.noteBox a:visited {
  text-decoration: none;
  color: black;
}
.noteBox a:hover {
  text-decoration: none;
  color: black;
}
.noteBox h1 {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
}
.noteBox .singleNote {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 15px;
}
.noteBox .singleNote .listBox {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid black;
  height: 300px;
  width: 295px;
  background: white;
  text-align: left;
}
