.cards-container{
    height: 400px;
    width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    padding-top: 10%;
}

.cards{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: top;
    padding-left: 5%;


}

.statement {
    font-family: 'Permanent Marker', cursive;
    padding-left: 5%;
}

h2 {
    font-family: 'Permanent Marker', cursive;
}