.note-container {
    margin-left: 250px;
    margin-top: 0;
    background-color: #F2F1F2;
    height: 100%;
}

.link-container { 
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

.link-container div {
    margin-left: 10px;
}

.body-container {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.body-container h3 {
    text-align: left;
}

.body-container p {
    text-align: left;
}

