.notes-view {
  display: flex;
  padding: 50px 10px;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  font-family: 'Roboto', sans-serif;
}

.note-row {
  width: 100%
}

.my-column {

  padding: 8px 6px !important;
}
