.note-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

h3 {
  text-align: left;
  padding: 8% 15px 0 15px;
}

#your-notes {
  padding: 2% 15px 0 15px;
}

.searchbar.form-control {
  display: inline-block;
  margin-top: 2%;
  margin-right: 2px;
  width: 40%;
}

.btn {
  margin: 0 2px;
}
