.note-card {

  width: 100%;
  height: 100%;
  border: solid #979797 1px;
  background: white;
  padding: 5px 10px; 
}



.note-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  margin: 0;
  text-align: left;

}

.note-text {
  font-size: .8rem;
  text-align: left;
}

.horizontal-line {
  height: 0;
  border: solid #979797 .5px;
}
