.side-bar {
    background-color: gainsboro;
    padding-left: 5%;
    height: 100vh;
}
.side-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    /* background-color: gainsboro; */
    height: 400px;
    width: 250px;
}

.button {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #2d2527;
    height: 50px;
    width: 200px;
    border: .2px solid #84001a;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: -8px 6px 9px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 6px 9px -5px rgba(0,0,0,0.75);
    box-shadow: -8px 6px 9px -5px rgba(0,0,0,0.75);
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
  }

.notes{
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    padding-top: -2%;

}

img {
    height: 150px;
    width: auto;
}