.Sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0px;
  padding: 6px;
  background: #d8d8d8;
  border-right: 1px solid rgba(0,0,0,0.5);
}

.Sidebar-Title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 7px;
  color: rgba(0,0,0,0.7);
  width: 56%;
  font-weight: 800;
}