/* NavigationPanel.js */
.navContainer {

    background-color: #D3D2D3;
    color: #414141;
    border: 1px solid #7B7B7C;
    height: 100vh;
}

.navBtn {
    background-color: #24B8BD;
    border: none;
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 35px;
    color: #FFFFFF;
    font-weight: bold;
}
.navBtn:hover {
    cursor: pointer;
}

/* CreateNote.js */
.createContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 4% 0;
}

input[name="title"] {
    width: 53%;
    margin: 10px 0 25px;
}
textarea {
    width: 90%;
    margin-bottom: 25px;
}

.createBtn {
    width: 28%;
    background-color: #24B8BD;
    border: none;
    height: 35px;
    color: #FFFFFF;
    font-weight: bold;
}


