
.modalWindow {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    background: #ffffff;
    opacity: 100;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    text-align: center;
    
    h3 {
        width: 100%;
    }

    .redDelete {
        height: 100px;
        width: 200px;
        background: red;
        color: white;

    }

    .blueCancel {
        height: 100px;
        width: 200px;
        background: #2bc0c4;
        color: white;
    }
}
.noDisplay {
    display: none;
}

.opaqueNoteView {
    opacity: .33;
}

