#noteView {
    button {
        border: none;
        background: #f3f3f3;
        font-size: 16px;
        text-decoration: none;
        a {
            text-decoration: none;
            color: #000000;
        }
        a:link {
            text-decoration: none;
            color: #000000;
        }
        a:hover {
            text-decoration: none;
            color: #000000;
        }
        a:visited {
            text-decoration: none;
            color: #000000;
        }
    }
}
.modalWindow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: absolute;
    border: 1px solid black;
    width: 900px;
    height: 300px;
    background: #ffffff;
    opacity: 100;
    z-index: 999;
    margin-top: 300px;
    margin-right: 150px;
    margin-left: 0;
    text-align: center;
    
    h3 {
        width: 100%;
        font-size: 27px;
    }

    .redDelete {
        height: 100px;
        width: 350px;
        background: red;
        color: white;
        font-size: 27px;

    }

    .blueCancel {
        height: 100px;
        width: 350px;
        background: #2bc0c4;
        color: white;
        font-size: 27px;
    }
}
.noDisplay {
    display: none;
}

.opaqueNoteView {
    opacity: .33;
}

