.edit-note-wrapper {
  margin: 0 auto;
  padding: 3rem 2.3rem;
  max-width: 400px;
}

.form__submit-wrapper .edit-wrapper__save-newnote {
  margin: 0;
}

@media (min-width: 890px) {
  .edit-note-wrapper {
    flex-grow: 1;
    max-width: initial;
  }

  .edit-note-wrapper__form {
    max-width: 680px;
  }
}