.CreateNote {
    display: flex;
    border: 2px green solid;
  }

  .create-form {
      display: flex;
      flex-direction: column;
      border: 2px solid red;
      width: 100%;
  }
  
  .input-title {
    margin-bottom: 30px;
  }

  .input-body {
      height: 400px;
      text-align: start;
  }