.delete {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.deleteNoteModal {
    margin-top: 169px !important;
    max-width: 700px !important;
    width: 533px !important;
    border-radius: 0 !important;
    border: 2px !important;
}

.warningMessage {
    margin: 41px 0 0 134px;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    font-size: 15.3px;
}

.deleteNoteModalButtons {
    display: flex;
}

.entireDeleteButton {
    margin: 29px 0 44px 69px;
    width: 189px;
    height: 42px;
}

.deleteButton {
    padding-top: 3px;
    font-weight: 550;
    color: white;
    background: #D0021B;
    border: 1px solid #979797;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.cancelButton {
    font-weight: 500;
    color: white;
    background: #2BC1C4;
    border: 1px solid #979797;
    margin: 29px 0 44px 23px;
    width: 189px;
    height: 42px;
    cursor: pointer;
}