.delete-note {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
}
.delete-choices {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-button {
  background-color: #D0021B;
}
