.ListView {
  padding-left: 2%;
}

.ListView h2 {
  text-align: left;

  margin-left: 2%;
  
  margin-top: 6rem;
  
  font-size: 2.4rem;
}

.NotesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.NotesWrapper a {
  margin: 4% 0% 0 2%;

  width: 30%;
  
  text-decoration: none;
  
  color: black;
  
  background-color: #FFFFFF;
}

.NotesWrapper .NoteCard {
  border: 1px solid black;
  height: 196px;
}