*{
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.app_container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width:900px;
}

.content_header{
    margin: 1rem 0.5rem;
}