/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  background: #f2f1f2;
  color: #524e4d;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.6rem;
  margin: 5px;
  font-weight: bold;
  line-height: 0.9;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-size: 1.8rem;
}
p {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  background: #d3d2d3;
  min-height: 100vh;
  max-width: 240px;
  min-width: 240px;
  padding: 10px;
  border: 1px solid #524e4d;
}
.button {
  background: #24b8bd;
  color: white;
  border: 1px solid #524e4d;
  width: 184px;
  padding: 10px;
  font-size: 1.6rem;
  margin: 25px 0 5px 10px;
  cursor: pointer;
  text-align: center;
}
.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
  width: 75%;
}

.notes-list h3 {
  width: 100%;
  font-weight: bold;
  margin: 8% 2% 3%;
}

.notes-list .note-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #524e4d;
  width: 185px;
  height: 185px;
  margin: 15px 5px;
  background: white;
  overflow: hidden;
  padding: 10px;
}

.notes-list .note-preview h4 {
  font-size: 1.8rem;
  width: 90%;
  border-bottom: 1px solid #524e4d;
  padding: 7px 0;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-list .note-preview p {
  margin: 5px;
  font-size: 1.2rem;
  width: 80%;
  height: 80%;
  align-self: flex-start;
  font-weight: bold;
  line-height: 1.8;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}
form h3 {
  margin: 8% 0 5%;
}
form input {
  padding: 12px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #a9a9a9;
  width: 85%;
}
form textarea {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  border-radius: 3px;
  width: 140%;
  height: 43%;
}
form .button {
  margin-top: 10px;
}

.note-container {
  margin: 20px auto;
  width: 100%;
  padding: 5px 25px;
}
.note-container .note-buttons {
  display: flex;
  justify-content: flex-end;
}
.note-buttons .button2 {
  margin: 5px;
  padding: 3px;
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}
.note-container h3 {
  margin-bottom: 25px;
}
.note-container p {
  font-family: "Raleway", sans-serif;
  white-space: pre-wrap;
  font-weight: bold;
  line-height: 1.7;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background: #524e4d;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 25% 0 0 10;
  opacity: 0.97;
}
.delete-modal {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  padding: 30px;
  margin: auto;
  background: white;
}
.delete-modal h4 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.delete-modal .button {
  width: 184px;
  margin: 15px;
  padding: 10px;
}
.delete-modal .yes-button {
  background: #ca001a;
}
