/* My Styling */

* {
  box-sizing: border-box;
}

.App {
  /* display: flex;
  flex-flow: column; */
  border: 2px solid red;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.App-notes {
  display: flex;
  flex-flow: column;
  width: 40%;
  border: 2px solid red;
  padding-left: 20px;
  height: 1000px;
  background: rgb(209, 204, 204); 
}

.App-buttons {
  text-align: center;
  width: 80%;
  border: 2px solid black;
}

