/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background: #f2f1f2;
  color: #524e4d;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.6rem;
  margin: 5px;
}

.container {
  display: flex;
}

.sidebar {
  background: #d3d2d3;
  min-height: 100vh;
  width: 25%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #524e4d;
}
.button {
  background: #24b8bd;
  color: white;
  border: 1px solid #524e4d;
  padding: 5px;
  font-size: 1.6rem;
  margin: 10px 5px;
  cursor: pointer;
  text-align: center;
}
.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
  width: 75%;
}
.notes-list .note-preview {
  border: 1px solid #524e4d;
  width: 150px;
  height: 150px;
  margin: 20px;
  background: white;
  overflow: hidden;
}

.notes-list .note-preview h3 {
  font-size: 2rem;
  border-bottom: 1px solid #524e4d;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

.notes-list .note-preview p {
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 70%;
}
form h2 {
  font-size: 2.6rem;
}
form input {
  padding: 3px;
  margin: 10px 0;
}
form textarea {
  height: 50%;
}
