body {
  margin: 3% auto;
  padding: 0;
  font-family: Raleway;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  color: #4A4A4A;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: bolder;
  text-align: left;
  padding-left: 5%;
}

button {
  background-color: #2BC1C4;
  color: #FFFFFF;
  border: none;
  width: 80%;
  font-size: 1.1rem;
}
*{
  box-sizing: border-box;
}

a {
  color: #4A4A4A;
}
a:hover {
  text-decoration: none;
  color: #4A4A4A;
}

.buttonStyle {
  padding: .6% 12%;
}

.buttonStyle h5 {
  text-align: center;
}