.App {
  height: 100%;
  background-color: #F3F3F3;
  font-family: 'Raleway medium', 'sans-serif';
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/*NOTE: I commented out most of this file because the styling pertained to the default header and logo that I think comes with react automatically when you run create-react-app. It was unnecessary for this project and I didn't want to take the chance that it would interfere with my Lambda Notes styling. It could probably be deleted, but I left it here just in case someone finds the original styling useful. */
