body {
  margin: 0;
  padding: 0;
  background-color: #F3F3F3 !important;
  font-family: 'Raleway', sans-serif;
  font-color: #4A4A4A;
}

/*I am not 100% sure that this file is necessary. I may test later to see whether I can somehow merge this with the App.css file.*/
