.Card-Style {
  margin: 1rem 1rem;
  width: 200px;
  min-height: 170px;
  overflow: hidden;
}

.Card-Body {
  border: 0.5px solid #979797;
}

.Card-Title {
  font-size: 1.8rem;
  border-bottom: 1px solid #979797;
  text-align: left;
  font-weight: bold;
  color: black;
}

.Card-Text {
  font-size: 1.3rem;
  color: black;
}