.notesList__title {
  margin-left: 255px;
}

.notesList__list {
  /* border: 1px red solid; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin-left: 220px;
}

.notesList__notes {
  margin: 2%;
}
