
.a {
  text-decoration: none;
  color: white;
}

.csvLink {
  margin-bottom: 15px;
}

.taskFontNone {
  text-decoration: none;
  cursor: pointer;
}

.taskFont {
  text-decoration: line-through;
  cursor: pointer;
}