
.a {
  text-decoration: none;
  color: white;
}

.csvLink {
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: white;
}

.taskFontNone {
  text-decoration: none;
  cursor: pointer;
}

.taskFont {
  text-decoration: line-through;
  cursor: pointer;
}