:root {
  --default-border: rgb(128, 128, 128);
  --default-bg-color-dark: rgb(209, 209, 209);
  --dafault-bg-color-light: rgb(245, 245, 245);
  --default-text-color: rgb(82, 82, 82);
  --default-button-bg: rgb(0, 200, 207);
  --default-button-border: rgb(72, 182, 182);
  --default-button-text-color: rgb(255, 255, 255);
  --default-caution-button-bg: rgb(231, 0, 0);
  --default-caution-button-border: rgb(184, 22, 54);
}

.App {
  background: rgb(245, 245, 245);
  display: flex;
  min-height: 100vh;
  max-height: 100%;
  min-width: 400px;
  width: 100%;
}

.App_sideBar {
  background: rgb(209, 209, 209);
  border-right: 1px solid var(--default-border, rgb(128, 128, 128));
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  width: 25%;
}

.App_sideBar h3 {
  border-bottom: 1px solid var(--default-border, rgb(128, 128, 128));
  color: rgb(82, 82, 82);
  font-size: 30px;
  line-height: 30px;
  margin: 20px 0 35px;
  padding-bottom: 30px;
  width: 80%;
}

.App_button {
  align-items: center;
  display: flex;
  background: var(--default-button-bg, rgb(0, 200, 207));
  border: 2px solid var(--default-button-border, rgb(72, 182, 182));
  border-radius: 3px;
  box-shadow: -2px 1px 3px var(--default-border, rgb(128, 128, 128));
  color: var(--default-button-text-color, rgb(255, 255, 255));
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px 1px 2px var(--default-border, rgb(128, 128, 128));
  width: 80%;
}

.App_body {
  width: 75%;
}

.App_button-red {
  background: var(--default-caution-button-bg, rgb(231, 0, 0));
  border-color: var(--default-caution-button-border, rgb(184, 22, 54));
  margin: auto 0 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}