.editNote__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.editNote__header {
  font-size: 24px;
  margin-bottom: 35px;
  font-weight: bold;
}

.editNote__form {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Raleway';
  font-weight: 300;
  margin-left: 2px;
}

.editNote__title-field {
  max-width: 500px;
  width: 411px;
  height: 30px;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid rgb(153, 153, 153);
  padding: 9px 0px 11px 15px;
  box-shadow: inset 1px 1px 1px rgb(153, 153, 153);
  margin-bottom: 15px;
}

.editNote__title-field:focus {
  outline: 0;
}

.editNote__content-field {
  width: 690px;
  padding: 25px 10px 10px 25px;
  font-family: 'Raleway';
  font-weight: 300;
  border-radius: 3px;
  font-size: 14px;
  height: 380px;
  border: 1px rgb(153, 153, 153) solid;
  box-shadow: inset 1px 1px 1px rgb(153, 153, 153);
  margin-bottom: 18px;
  letter-spacing: 0.4px;
}

.editNote__content-field:focus {
  outline: 0;
}

.editNote__submit {
  padding: 13px;
  text-align: center;
  background: rgb(42, 192, 196);
  border: 1px solid rgb(151, 151, 151);
  width: 230px;
  color: white;
  font-size: 20px;
  cursor: default;
}
