/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box
}

html {
  font-size: 62.5%
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    
}

h1 {
  font-size: 4.0rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800
}

h2 {
  font-size: 2.8rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800
}

h3 {
  font-size: 2.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800
}

h3 a {
  font-size: 2.0rem;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

span {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600
}

p {
  font-size: 1.7rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400
}

a {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600
}