.NoteCard, .NoteCard:visited {
  background: white;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 2px;
  box-shadow: -1px 1px 2px rgb(128, 128, 128);
  color: rgb(77, 77, 77);
  cursor: pointer;
  height: 200px;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 0 10px;
  text-decoration: none;
  width: 30%;
}

.NoteCard p {
  overflow-wrap: break-word;
  white-space: pre-wrap; 
}

.NoteCard_title {
  border-bottom: 1px solid rgb(161, 161, 161);
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
  padding: 5px 0;
}

.NoteCard_body {
  font-size: 14px;
  margin: 0;
}

.NoteCard:last-child {
  color: blue;
}

@media (max-width: 768px) {
  .NoteCard {
    width: 45%;
  }
}

@media (max-width: 545px) {
  .NoteCard {
    margin-left: 10px;
    width: 90%;
  }
}