.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 30%;
  max-width: 300px;
  min-width: 220px;
  height: 100%;
  background: rgb(215, 215, 215);
  padding: 15px;
  border-right: 1px solid darkgray;
}

.sidebar__title {
  font-size: 50px;
  width: 100%;
  color: rgb(74, 73, 74);
  font-weight: bold;
}

.sidebar__buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: 10px;
}

.sidebar__button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: rgb(42, 192, 196);
  border: 0px;
  color: white;
  font-size: 16px;
  cursor: default;
}

.sidebar__button:active {
  background: rgb(32, 159, 163);
}

.sidebar__button:focus {
  outline: 0;
}