.sidebar {
    background: #d3d2d3;
    height: 100vh;
    border-right: 1px solid rgb(180, 180, 180);
    width: 40%;
  }

h1{
    font-size: 2.4rem;
    margin-left: 15px;
    color: darkslategrey;
}
  
  .view {
    background: #f2f1f2;
    width: 75%;
  }
  
  .button {
    text-align: center;
    background: lightseagreen;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f3fafa;
    border: 2px solid lightgrey;
    max-width: 80%;
    margin: 10px auto;
    padding: 15px 5px;
    cursor: pointer;
  }

  h2{
    margin-right: 500px;
    margin-left: 15px;
  }
  
  .button:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);
    transition: .5s;
  }
  
  .notes-container {
    background: rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 100%;

  }
  
  .card {
    background: white;
    text-align: left;
    margin: 15px;
    padding: 10px;
    border: 1px solid lightgrey;
    width: 175px;
    height: 175px;
    cursor: pointer;
  }

  .card:hover {
      border: 1px solid black;
      box-shadow: 7px 10px lightseagreen;
      transition: .5s;
  }
  
  .card h4 {
    border-bottom: 1px solid lightgrey;
  }