.card-ctn {
    width: 100%;
    margin: 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card-ctn .card{
    height: 225px;
    width: 250px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #979797;
    background-color: #f3f3f3;
    display: flex;
    flex-flow: row wrap;
}
.card-ctn h3{
    width: 240px;
    margin: 10px 10px 20px 10px;
    border-bottom: 1px solid #979797;
}

.card-ctn p{
    margin: 0 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.card-ctn p:before{
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.card-btn p:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }