.view-ctn {
    margin: 10 200px;
    width: 100%;
    padding: 30px;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    border: 1px solid #979797;
    border-left: 0px;
}

.action-ctn {
    display:flex;
    flex-flow: row-reverse;
}