* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    height: 100%;
}

.body {
    display: flex;
}


.sideBar {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #D3D2D3;
    padding: 2%;
    height:100vh;
    max-height: 100%;
}

.sideBar h1 {
    color: #4A494A;
    font-size: 3rem;
    margin-bottom: 4%;
}



.sideBar a {
    text-decoration: none;
    width:20vw;
    background-color: red;
    border: none;
    background-color: #2AC0C4;
    color: white;
    margin-top: 8%;
    font-size: 1.4rem;
    height: 7.5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sideBar a:hover {
    font-size: 1.6rem;
    height: 7.7vh;
    cursor: pointer;
}

.logo {
    width: 90%;
    text-align: left;
}