.container0 {
  display: flex;
  
}
.leftnav {
  display: flex;
  flex-direction: column;
  width: 20%;
  height:100vh;
  background: #d8d8d8
}

.container1 {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  background: #f3f3f3;
}

.Note {
  height: 150px;
  width: 150px;
  background: white;
  margin: 10px 10px;
  overflow: hidden;
}

.button {
  height: 40px;
  width: 120px;
  background: #2bc1c2;
}




