.note__container {
    display: flex;
    flex-wrap: wrap;
}


.note__container-notes {
    margin: 10px;
    padding: 5px;
    background-color: white;
    border: solid 1px grey;
    margin-bottom: 20px;
}

.note__container-notes :link {
    color: black;
    text-decoration: none;
}

.note__container-notes :visited {
    color: black;
}