.nav-container {
    box-sizing: border-box;
    max-width: 25%; /*244px;*/
    width: 100%;
    background-color: #D8D8D8;
    padding: 24px 1.8% 0px 1.8%;
    text-align: start;
    font-family: "Roboto";
    font-size: 1.8vw;
    color: #4A4A4A;
    border-right: 2px solid #BCBCBC;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* height: 100%; */
}
@media (max-width: 400px) {
    .nav-container{
      max-width: 100%;
      font-size: 30px;
    }
  }

.lambdaNotes {
    padding-bottom: 14px;
    font-size: 3.7vw;
    text-shadow: 2px 2px 2px gray;
    width: 100%;
    display: flex;
}

@media (max-width: 400px) {
    .lambdaNotes{
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


