.main_container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 75%;
    background-image: linear-gradient(to right bottom, rgba(80, 81, 96, 0.65))
    /*min-width: 660px;*/
    /*background-color: #f1f1f1;*/
    
    
}

