.newnote-container {
    width: 100%;
    background: #E7E6E7;
}

.newnote-container .newnote-title {
    margin: 15px 0 0;
    padding: 0 20px 20px;
    height: 10%;
    display: flex;
    align-items: flex-end;
}

.newnote-container .newnote-form input {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 3px;
    margin: 0 25px 20px;
}

.newnote-container .newnote-form .note-title-input {
    width: 50%;
}

.newnote-container .newnote-form .note-content-input {
    width: 88%;
    height: 310px;
    vertical-align: text-top;
}