* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #d6d6d6;
  color: #4b4a4b;
  width: 25%;
  height: 100vh;
  padding: 0 1%;
  font-size: 38px;
  text-align: left;
  line-height: 60px;
  border: 2px solid #bdbdbd;
  position: fixed;
}

.sidebar button {
  width: 100%;
  background: #30bec3;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  padding: 25px 0;
  margin: 15px 0;
  border: 2px solid #8a9b9c;
  cursor: pointer;
}

.sidebar .logout-button {
  background: #c80a1d;
}

.sidebar .tag-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sidebar .tag-wrapper .tag {
  width: 30%;
  font-size: 15px;
  font-weight: bold;
  background: grey;
  text-align: center;
  margin: 10px 1.5%;
  color: white;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #30bec3;
}

.note-list-wrapper {
  width: 75%;
  min-height: 100vh;
  margin: 0 0 0 25%;
  background: #f2f0f1;
  color: #4b4a4b;
  padding: 50px 3%;
  text-align: left;
  font-size: 42px;
}

.note-list-wrapper h2 {
  margin: 65px 0 40px;
  font-size: 42px;
}

.note-list-wrapper .searchbar-form {
  width: 31%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.note-list-wrapper .searchbar-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #8a9b9c;
  font-size: 26px;
}

.note-list-wrapper .sort-options {
  display: flex;
  justify-content: space-between;
}

.note-list-wrapper .sort-options button {
  width: 31%;
  background: #30bec3;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0;
  margin: 15px 0;
  border: 2px solid #8a9b9c;
  cursor: pointer;
}

.note-list-wrapper .sort-options button:focus {
  color: #30bec3;
  background: #ffffff;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  background: #ffffff;
  color: #161514;
  width: 31%;
  margin: 25px 0;
  height: 420px;
  border: 3px solid #8a9b9c;
  padding: 0 2.5% 10px;
  overflow-y: hidden;
  cursor: pointer;
}

.note h3 {
  font-size: 36px;
  margin: 0;
  padding: 20px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 4px solid #8a9b9c;
}

.note h4 {
  font-size: 28px;
  margin: 0;
  padding: 10px 0;
}

.create-note-wrapper {
  width: 75%;
  margin: 0 0 0 25%;
  background: #f2f0f1;
  color: #4b4a4b;
  padding: 50px 3%;
  text-align: left;
  font-size: 28px;
  height: 200vh;
}

.create-note-wrapper h2 {
  padding: 30px 0;
}

.create-note-form {
  display: flex;
  flex-direction: column;
}

.create-note-title,
.create-note-text {
  font-size: 28px;
  font-weight: bold;
  padding: 25px 2%;
  border: none;
  border-radius: 5px;
  border: 2px solid #8a9b9c;
  margin-bottom: 30px;
}

.create-note-title {
  width: 60%;
}

.create-note-text {
  height: 735px;
  padding: 0 4% 600px;
}

.create-note-form button {
  width: 32%;
  background: #30bec3;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  padding: 25px 0;
  cursor: pointer;
  border: 2px solid #8a9b9c;
}

.note-full-view {
  width: 75%;
  margin: 0 0 0 25%;
  background: #f2f0f1;
  color: #4b4a4b;
  padding: 0 3%;
  text-align: left;
  font-size: 28px;
  min-height: 100vh;
}

.edit-delete-wrapper {
  display: flex;
  justify-content: flex-end;
}

.edit-button,
.delete-button {
  text-decoration: underline;
  padding: 20px 0 0 2%;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.note-full-view .full-note-title {
  margin: 20px 0;
  font-size: 44px;
  font-weight: bold;
}

.note-full-view .full-note-text {
  margin: 60px 0;
}

.note-full-view .add-tag-form {
  margin: 20px 0 0;
}

.note-full-view .add-tag-form input {
  padding: 5px 0 5px 1%;
  border: 2px solid #8a9b9c;
  border-right: none;
  width: 10%;
}

.note-full-view .add-tag-form button {
  padding: 5px 10px;
  border: 2px solid #8a9b9c;
  font-weight: bold;
  background: #30bec3;
  color: white;
}

.note-full-view .tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.note-full-view .tag-wrapper .tag {
  display: flex;
  flex-direction: column;
  margin: 30px 2% 0 0;
  background: grey;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 2%;
  border-radius: 10px;
}

.note-full-view .tag-wrapper .tag .tag-delete-button {
  position: fixed;
  color: red;
  margin: -8px 0 0 -20px;
  cursor: pointer;
}

.edit-note-wrapper {
  width: 75%;
  margin: 0 0 0 25%;
  background: #f2f0f1;
  color: #4b4a4b;
  padding: 50px 3%;
  text-align: left;
  font-size: 28px;
  height: 150vh;
}

.edit-note-wrapper h2 {
  padding: 30px 0;
}

.edit-note-form {
  display: flex;
  flex-direction: column;
}

.edit-note-title,
.edit-note-text {
  font-size: 28px;
  font-weight: bold;
  padding: 25px 2%;
  border: none;
  border-radius: 5px;
  border: 2px solid #8a9b9c;
  margin-bottom: 30px;
}

.edit-note-title {
  width: 60%;
}

.edit-note-text {
  height: 735px;
  padding: 0 4% 600px;
}

.edit-note-form button {
  width: 32%;
  background: #30bec3;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  padding: 25px 0;
  cursor: pointer;
  border: 2px solid #8a9b9c;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  background: white;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 60px 0;
}

.modal-content p {
  padding: 20px 0;
}

.modal-content .button-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}

.modal-cancel-button,
.modal-delete-button {
  width: 35%;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  padding: 25px 0;
  cursor: pointer;
  border: 2px solid #8a9b9c;
  margin: 0 2%;
}

.modal-delete-button {
  background: #c80a1d;
}

.modal-cancel-button {
  background: #30bec3;
}

.login-page {
  background: #4b4a4b;
  width: 100%;
  height: 102.5vh;
  margin-top: -25px;
  padding-top: 300px;
}

.login-content-wrapper {
  background: #d6d6d6;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border: 10px solid #30bec3;
  border-radius: 10px;
}

.login-content-wrapper h1 {
  padding: 20px;
  font-size: 50px;
}

.login-content-wrapper p {
  font-size: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.login-form input {
  padding: 10px 2%;
  margin: 10px 0;
}

.login-form button {
  width: 80%;
  background: #30bec3;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  margin: 5px auto;
  border: 2px solid #8a9b9c;
  cursor: pointer;
  border-radius: 5px;
}
