#root{
  height:200vh;
}
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif; 
  height: 100%;
}
.h-100 {
  height:100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  height: 100%;
}

.header_font {
  font-family: 'Roboto', sans-serif;
}

.left_side {
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  color: white;
  padding-left: 26px;
  
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.right_side {
  background:#F3F3F3;
  height: 100%;
  border: 1px solid gray;
  
}

.nav_head {
  text-align: start;
  margin-top:20px;
  color: black;
  align-self: left;
  font-family: 'Roboto', sans-serif;
}

.left_side .nav_button {
  background-color: #2bc1c4;
  border: 1px solid grey;
  height: 45px;
  width: 100%;
  margin: 10px 0;
  padding: 9px 0;
  
}

.left_side a {
  color: white;
}

.left_side a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.title_bar {
  height:120px;
  justify-content: flex-start;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;  
}

.mini_nav {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-content: flex-end;
}

.mini_nav a {
  margin: 12px;
  color: #5F5B58;
}
.note_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 60px;
}

.note_card {
  height: 210px;
  width: 200px;
  background: white;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border: 1px solid gray;
  color:black;
  box-shadow:2px 2px 2px 1px gray;
}

.test a:hover {
  color: black;
  text-decoration: none;

}

.new_note_title {
  width: 40%;
}

.new_note_text {
  width:80%;
  height: 400px;
  margin-top:10px;
}

.save_button {
  background-color: #2bc1c4;
  border: 1px solid grey;
  height: 45px;
  width: 20%;
  margin: 10px 0;
 
  color: white;
}
.new_note_form {
  display: flex;
  flex-direction: column;
  padding-left: 19px;

}
form .save_button:hover {
  cursor: pointer;
}
.edit_title {
  text-align: left;
  margin-left: 18px;
}

.modal_btn {
  margin: 20px;
  width: 200px;
  height: 40px;
  border: 1px solid gray;
  color: white;
}
.del_btn {
  background: red;
}

.no_btn {
  background:#2bc1c4;
}

#password_warning {
  color: red;
  display:none;
}

#current_user{
  display:none;
}

#passwordsdontmatch {
  color: red;
  display:none;
  align-self: flex-start;
}

#usernamealreadyexists {
  color: red;
  display:none;
  align-self: flex-start;
}

.input_lable {
  align-self: flex-start;
  font-weight: bold;
}