* {
  /*border: 1px solid black;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: #4A4A4A;
}

a {
  color: #4A4A4A;
  text-decoration: none;
}

button {
  background: #2BC1C4;
  height: 40px;
  width: 200px;
  color: #FFFFFF !important;
  cursor: pointer;
  border: 1px solid #979797;
  font-size: 16px;
}

button:hover {
  background: #43D3D6;
}

button a {
  color: #FFFFFF;
}

button a:visited {
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 20px auto;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #979797;
  min-height: 600px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  background: #D8D8D8;
  border-right: 1px solid #979797;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-container h1 {
  font-size: 35px;
  line-height: 0.9;
}

.sidebar-container button {
  margin-bottom: 15px;
}

.main-container {
  width: 750px;
  background: #F3F3F3;
  display: flex;
  flex-direction: column;
  padding: 20px 35px 20px 35px;
}

.main-container h2 {
  font-size: 23px;
}

.note-previews-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -48px;
}

.note-preview-container {
  width: 200px;
  height: 200px;
  border: 1px solid #979797;
  box-sizing: border-box;
  padding: 5px 15px;
  margin: 10px 48px 10px 0;
  background: #FFFFFF;
  word-break: break-all;
  overflow-wrap: break-word;
}

.note-preview-container:hover {
  border: 2px solid #979797;
}

.note-preview-container h3 {
  border-bottom: 1px solid #979797;
  padding: 0 0 5px 0;
  margin: 5px 0 0 0;
}

.note-preview-container p {
  margin: 8px 0;
}

.main-container .form {
  display: flex;
  flex-direction: column;
}

.main-container h2 {
  margin-bottom: 20px;
}

input {
  border-radius: 3px;
  border: 1px solid #979797;
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  width: 350px;
  height: 40px;
}

textarea {
  width: 660px;
  height: 350px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  resize: none;
  border-radius: 3px;
  border: 1px solid #979797;
  font-size: 14px;
  padding: 15px !important;
}

.main-container .note {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container .note-body {
  width: 660px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions-container h5 {
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0 0 20px;
  font-size: 15px;
  font-weight: bold;
}

.overlay {
  background-color: rgba(207, 207, 207, 0.80);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(65%, 120%);
  width: 530px;
  height: 175px;
  border: 1px solid #979797;
  background: #FFFFFF;
}

.modal:focus {
  outline: none;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.modal-buttons button:first-child {
  background: #D0021B;
}

.modal-buttons button:last-child {
  margin-left: 20px;
}
