/* .App {
  text-align: center;
  background-color: #f3f3f3;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left {
  background-color: #d8d8d8;
  overflow: scroll;
  height: 100%;
}

.right {
  background-color: #f3f3f3;
  overflow: scroll;
  padding-left: 20px;
  height: 100vh;
}

h1 {
  font-family: Roboto Bold;
  color: #4a4a4a;
  text-align: center;
}

.sidebar-button {
  width: 200px;
  height: 60px;
  margin: 10px 10px 0px 25px;
  background-color: #2bc1c4;
  color: white;
  font-size: 20px;
  font-weight: heavy;
}

.save-button {
  width: 200px;
  height: 60px;
  margin-top: 20px;
  background-color: #2bc1c4;
  color: white;
  font-size: 20px;
  font-weight: heavy;
}

h2 {
  font-family: Roboto Bold;
  color: #4a4a4a;
}
.home {
  text-align: center;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.cards {
  width: 200px;
  height: 200px;
  border: 2px solid #979797;
  font-family: 'Raleway Medium';
  background-color: white;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
  color: #4a4a4a;
}

.cards:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.single-note {
  width: 800px;
}

.note-title {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.note-text {
  height: 500px;
  width: 100%;
}
