.app{
  display: flex;
  background-color: #F2F1F2;
}

.disabledSideBar{
  opacity: 0;
}
.side-bar{
  background:rgb(227, 227, 227);
  height:100vh;
  padding:10px;
  position: sticky;
  height:100vh;
  top:0;
}
.link-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-section button{
  background:#00cec9;
  border:1px solid rgb(167, 167, 167);
  padding:15px;
  margin:10px;
  width:210px;
  font-size:20px;
  font-weight: bold;
  color:white;
  outline: none;
  cursor: pointer;
}

.link-section button.logout-btn{
  background:rgb(152, 0, 0);
  border:1px solid rgb(167, 167, 167);
  padding:15px;
  margin:10px;
  width:210px;
  font-size:20px;
  font-weight: bold;
  color:white;
  outline: none;
  cursor: pointer;
}
/*notes*/
.notes-list{
  width:100%;
  display: flex;
  flex-direction: column;
  padding:50px 20px;
}

.notes-list .your-notes {
  color: #414141;
  font-size:25px;
  margin-bottom:50px;
}


.notes-list .notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.note{
  border:1px solid rgb(167, 167, 167);
  padding:10px;
  width:150px;
  height: 200px;
  overflow-wrap: break-word;
  overflow: hidden;
  margin-bottom:30px;
  background: white;
}
.note .note-title{
  text-decoration: none;
  color:black;
}
/*forms*/
form{
  display: flex;
  flex-direction: column;
  padding: 5% 1% 0 1%;
}
form input{
  border:1px solid black;
  padding:10px;
  width:300px;
  font-size:20px;
  outline: none;
  margin-bottom:10px;
}

form textarea{
  border:1px solid black;
  width:600px;
  height:300px;
  font-size:20px;
  outline: none;
  padding:10px;
}

form button{
  width:150px;
  padding:15px;
  margin-top:10px;
  background:#00cec9;
  font-size:20px;
  color:white;
  cursor: pointer;
}

/*Note Page*/

.note-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:50px 20px;
  width:100vw;
  top:0;
  margin-bottom:0;
}
.note-page .note-body{
  width:100%;
  margin:0;
  overflow-wrap: break-word;
}
.note-page .note-title{
  width:100%;
  right:0;
  margin-bottom:20px;
  padding:0;
}
.note-page-buttons{
  display: flex;
  justify-content: flex-end; 
  text-decoration: underline;
  font-weight: bold;
}
.note-page-buttons a{
  color:black;
  margin-right:10px;
}
.note-page-buttons span{
  cursor: pointer;
}
.modal-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(114, 114, 114, 0.77);
}
.delete-modal{
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  border: 3px solid rgb(187, 187, 187);
  background: white;
  z-index: 2;
}
.delete-modal p{
  text-align: center;
  padding: 0 0 20px 0;
}

.delete-modal .note-modal-buttons button{
  width:200px;
  padding:15px 60px;
  font-size:20px;
  color:white;
  text-align: center;
  text-decoration: none;
  margin:10px;
  cursor: pointer;
  outline: none;
}
.delete-modal .note-modal-buttons .delete-btn{
  background:rgb(164, 0, 0);
}
.delete-modal .note-modal-buttons .no-btn{
  background:#00cec9;
}

.login-register-page{
  display: flex;
  justify-content: center;
  width:100vw;
  height: 100vh;
  border:3px solid black;
}

.login-register-page a{
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  padding:10px;
  background: black;
  margin:10px;
  border:1px solid black;
}
.register-login-div{
  display: flex;
  justify-content: center;
  width: 100%;
}
.register-login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width:500px;
}
.register-login-form button{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
