
/* Styling from Stakeholder:

Heading font: Roboto Bold
Everything else font: Raleway Medium

Heading and main font color: #4A4A4A
Button font color: #FFFFFF

Sidebar background: #D8D8D8
Main background: #F3F3F3
Main button background: #2BC1C4
Delete button background: #D0021B
Border color used throughout: #979797 */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  padding: 0; */
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

html {
  font-size: 62.5%;
}