body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App{
  display:flex;
  background-image: url("https://jooinn.com/images1280_/old-paper-background.jpg");
}
.App .sidebar{
  width:15%;
  background-color:#D3D2D3;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.note-list{
  width:85%;
  display: flex;
  flex-wrap: wrap;
}
.note-card{
  width: 300px;
  height:300px;
  padding: 5px 20px;
  background : rgb(253, 253, 253);
  border : 3px solid black;
  margin:1%;
  overflow: hidden;
  color : black;
  background-image: url("https://img.freepik.com/free-photo/white-marble-texture-background_38679-514.jpg?size=338&ext=jpg");
  
}
.note-card:hover {
  box-shadow: 0 50px 50px rgba(2, 3, 3, 0.25), 0 50px 50px rgba(0,0,0,0.22);
}
.note-card .card-title{
  border-bottom : 2px solid rgb(231, 231, 231);
  color: #1B1C21;
  
}

.create-new{
  width:70%;
  height:100vh;
  background-color:#F2F1F2;
  background-image: url("https://jooinn.com/images1280_/old-paper-background.jpg");
}
.create-new form{
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
  padding:20px;
  background-image: url("https://img.freepik.com/free-photo/white-marble-texture-background_38679-514.jpg?size=338&ext=jpg");
}
.create-new form input{
  border-radius:5px;
}
.create-new form .form-title{
  width:30%;
  height:50px;
  margin-bottom: 20px;
}
.create-new form .form-content{
  width:90%;
  height:500px;
  margin-bottom:20px;
  text-align: center;
}
.create-new form .form-save{
  background : rgba(52, 191, 195, 0.685);
  width:25%;
  height: 50px;
}
.view-note{
  height : 100vh;
  box-sizing: border-box;
  padding : 20px;
  background-color: #f1f2f1;
  width:70%;
  text-align: right;
}
.view-note a{
  margin : 10px;
}
.view-note .note-section{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.delete-modul{
  position : fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin  : 15% 10%;
  width:500px;
  border : 1px solid black;
  background : white;
}

.delete-modul .btn-section{
  display:flex;
  justify-content: center;
  align-items : center;
  width:100%;
  
}
.delete-modul .btn-section div{
  height : 30px;
  width : 100px;
  display : flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  color : white;
  cursor : pointer;
}
.delete-modul .btn-section div:hover{
  background : rgb(109, 236, 98);
  transition : 1s ease;
}
.delete-modul .btn-section .r-btn{
  background : #CA001A;
  margin-right:10px;
}
.delete-modul .btn-section .b-btn{
  background : rgb(47, 215, 221);
}
.hidden{
  display : none;
}
.export{
  margin-right:100%;
}
