*{
  box-sizing:border-box;
  /* border:1px solid orangered;  */
}
/* the border will go around every single element and show your separation of concerns */

body {
  margin: 0;
  padding: 0;
  font-family:  'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}
