html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2 {
  color: darkslategray;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  line-height: 30px;
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.9rem;
}

p {
  font-size: 1.6rem;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  width: 85%;
}
span {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
}
.Notes {
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 6;
   white-space: pre-line;
   background-color: white;
   border: 1px solid grey;
   height: 285px;
   max-width: 260px;
   width: 40%;
   margin-bottom: 30px;
   overflow: auto;
   text-overflow: ellipsis;
   text-decoration: none;
}
