/* Heading font: Roboto Bold
Everything else font: Raleway Medium

Heading and main font color: #4A4A4A
Button font color: #FFFFFF

Sidebar background: #D8D8D8
Main background: #F3F3F3
Main button background: #2BC1C4
Delete button background: #D0021B
Border color used throughout: #979797 */

html, body {
  height: 100%;
  font-size: 62.5%;
}

#root {
  max-width: 1200px;
  min-height: 100%;
	margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 25%;
  min-width: 300px;
  background-color: #D3D2D3;
}

.sidebar h1 {
  align-self: flex-start;
  font-size: 5rem;
  margin: 2%;
  margin-left: 10%;
}

.sidebar .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
  font-size: 2.5rem;
  width: 80%;
  margin: 3%;
  background-color: #00B9BD;
  color: white;
}

.app-container {
    display: flex;
    background-color: #F2F1F2;
}

.container {
    width: 100vw;
}

.notelist {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.notelist h1 {
  flex-wrap: nowrap;
  margin-left: 4%;
  margin-top: 80px;
  padding: 0;
  height: 40px;
  font-size: 2.5rem;
  width: 100%;
}

.note {
  width: 28%;
  min-width: 200px;
  height: 300px;
  margin: 2%;
  padding: 0;
  background-color: white;
  overflow-y: scroll;
}

.note h4 {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 10px;
  margin: 15px;
}

.note p {
  font-size: 2rem;
  padding: 10px;
  margin: 15px;
}

.create-note {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.create-note form {
  margin: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.create-note form .title {
  width: 40%;
  height: 40px;
  font-size: 2rem;
}

.create-note form .bodytext {
  height: 50%;
  font-size: 1.8rem;
  margin-top: 20px;
}

.create-note form button {
  width: 30%;
  height: 40px;
  font-size: 2rem;
  margin-top: 20px;
}