/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Component's less files are treated as mixins => this allow to nested styles in layout.less */
/** Import all less files from components */
.custom-button {
  color: white;
  background-color: #2BC1C4;
  max-width: 219.68px;
  height: 50px;
  margin-bottom: 1.2rem;
  border: 1.5px solid #979797;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}
.main-component .custom-main {
  padding: 3rem 1rem;
  height: 100vh;
  border: 1px solid darkorange;
  background-color: #F3F3F3;
}
/* SideBar_ */
.side-bar-component .side-bar {
  height: 100vh;
  padding: 1.3rem 1rem;
  background-color: #D8D8D8;
  border: 1px solid #979797;
}
.side-bar-component .side-bar h1 {
  margin-bottom: 1.65rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Raleway Medium", sans-serif;
  color: #4A4A4A;
  border: 1px dotted green;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Bold", sans-serif;
  letter-spacing: 1px;
}
h1 {
  font-size: 2.3rem;
  font-weight: 900;
}
.custom-container {
  max-width: 80%;
  height: 100vh;
  padding: 0;
  border: 1px solid cyan;
}
.custom-container .row {
  margin: 0px;
}
.custom-container .row .side-bar {
  height: 100vh;
  padding: 1.3rem 1rem;
  background-color: #D8D8D8;
  border: 1px solid #979797;
}
.custom-container .row .side-bar h1 {
  margin-bottom: 1.65rem;
}
.custom-container .row .custom-main {
  padding: 3rem 1rem;
  height: 100vh;
  border: 1px solid darkorange;
  background-color: #F3F3F3;
}
