.createNote_form{
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.createNote_title{
height: 40px;
padding:0.25rem 0.75rem;
margin-bottom:1 rem;
border-radius: 0.2rem;
border: 1px solid #B2B2B2;
}

.createNote_body{
    resize:none;
    font-size: 1.5rem;
    padding:0.25rem 0.75rem;
    margin-bottom:1 rem;
    border-radius: 0.2rem;
    border: 1px solid #B2B2B2;
}

.createNote_button{
display: flex;
justify-content: center;
align-items: center;
color:white;
font-weight: 600;
background-color: #23BBBE;
border: 1px solid #86AEB1;
margin:0.5rem 0;
height:40px;
border-radius: 0.1rem;
width:200px;
}

.button_link{
    text-decoration:none;
}