@import url('https://fonts.googleapis.com/css?family=Roboto');

.NavBar {
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border-right: 1px solid RGB(174, 174, 174);
}

@media (max-width: 580px) {
  .NavBar {
    flex-direction: column;
    min-height: 0;
    padding-bottom: 20px;
    width: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
}

header h1 {
  color: #4a4a4a;
  font-family: Roboto;
  font-weight: 900;
  margin-bottom: 0px;
}

header h1:hover {
  color: RGB(54, 192, 195);
}

.nav-link-header:hover {
  text-decoration: none;
}

.nav-btn {
  border: 2px solid RGB(151, 151, 151);
  background-color: RGB(54, 192, 195);
  color: RGB(255, 255, 255);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 20px 15px 0px 15px;
}

.nav-btn-invis {
  display: none !important;
}

.nav-btn:hover {
  cursor: pointer;
  text-decoration: none;
  color: RGB(54, 192, 195);
  background-color: white;
}
