.navigation {
  background: #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem 0;
}

.logo__h1 {
  color: #4A4A4A;
  font-family: Roboto, 'sans-serif';
  font-size: 3rem;
  margin: 0;
}

.navigation__button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-container__input-search-notes {
  border: 2px solid #979797;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 10px;
  width: 100%;
}

@media (min-width: 890px) {
  .navigation {
    min-height: 100vh;
    margin-right: 1rem;
    width: 320px;
  }
}