.App {
  display: flex;
}

.home {
  display: flex;
}

.card {
  border: 3px solid red;
  margin: 20px;
  background-color: #fff;
  padding: 10px;
}

.sideBar {
  background: #d3d2d3;
  color: #000;
}

.sideBar__headline {
  margin: 20px;
}

.content {
  background-color: #f2f1f2;
}

.btn {
  background-color: #24b8bd;
  color: #fff;
  height: 65px;
  width: 200px;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.singleNote {
  margin: 50px;
  width: 60vw;
}

.singleNote__edit {
  font-size: 16px;
  color: red;
  text-decoration: none;
  margin-right: 20px;
}

.singleNote__delete {
  font-size: 16px;
  color: red;
}
