.App {
  display: flex;
}

.home {
  display: flex;
}

.card {
  margin: 20px;
  background-color: #fff;
  padding: 10px;
}

.sideBar {
  background: #d3d2d3;
  color: #000;
}

.sideBar__headline {
  margin: 20px;
}

.content {
  background-color: #f2f1f2;
}

.btn {
  background-color: #24b8bd;
  color: #fff;
  height: 65px;
  width: 200px;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleNote {
  margin: 50px;
  width: 60vw;
}

.singleNote__edit {
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
}

.singleNote__delete {
  font-size: 16px;
  color: red;
}

.nav__btn {
  background-color: #24b8bd;
  color: #fff;
  height: 65px;
  width: 200px;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.note__List {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 500px 20px;
}

/* .your-notes {
  color: #414141;
  font-size:25px;
  margin-bottom:50px;
} */

.notes-list .notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  border: 1px solid rgb(167, 167, 167);
  padding: 10px;
  width: 150px;
  height: 200px;
  overflow-wrap: break-word;
  overflow: hidden;
  margin-bottom: 30px;
  background: white;
}
.note .note-title {
  text-decoration: none;
  color: black;
}
