.App {
  width: 73%;
  height: 100vh;
  background-color: #E3E8ED;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;

  .App__menu {
    width: 25%;
    display: flex;
    justify-content: flex-start;
  }

  .App__main{
    width: 75%;

  }
}
