.App {
  width: 73%;
  height: 100vh;
  background-color: #E3E8ED;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.App .App__menu {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
.App .App__main {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.home {
  margin-top: 40px;
}
.home .home__header {
  font-size: 2.2rem;
  text-align: left;
  font-weight: bold;
  margin-left: 37px;
}
.home .home__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 50px;
}
.home .home__list .home__list__cards {
  width: 29%;
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: #ffffff;
  height: 175px;
}
.home .home__list .home__list__cards .home__list__cards__title {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
}
.home .home__list .home__list__cards .home__list__cards__note {
  font-size: 1.4rem;
  text-align: left;
  margin: 10px 13px 0 13px;
}
.menu {
  background-color: #CFCFCF;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
}
.menu .menu__header {
  font-size: 4.1rem;
  text-align: left;
  font-weight: 900;
}
.menu .menu__buttons {
  width: 86%;
  margin: 0 auto 0 auto;
}
.menu .menu__buttons .menu__buttons__links {
  text-decoration: none;
}
.menu .menu__buttons .menu__buttons--align {
  display: block;
  margin-top: 20px;
  background-color: #62bec2;
  border: 1px solid black;
}
.menu .menu__buttons .menu__buttons--align .menu__buttons__text {
  font-size: 2.0rem;
  color: #FFF4F4;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 13px;
}
.newNote .newNote__header {
  font-size: 3.0rem;
  text-align: left;
  font-weight: 900;
  margin: 80px 0 0 30px;
}
.newNote .newNote__input .newNote__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 31px;
}
.newNote .newNote__input .newNote__form .newNote__form__save {
  text-decoration: none;
}
.newNote .newNote__input .newNote__form .newNote__form__title {
  width: 54%;
  height: 27px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid black;
}
.newNote .newNote__input .newNote__form .newNote__form__content {
  width: 91%;
  height: 300px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid black;
}
.newNote .newNote__input .newNote__form .newNote__form__button {
  background-color: #62bec2;
  border: 1px solid black;
  width: 29%;
  margin-top: 4px;
}
.newNote .newNote__input .newNote__form .newNote__form__button .newNote__form__button__text {
  font-size: 2.0rem;
  color: #FFF4F4;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 13px;
}
body,
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  background-color: #EBEBEB;
}
