.Content__Wrapper {
  box-sizing: border-box;
  width: 75%;
  padding: 30px;
  height: 100%;
}

.Content__Heading {
  margin: 0;
  margin-top: 37px;
  color: rgb(65, 65, 65);
}

.Content {
  margin-top: 20px;
  height: 91%;
}

@media (max-width: 768px) {
  .Content__Wrapper {
    width: 100%;
    height: 80%;
  }

  .Content__Heading {
    margin-top: 0;
  }
}