.Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  animation: fadeIn 1s;
}

.Modal {
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  max-width: 525px;
  height: 175px;
  padding: 20px;
  border: 2px solid rgb(152, 174, 175);
  background-color: white;
}

.Modal__Message {
  text-align: center;
}

.Modal__Buttons {
  display: flex;
  justify-content: space-around;
}