.Modal {
    height: 500px;
    width: 1000px;
    background-color: white;
    position: relative;
    margin-top: 5px;
    border: 1px solid red;
}

input {
    margin-top: 25px;
}

.notetitle {
    width: 100px;
}

.notecontent {
    width: 700px;
    height: 300px;
}

textarea {
    margin-top: 25px;
}