
.CreateForm {
    display: flex;
    flex-direction: column;
}

.Header {
    margin-left: 15px;

}

.NoteInput {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.Modal {
    position: relative;
    background-color: white;
}

#save {
    width: 50px
}

#Title {
    width: 300px;
}

#TextBody {
    width: 600px;
    height: 300px;
}

.NotesContainer{
    width: 1500px;
    border-left: 3px solid grey;
    padding-left: 15px;
}

