.Link {
  text-decoration: none;
  color: black;
}

.NotesList {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-column-gap: 3%;
  grid-auto-rows: 200px;
  grid-row-gap: 20px;
  overflow: auto;
  box-sizing: border-box;
}

.Note {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(152, 174, 175);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
}

.Note__Heading {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(152, 174, 175);
}

.Note__Content {
  margin-top: 10px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .NotesList {
    height: ;
  }
}

@media (max-width: 550px) {
  .NotesList {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
}

@media (max-width: 400px) {
  .NotesList {
    grid-template-columns: 100%;
  }
}