.NoHeading {
  height: 22px;
}

.ViewNote {
  display: flex;
  flex-direction: column;
}

.ViewNote__Title {
  box-sizing: border-box;
  min-height: 40px;
  width: 100%;
  max-width: 350px;
  border: 2px solid rgb(152, 174, 175);
  padding: 0 10px;
  line-height: 36px;
  overflow: auto;
  word-wrap: break-word;
}

.ViewNote__Content {
  box-sizing: border-box;
  width: 100%;
  height: 375px;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid rgb(152, 174, 175);
  resize: none;
  overflow: auto;
  word-wrap: break-word;
}

.ViewNote__Buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.ViewNote__Link {
  width: 100%;
  max-width: 200px;
  height: 40px;
}

.ViewNote__Edit,
.ViewNote__Delete {
  background-color: rgb(36, 184, 189);
  border: none;
  border: 2px solid rgb(152, 174, 175);
  color: white;
  width: 100%;
  max-width: 200px;
  height: 40px;
}

.ViewNote__Delete {
  background-color: rgb(202, 0, 26);
}

.NoMargin {
  margin: 0;
}

.DisplayNone {
  display: none;
}

@keyframes fadeIn{
	from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}