/*Sidebar*/
.Menu {
    height: 120vh;
    width: 28.6%;
    background: lightgrey;
    float: left;
  
    border:  1px solid gray;
    box-sizing: border-box;
    min-width: 20%;
    
  }
  
  #title {
    font-size: 3.3em;
    color: rgb(51, 51, 51);
    padding-left: 4%;
    margin-left: 1%;
    
  }
  
  h1 {
    color: rgb(51, 51, 51);
    
  }
 
.sidebutton {
    background: teal;
    color: white;
    font-size: x-large;
    margin-left: 5.6%;
    margin-bottom: 6%;
    padding: 5.5%;
    width: 89%;
    border:  1px solid gray;
  }
  
  .sidebutton:hover {
    background: blue;
  }