
.note-container{
    display: flex;
    flex-wrap: wrap;
    height:100vh;

}

.note-box{
    border:1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:260px;
    height:300px;
    padding-left:20px;
    padding-top: 0px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: start;
    font-size: 24px;
}

h3{
    text-decoration: underline #4A4A4A;
    margin-bottom: 5px;
    font-size:24px;
}