.app-header{
    margin:30px;
}


.sidebar-wrapper{
    display:flex;
    flex-direction: column;
    background-color:#D8D8D8;
    color: #4A4A4A;
    width: 20%;
    border: 1px solid #979797;
    height: 1200px;
    
}

.button-view, .button-create{
    background-color:#2BC1C4;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    height: 40px;
    width: 200px;
    margin:10px auto;
    
    
}
.app-header{
 font-size: 32px;
 margin: 25px auto;
 text-align:center;
}