.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.title {
    margin-bottom: 5%;
    padding-left: 10%;
}

.side-button {
    width: 80%;
    margin: 3% 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
    background-color: teal;
    color: white;
    font-weight: bold;
}