.app-header{
    margin:30px;
}


.sidebar-wrapper{
    display:flex;
    flex-direction: column;
    background-color:#D8D8D8;
    color: #4A4A4A;
    width: 300px;
    height: 1200px;
    border-right:1px solid #979797;
    
}

.button-view, .button-create{
    background-color:#2BC1C4;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    height: 40px;
    width: 200px;
    margin: 20px;
    
}
.app-header{
 font-size: 32px;
 text-align:left;
 text-decoration:none;
 color:#4A4A4A;

 
}
