@import url('https://fonts.googleapis.com/css?family=Roboto');

.ListNotes {
  background-color: #f3f3f3;
  font-family: Roboto;
  width: 100vw;
}

.RegLog {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.reg-link {
  text-decoration: none;
  color: RGB(74, 74, 74);
  font-weight: bolder;
  font-size: 18px;
  margin-right: 50px;
}

.reg-link:hover {
  text-decoration: none;
  color: RGB(54, 192, 195);
  font-weight: bolder;
}

.login-link {
  text-decoration: none;
  color: RGB(74, 74, 74);
  font-weight: bolder;
  font-size: 18px;
  margin-right: 50px;
}

.login-link:hover {
  text-decoration: none;
  color: RGB(54, 192, 195);
  font-weight: bolder;
}

.list_h2 {
  font-weight: bolder;
  font-family: Roboto;
  color: RGB(74, 74, 74);
  margin-top: 50px;
  margin-left: 60px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-body {
  max-width: 300px;
  min-width: 300px;
  height: 300px;
  border: 1px solid RGB(174, 174, 174);
  margin: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}

.card-title {
  font-weight: bold;
  font-family: Roboto;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
}

.card-link {
  text-decoration: none;
  color: black;
  font-family: Roboto;
}

.card-link:hover {
  text-decoration: none;
  color: RGB(54, 192, 195);
}
