.ListNotes {
  background-color: #f3f3f3;
  font-family: Roboto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.list_h2 {
  font-weight: bolder;
  font-family: Roboto;
  color: RGB(74, 74, 74);
  margin-top: 20px;
  margin-left: 20px;
}

@media (max-width: 530px) {
  .list_h2 {
    display: none;
  }
}

/* .notes {
}

.row-notes {
}

.col-notes {
} */

.card {
<<<<<<< HEAD
  max-width: 250px !important;
=======
  max-width: 300px !important;
>>>>>>> ecca9a8cbf872feef082bf8407da770b8ce05a15
  height: 300px;
  border: 1px solid RGB(174, 174, 174);
  background-color: white;
}
.card-body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  font-weight: 500;
  font-family: Roboto;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
  color: RGB(74, 74, 74);
}
.card-title:hover {
  text-decoration: none !important;
  color: RGB(54, 192, 195);
}
.card-link {
  text-decoration: none;
  color: black;
  font-family: Roboto;
}

.search-bar {
  border: 2px solid RGB(54, 192, 195);
  margin-top: 20px;
  border-radius: 15px;
  text-align: center;
  align-self: center;
  width: 50%;
  max-width: 600px;
  min-width: 260px;
}

.card-text {
  color: RGB(74, 74, 74);
  font-family: Roboto;
}

.card-footer {
  max-height: 30px !important;
  min-height: 30px !important;
  display: flex;
  overflow-x: auto;
}
