.App {
  max-width: 880px;
  width: 100%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #979797;
  font-size: 1.2rem;
}

.nav-container {
  width: 25%;  
  border-right: 1px solid #979797;
  background-color: #D8D8D8;
  display: block;
  text-align: left;
  padding: 2%;
}

.header {
  font-family: 'Roboto', 
}

.nav-btn {
  width: 100%;
  height: 3.8rem;
  background-color: #2BC1C4;
  color: #FFFFFF;
  border: 1px solid #979797;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;  
}

.note-container {
  width: 75%;
  height: 1000px;
  background-color: #F3F3F3; 
  padding: 2.5%;
}

.note-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.note-header {
  text-align: left;
  margin: 3rem 0;
}



