.note-card{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-content: center; 
}
.card{
    width: 120px; 
    height: 200px;  
    padding: 10px; 
    margin: 10px; 
    display: flex; 
    flex-direction: column; 
    background: white; 
    border-radius:10px;
    border: 2px solid #b1afaf; 
}
.title{
    text-decoration: none;
    color: #545454; 
}
.line{
    border: 1px solid #b1afaf; 
    width: 100px; 
}
.content{
    overflow-y: auto; 
}
h2{
    font-size: 17px; 
}
p{
    font-size: 12px; 
}