.menu {
  background-color: #CFCFCF;
  border: 1px solid black;
  width: 100%;
  height: 100vh;

  .menu__header {
    font-size: 4.1rem;
    text-align: left;
    font-weight: 900;
  }

  .menu__buttons {
    width: 86%;
    margin: 0 auto 0 auto;

    .menu__buttons__links {
      text-decoration: none;
    }


    .menu__buttons--align {
      display: block;
      margin-top: 20px;
      background-color: #62bec2;
      border: 1px solid black;

      .menu__buttons__text {
        font-size: 2.0rem;
        color: #FFF4F4;
        font-weight: bold;
        margin-top: 13px;
        margin-bottom: 13px;
      }
    }
  }
}
