section {
    background-color: #F2F1F2;
    width: 80%;
    margin-left: 20%;
}

section h2 {
    font-size: 1.6rem;
    color: #474747;
    margin-top: 5%;
    margin-left: 5%;
}

section .notes {
    display: flex;
    flex-wrap: wrap;
}