.Notes-Container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px 50px 25px 25px;
    padding: 20px 10px;
}

form{

    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: space-evenly;
    height: 500px;
}

.add-title{
    border-radius: 5px;
    width: 500px;
    height:40px;
    padding-left: 15px;
}

.add-text{
    border-radius: 5px;
    width: 500px;
    height: 300px;
    padding: 15px 15px;

}

.search-tags{
    border-radius: 5px;
    width: 500px;
    height:40px;
    padding-left: 20px;

}

button{
    color: #FFFF;
    background-color: #24B8BD;
    font-weight: bold;
    max-width: 300px;
    height: 60px;
}
