.deleteWrap {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.65);
    padding-top: 17rem;
}

.deleteBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52.75rem;
    height: 17.75rem;
    background-color: white;
}

.deleteConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    background-color: #CA001A;
    font-weight: bold;
    font-size: 1.5rem;
    width: 19.15rem;
    height: 4.25rem;
    line-height: 4.25rem;
    margin: 3rem 1.5rem;
}

.noDelete {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    background-color: #24B8BD;
    font-weight: bold;
    font-size: 1.5rem;
    width: 19.15rem;
    height: 4.25rem;
    line-height: 4.25rem;
    margin: 3rem 1.5rem;
}