.app {
  display: grid;
  grid-template-columns: 222px 1fr;
  grid-template-rows: minmax(100vh, auto);
  grid-template-areas: 'nav main';
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #4a4a4a;
  background-color: #fff;
}

nav {
  grid-area: nav;
  padding: 20px 15px;
  background-color: #d8d8d8;
  border-right: 1px #979797 solid;
}

h1 {
  display: block;
  margin: 0 0 22px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  font-size: 3.2rem;
  letter-spacing: .22rem;
}

button, .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 13px;
  border: 1px #979797 solid;
  border-radius: 3px;
  background-color: #2bc1c4;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button {
  width: 190px;
  outline: 0;
  font-size: 1.6rem;
}

button.is-delete {
  background-color: #d0021b;
  margin: 0 20px 20px 0;
}

main {
  grid-area: main;
  padding: 60px 15px 27px 27px;
  background-color: #f3f3f3;
}

h2 {
  margin: 0 0 30px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  font-size: 2.1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  position: relative;
  top: 0;
  width: 193px;
  height: 197px;
  margin: 0 15px 23px 0;
  padding: 10px 15px;
  border: 1px #979797 solid;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.list-item:hover {
  -webkit-box-shadow: 0 6px 23px 0 rgba(0,0,0,0.1);
  box-shadow: 0 6px 23px 0 rgba(0,0,0,0.1);
  top: -5px;
}

.list-item__title {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 6px 0;
  border-bottom: 1px #979797 solid;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  font-size: 1.8rem;
  text-overflow: ellipsis;
} 

.list-item__content {
  display: block;
  width: 100%;
  max-height: 70%;
  font-size: 1.5rem;
  line-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
} 

form {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 360px;
  width: 100%;
  margin: 0 0 13px 0;
  padding: 15px;
  border: 1px #979797 solid;
  border-radius: 3px;
  outline: 0;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
}

textarea {
  max-width: 610px;
  width: 100%;
  margin: 0 0 13px 0;
  height: 345px;
  padding: 15px;
  border: 1px #979797 solid;
  border-radius: 3px;
  outline: 0;
  background-color: #fff;
  resize: none;
  font-size: 1.5rem;
  line-height: 2rem;
}

.list-view, .note-view {
  width: 100%;
  padding: 20px 15px 27px 27px;
}

.note-view__content {
  display: block;
  max-width: 1000px;
  line-height: 3rem;
}

.list-view-control, .note-view-control {
  display: flex;
  justify-content: flex-end;
  max-width: 1000px;
  margin: 0 0 25px 0;
}

.list-view-control__button, .note-view-control__button {
  display: inline-block;
  width: auto;
  margin: 0 0 0 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  color: #4a4a4a;
  text-decoration: underline;
  outline: 0;
  font-size: 1.6rem;
}

.delete-view {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.delete-view.is-showing {
  display: flex;
}

.delete-view__bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242,242,242,.8);
}

.delete-view-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  position: relative;
  z-index: 1;
  padding: 40px 40px 10px;
  background-color: #fff;
  border: 1px #979797 solid;
  border-radius: 3px;
}

.delete-view-modal__title {
  display: block;
  margin: 0 0 30px 0;
}

.delete-view-modal__button-container {
  display: flex;
}

/*

Heading font: Roboto Bold
Everything else font: Raleway Medium

Heading and main font color: #4A4A4A
Button font color: #FFFFFF

Sidebar background: #D8D8D8
Main background: #F3F3F3
Main button background: #2BC1C4
Delete button background: #D0021B
Border color used throughout: #979797

*/