.SideBar {
  background: rgb(128, 121, 121);
  /* min-width: 250px; */
  max-width: 100%;
  height: 100%;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Seperator {
  border-bottom: 2px solid black;
  margin: 15px 20px;
}

.nav a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: left;
}

.nav a:hover {
  background-color: #555;
  color: white;
}

.nav a:active {
  border-right: 4px solid rgb(165, 23, 23);
  background-color: #515155;
  color: white;
}
