.Create__note-title {
    width: 60%;
}

.Create__note-body {
    width: 80%;
    height: 500px;
}

.Create__note-button {
    width: 35%;
    height: 50px;
    background-color: teal;
    border: none;
    color: white;
}