// Main_
.main-component {
  .custom-main {
    // max-width: 75%;
    padding: 4rem 2rem;
    min-height: 100vh;
    border: 1px solid darkorange;
    background-color: @main-background;
    &>h5 {
      font-weight: 700;
      margin-bottom: 2rem;
    }
    .list-view-component;
    .note-view-component;
    .form-component;
    .Link; // that comes from src/less/mixin.less
  }
}