.container{
    background-color: #F3F3F3;
    font-family: 'Raleway', sans-serif;
    border: 2px solid #979797;
    border-bottom: 3px solid #979797;
}
.sidebar {
    background-color: #D8D8D8;
    border-right: 1px solid #979797;
    height: 2500px;
}
.create-link:hover{
    text-decoration: none;
}
.heading {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
}
.btn {
    background-color: #2BC1C4;
    color: #FFFFFF;
    border: 1px solid #979797!important;
}
.card-title {
    border-bottom: .5px solid #979797;
}
