.container {
    display: flex;
    height: 1000px;

    .left-column {
        width: 300px;
        background: gray;
    }

    .main-content {
        width: 774px;
        background: red;
           
    }
}