.container {
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: center;

    .left-column {
        width: 300px;
        background: gray;
        flex-flow: wrap;

        .App-title {
            flex: 0 100%;
            border: red solid;
            text-align: center;

        }

        .createButton {
            width: 100px;
            height: 50px;
            flex: 0 100%;
        }

        .mainButton {
            width: 100px;
            height: 50px;
            flex: 0 100%;
        }
    }

    .main-content {
        width: 774px;
        background: white;
           
    }
}
