body {
    background-color: black;
}

.App {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    background-color: rgb(192, 192, 192);
}

li {
    font-size: 16px;
}

.ul {
    color: white;
    font-size: 16px;
}

.nav-left {
    display: inline-block;
    max-width: 338px;
    width: 338px;
    font-size: 18px;
    background-color: rgb(216, 216, 216);
    height: 2000px;
    top: 0px;
    left: 16%;
    border: 2px solid rgb(151, 151, 151);
}

.nav-list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    line-height: 30px;
    padding-top: 47px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.nav-title {
    font-weight: bold;
    font-size: 52px;
    text-align: left;
    height: 120px;
    margin-left: 22px;
    padding-top: 30px;
    line-height: 42px;
    width: 313px;
}

.nav-left-item {
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    left: 0px;
    top: 0px;
}

.nav-button {
    color: white;
    font-size: 26px;
    background-color: rgb(43, 193, 196);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    margin-left: 0px;
    width: 292px;
    height: 64px;
    border: 2px solid rgb(151, 151, 151);
}

.nav-button:hover {
    color: rgb(8, 89, 143);
}

.nav-button:active {
    color: red;
}

.nav-left-icon-1 {
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.list-save-input {
 
    border: 2px solid rgb(151, 151, 151);
    width: 260px;
  margin-bottom: 8px;
}

.save-list-button {

}

.main-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    width: 1024px;
    color: white;
    background-color: rgb(243, 243, 243);
    font-size: 18px;
    text-align: left;
    padding: 0px;
    left: 146px;
    top: 0px;
    border: 2px solid rgb(151, 151, 151);
}

.note-create-form,
.note-edit-form {
    display: flex;
    flex-direction: column;
    margin-left: 44px;
    width: 932px;
    font-weight: bold;
    color: rgb(74, 74, 74);
}

.note-create-header {
    margin-top: 90px;
    font-size: 40px;
}

.note-title-input {
    margin-top: 50px;
    line-height: 20px;
    padding-top: 14px;
    font-weight: bold;
    font-size: 30px;
    height: 65px;
    width: 552px;
    border: 2px solid rgb(181, 181, 181);
}

.note-textarea {
    margin-top: 23px;
    height: 533px;
    font-weight: 400;
    font-size: 28px;
    border: 2px solid rgb(181, 181, 181);
}

.save-button,
.update-button,
.delete2-button,
.cancel-button {
    margin-top: 23px;
    width: 294px;
    height: 67px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    background-color: rgb(43, 193, 196);
    border: 2px solid rgb(151, 151, 151);
}

.save-button:hover,
.update-button:hover,
.delete2-button:hover,
.cancel-button:hover {
    color: rgb(8, 89, 143);
}

.save-button:active,
.update-button:active,
.delete2-button:active,
.cancel-button:active {
    color: red;
}

.cancel-button {
    margin-left: 20px;
}

.delete2-button {
    background-color: red;
}

.modal-form {
    width: auto;
    height: auto;
}

.note-card {
    border: 2px solid rgb(166, 166, 166);
    height: 300px;
    color: black;
    width: 295px;
    margin-bottom: 38px;
    background-color: white;
}

.note {
    height: 238px;
    width: 236px;
    margin-left: 29px;
    margin-top: 20px;
    cursor: pointer;
}

.title {
    border: 2px solid white;
    background-color: white;
    color: black;
    height: 58px;
    line-height: 20px;
    padding-top: 14px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    font-size: 24px;
    border-bottom-color: rgb(151, 151, 151);
}

.textBody {
    line-height: 28px;
    padding-top: 10px;
    font-size: 22px;
    line-height: 32px;
    overflow: hidden;
    height: 200px;
}

.modal-message {
    text-align: center;
    font-size: 28px;
    color: rgb(74, 74, 74);
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.note-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 938px;
    margin-left: 43px;
}

.list-title {
    height: 24px;
    line-height: 18px;
    margin-top: 92px;
    width: 80%;
    color: rgb(74, 74, 74);
    font-size: 30px;
    font-weight: bold;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.list-container {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.csv-button {
    color: black;
    height: 24px;
    margin-top: 92px;
    cursor: pointer;
    text-decoration-line: underline;
    font-weight: 500;
}

.csv-button:hover {
    background-color: rgb(43, 193, 196);
    border-radius: 10px;
    color: white;
}

.csv-button:active {
    color: red;
}

.id-id {
    color: black;
}

.note-view {
    width: 933px;
    margin-left: 42px;
    height: 600px;
    color: black;
}

.note-view-container {
    display: flex;
    flex-direction: row;
}

.spacer {
    width: 856px;
    height: 60px;
}

.edit-button,
.delete-button {
    border: 0px solid red;
    width: 70px;
    margin-right: 10px;
    background-color: rgb(243, 243, 243);
    color: rgb(74, 74, 74);
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: underline;
}

.edit-button:hover,
.delete-button:hover {
    background-color: rgb(43, 193, 196);
    border-radius: 10px;
    color: white;
}

.edit-button:active,
.delete-button:active {
    color: red;
}

.note-name {
    color: black;
    font-weight: bold;
    color: rgb(74, 74, 74);
    font-size: 34px;
    height: 60px;
}

.note-body {
    height: 80px;
    font-size: 28px;
    height: auto;
    color: rgb(74, 74, 74);
}

.nav-title-list {
    list-style-type: none;
    border: 2px solid rgb(151, 151, 151);
    width: 260px;
    margin-left: 38px;
    padding: 0px;
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-note-lists-item {
    font-weight: bold;
    font-size: 18px;
    border: 2px solid white;
    background-color: white;
    color: black;
    height: 28px;
    line-height: 20px;
    padding-top: 0px;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 6px;
    cursor: pointer;
    width: 256px;
    text-align: left;
}

.nav-note-lists-item:hover {
    background-color: rgb(43, 193, 196);
}

.nav-note-lists-item:active {
    color: red;
}

.sort-button, .save-list-button {
    border: 2px solid rgb(151, 151, 151);
    text-align: center;
    background-color: rgb(43, 193, 196);
    color: white;
    width: 200px;
    height: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.sort-button:hover {
    color: rgb(8, 89, 143);
}

.sort-button:active {
    color: red;
}