.sidebar {
    background: #D8D8D8;
    width: 25%;
}

Button {
    background: #2BC1C4;
    width: 300px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 40px;
    height: 40px;
    font-size: 20px;
}