.page {
    width: 100%;
    background: #F3F3F3;
    margin: 0 20px 0 0;
    min-height: 1100px;
}

.nav {
    height: 7%;
    display: flex;
    justify-content: flex-end;
}

.edit {
    margin: 40px 80px 0 0;
    text-decoration: underline;
    font-size: 20px;
    color: black;
}

.noteview {
    margin: 0 0 0 0;
}

.notename {
    font-size: 45px;
    margin: 25px 0 0 75px;
}

.content {
    margin: 50px 100px 0 75px;
    font-size: 20px;
}

.deletemodal {
    z-index: 0;
}

#bootstrap-override .deletebut {
    margin: 40px 80px 0 0;
    text-decoration: underline;
    font-size: 20px;
    color: black;
}