.note-form {
  display: flex;
  flex-direction: column;
}

.note-title {
  width: 50%;
  height: 40px;
  border-radius: 3px;
  border: 2px solid lightgray;

  font-size: 14pt;
  margin: 10px 30px;
  padding-left: 15px;
}

.note-content {
  width: 90%;
  height: 350px;
  font-size: 14px;
  margin: 10px 30px;
  padding-left: 15px;
  padding-top: 10px;
  vertical-align: top;
  border-radius: 3px;
  border: 2px solid lightgray;
}

.submit {
  width: 250px;
  height: 45px;
  padding-top: 0;
  margin-left: 30px;
}
