
.App__container {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.App__left {
  width: 25%;
  border: solid black 1px;
  background-color: grey;
}

.App__right {
  width: 75%;
  border: solid black 1px;
  background-color: lightgrey;
}

.App__left-buttons {
  background-color: teal;
  border: solid 1px grey;
  max-width: 100px;
  height: 50px;
  color: white;
}
.App__left-buttons:hover {
  background-color: black;
}
