
.title {
  color: rgb(60, 59, 59);
  font-size: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 7%;
  margin: 10%;
  margin-bottom: 10%;
}

.title_main {
  color: rgb(60, 59, 59);
  font-size: 1rem;
  font-weight: bold;
}


.section__content__left {
  background: #DDDDDD;
  color: white;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-left: 25%;
  margin-top: 6%;
}

.test {
  background: #27B0B9;
  margin: 5%;
}
.section__content__inputs {
  display: flex;
  justify-content: flex-start;
  background: #F1F1F1;
  flex-direction: column;
  margin: 5%;
}

.section__content__icons {
  margin: 0 auto;
   display: grid;
   grid-template-columns: 33% 33% 33%;
}

section {
  border: solid lightgray;
  background: white;
  padding: 1%;
  height: 150px;
  margin: 5%;
}

p {
  font-size: 10px;
}

.delete__p {
  font-size: 1rem;
}

.note-content {
  border-radius: 5px;
  border: solid lightgray;
  padding: 3%;
}

.note-title {
  border-radius: 5px;
  border: solid gray;
  width: 50%;
  height: 30px;
  padding-left: 1%;
}

.button__main {
  width:80%;
  background: 	#27B0B9;
  font-size: 0.75rem;
  padding: 0.5rem;
  text-align: center;
  border: solid lightgrey 0.5px;
  color: white;
}


.button__delete {
  width:40%;
  color: white;
  background: red;
  display: inline-block;
  margin: 0 2% 0 2%;
  text-align: center;
  border: solid grey;
  padding: 1%;
}

.button__save {
  width:40%;
  color: white;
  background: rgb(18, 215, 215);
  display: inline-block;
  margin: 0 2% 0 2%;
  text-align: center;
  border: solid grey;
  padding: 1%;
}

.section__delete {
  padding: 5%;
  border: solid black;
  text-align: center;
}

