#root > .container-fluid {
  height: 100%;
}

#root > .container-fluid > .row {
  min-height: 100%;
}

.view {
  background-color: #F3F3F3;
  border: 1px solid #979797;
  border-left: none;
}

.view > div {
  margin: 60px 20px;
}