.App {
  display: flex;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-content {
  flex: 10;
  padding: 25px;
  border: 1px solid #979797;
}

.Nav-container {
  flex: 2;
  background: #D8D8D8;
  padding: 25px;
  border: 1px solid #979797;
}

.main-button {
  width: 100%;
  color: #FFFFFF;
  background: #2BC1C4;
  border: 1px solid #979797;
  padding: 10px;
  margin: 10px 0px;
  font-size: 15px;
}

/* Button font color: #FFFFFF 
Sidebar background: #D8D8D8
 Main background: #F3F3F3 
 Main button background: #2BC1C4 
 Delete button background: #D0021B 
 Border color used throughout: #979797 */
