.Navigation {
  background-color: #D8D8D8;
  border: 2px solid blue; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border: 2px solid crimson;
}

header h1 {
  color: #4A4A4A;
  font-family: Roboto Bold;
  border: 2px solid cyan;
  font-weight: bold;
}

.nav-btn {
  border: 2px solid RGB(151, 151, 151);
  background-color: RGB(54, 192, 195);
  color: RGB(255, 255, 255);
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  margin: 20px 15px 0px 15px;
}

.nav-btn:hover {
  cursor: pointer;
  text-decoration: none;
  color: RGB(54, 192, 195);
  background-color: white;
}