.App {
  text-align: center;
  width: 880px;
  max-width: 100%;
}

.container { 
  display: flex;
}

.notes-div {
  border: 2px solid black;
  background-color: lightgrey;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}

.notes { 
  background-color: aqua;
  margin: 10px;
}

.button { 
  background-color: rgb(87, 181, 187);
  border-radius: 5px;
  width: 100px;
  margin: 10px;
}

.sidebar { 
  height: 398vh;
  width: 40vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}