.App {
  text-align: center;
  width: 880px;
  max-width: 100%;
}

.notes-div {
  border: 2px solid black;
  background-color: lightgrey;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}

.notes { 
  background-color: aqua;
  margin: 10px;
}

.button { 
  background-color: green;
  border-radius: 20px;
  width: 50px
}