.ControlPanel {
	border: 1px solid black;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
	padding: 0 3%;
}

.ControlPanel_header {
	font-size: 5rem;
	text-align: left;
}

.ControlPanel_button {
	margin: 0 0 20px 0;
	width: 100%;
}
