.ControlPanel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0 3%;
    width: 30%;
}

.ControlPanel_header {
    font-size: 7rem;
    text-align: left;
    text-shadow: 2px 2px #26c6da;
    padding-top: 60px;
    padding-bottom: 50px;
}

.ControlPanel_Link {
    text-decoration: none;
}
