.notes-container {
  width: 825px;
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  border-left: 0px;
  background: #f3f3f3;
  padding-top: 10px;
  min-height: 900px;
}

.links-parent-container {
  display: flex;
  flex-direction: row-reverse;;
}

