.notes-container {
  width: 825px;
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  border-left: 0px;
  background: #f3f3f3;
  padding-top: 10px;
  min-height: 900px;
}

.links-parent-container {
  display: flex;
  flex-direction: row-reverse;;
}

.links-container {
  display: flex;
  box-sizing: border-box;
  margin-right: 36px;
}

.edit-delete {
  margin: 14px 6px 0px 13px;
  text-decoration: underline;
  font-weight: bold;
}

.edit-delete:hover {
  color: darkred;
  cursor: pointer;
}

