.container{
    border-color: 1px solid black;
}

.row{ 
    height: 100vh;
    border-color: 1px solid black;
}

.col{   
    flex-grow: 0 !important;
}

h1 {
    margin-top: 10px !important;
}

#sidebar {
    background-color:#D8D8D8; 
}