.container {
	display: flex;
	flex-flow: row wrap;
	max-width: 800px;
	justify-content: center;
}

.Notes__header {
	display: block;
	font-size: 3rem;
	margin: 30px 7%;
	width: 100%;
}

.SingleTodo {
	height: 200px;
	width: 200px;
	margin: 15px 3%;
	/*color: black;*/
}
