.container {
	border: 1px solid red;
	display: flex;
	flex-flow: row wrap;
	max-width: 800px;
	justify-content: center;
}

.SingleTodo {
	border: 1px solid blue;
	height: 200px;
	width: 200px;
	margin: 10px 3%;
}
