.Todo_button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.Todo_toggle {
    display: inline-block !important;
    width: 100px !important;
    padding-top: 25px;
    padding: 25px 0 0 10px;
}

.Todo_content {
    padding: 10px;
}

.Todo_header,
.Todo_text {
    text-align: left;
}

.Todo_header {
    font-size: 3rem;
}

.Todo_text {
    line-height: 2;
    font-size: 1.5rem;
    margin-top: 20px;
}
