.Todo {
	/*border: 1px solid black;*/
	margin: 0 3%;
}

.Todo_button {
	/*border: 1px solid black !important;*/
	float: right;
	margin: 20px 1% !important;
}

.Todo_button_container {
	display: flex;
	justify-content: flex-end;
}

.Todo_toggle {
	display: inline-block !important;
	width: 100px !important;
	padding-top: 25px;
	padding: 25px 0 0 10px;
}

.Todo_content {
	/*border: 1px solid black;*/
	padding: 10px;
}

.Todo_header,
.Todo_text {
	text-align: left;
}

.Todo_header {
	font-size: 3rem;
}

.Todo_text {
	/*border: 1px solid black;*/
	line-height: 2;
}
