/* Heading Font: Roboto Bold
Heading color: 4A4A4A
Content Font: Raleway Regular
Content color: black
Button background: 2BC1C4
Sidebar background: D8D8D8
Main background: F3F3F3
Delete background: D0021B */

p{background-color:white; }

body {
  margin:0  200px 0 200px;
  padding: 0;
  font-family: sans-serif;

  
}
.view{
  width:200px;
  height:250px;
  float:left;
  margin: 4px;
  font-family: Raleway Regular;
  margin-top: 50px;
  
  }
.container{
  width:1000px;
  display: flex;
  flex-wrap: wrap;
  margin-left:100px;
  border:solid grey;
  max-height: 900px;
  background-color:#F3F3F3;

}
.button3{
  width:340px;
  height:900px;
  border:solid grey;
  font-family: Roboto Bold;
  color:#4A4A4A;
  background-color:#D8D8D8;
}
button{
  width:200px;
  display: block;
  margin:20px;
  Height:50px;
  font-size: 19px;
  background-color: #2BC1C4;
}
form{
  margin:10px;
}
.kin{
  width:200px;
  height:40px;
  margin:10px;
}

