.App {
  max-width: 880px;
  width: 100%;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.nav-container {
  width: 25%;  
  border-right: 1px solid #a6a6a6;
  background-color: #d3d2d3;
  display: block;
  text-align: left;
  padding: 2%;
}

.header {
  font-family: 'Roboto', 
}

.nav-btn {
  width: 100%;
  height: 3.5rem;
  background-color: #2BC1C4;
  color: #FFFFFF;
  border: 1px solid #979797;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;  
}

.note-container {
  width: 75%;
  background-color: #F3F3F3; 
  border: 1px solid red;
  padding: 2.5%;
  display: flex;
}

.notelist-header {
  text-align: left;
  margin: 3rem 0;
}
