.cards {
    height: 200px;
    width: 200px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    padding: 10px;
    margin: 20px auto;
    line-height: 25px;
    font-family: 'Space Mono', monospace;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -900px;
    margin-left: 300px;
    /* border: 1px solid red; */
}

.container {
    /* border: 2px dashed red; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 700px;
    width: 100%;
    justify-content: center;
}

.your-notes {
    border: 1px solid black;
    height: 1000px;
    margin-left: 300px;
    margin-top: -1000px;
    background-color: #F2F1F2;
}

.text {
    margin-left: -970px;
    margin-top: 60px;
    /* border: 1px solid blue; */
}

h3 {
    font-weight: bold;
}
