.TodoList {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-body {
  max-width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 25px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-weight: bold;
}