.navigation {
    width: 25%; 
    height: 100%;
    padding: 10px; 
    border-right: 1.5px solid #979797;  
    background: #D8D8D8; 
}

.navigation h1 {
    color: #4A4A4A;
    font-weight: Robot Bold; 
}

.navigation h1:first-child {
    margin-bottom: -14px; 
}

.navigation button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-family: Raleway;
    font-weight: bold;
    color: #FFFFFF;
    border: 1.5px solid #979797;
    background: #2BC1C4;   
}

a:hover {
    text-decoration: none !important; 
}