.buttonContainer{
  margin: 10px 0 40px;
  display: flex;
  justify-content: flex-end;
}
.header{
  font-size: 2.2rem;
  margin-bottom: 30px;
}
.body{
  font-size: 1.6rem;
}
.formContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 40px;
}
.Container__Header{
  margin-bottom: 30px;
  font-size: 2rem;
}
.Container__input{
  padding: 10px;
  width: 60%;
  border-radius: 3px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.Container__inputBody {
  border-radius: 3px;
  padding: 20px;
  border: 1px solid lightgray;
  height: 300px;
  margin-bottom: 20px;
}
.submitButton {
  width: 25%;
}
.marginOne{
  margin-right: 20px;
}
.ModalContainer{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgb(255,255,255, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
.ModalContainer__ContentContainer {
  background: white;
  padding: 50px 100px;
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ModalContainer__ButtonsContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.ModalContainer__Button {
  width: 45% ;
  border-radius: 0;
}
.ModalContainer__WrappedButton{
  width: 100% !important;
}
.red{
  background-color: rgb(160, 0, 0);
}
.red:hover{
  background-color: rgb(255,0,0);
}
.link {
  width: 45%;
}
