.yourNotes {
   padding:15px;
   background: rgb(242, 241, 242);
}
.yourNotes h2 {
   
   padding-left: 2px;
   text-align: left;
   color:#5F5B58;
}

.note {
 border:1px solid grey;
 background: white;
 margin: 10px;
 padding: 5px;
 height: 220px;
 width:200px;
}

.noteTitle {
   border-bottom: 1px solid grey;
   margin:5px 15px 15px 15px;
}

.noteContent {

}