.yourNotes {
   padding: 45px 15px 15px 22px;
   background: rgb(242, 241, 242);
   border:1px solid rgb(175, 175, 175);
   width:100%;
   display:inline-block;
}
.yourNotes h2 {
   padding-left: 2px;
   text-align: left;
   color:rgb(65, 65, 65);
}

.note {
 border:1px solid grey;
 background: white;
 margin: 10px;
 padding: 5px;
 height: 220px;
 width:200px;
}

.noteTitle {
   border-bottom: 1px solid grey;
   margin:5px 15px 15px 15px;
}

.noteContent {

}