.yourNotes {
   padding: 35px 15px 15px 22px;
   background: rgb(242, 241, 242);
   border:1px 0 1px 1px solid rgb(175, 175, 175);
   width:100%;
   min-width:60vw;
   min-height: 91%;
}
.yourNotes h2 {
   padding-left: 2px;
   text-align: left;
   color:rgb(65, 65, 65);
   font-weight: bold;
}
.noteList {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
}
#filterTags {
   text-align: left;
}

#filterTagButton {
   width: 50px;
   height: 30px;
   margin: 0px 0px 0px 0px;
}

#filterTagsInput {
   margin: 0px 10px 0px 10px;
   border-radius: 3px 3px;
   border:1px solid rgb(175, 175, 175);
   padding: 10px;
   width: 18%;
   max-width: 120px;
}

.note {
 text-align: left;
 border:1px solid rgb(175, 175, 175);
 background: white;
 margin: 10px;
 padding: 5px 5px 5px 10px;
 height: 220px;
 width:200px;
 cursor:pointer;
}

.noteTitle {
   border-bottom: 1px solid rgb(175, 175, 175);
   padding-bottom: 4px;
   padding:2px;
   margin:2px 5px 4px 0;
}

.noteContent {
   padding: 4px;
}

.listNoteTag {
   border: solid 1px grey;
   background: rgb(36, 184, 189);
   margin: 0px 1px 2px 5px;
   width: 0; 
   height: 0; 
   padding: 1px 3px 0px 3px;
   border-radius: 9px 9px 9px 9px;
  
}