.single-note-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 75%;
    height: 100%;
    border: 1.25px solid #acacac;
    margin-right: 10px;
    color: #545454;
    background: #f5f5f5;
    min-height: 950px; /* ENSURE THAT THE LOADING SCREEN IS THE SAMEE HEIGHT AS THE APP SCREEN */
    padding-top: 50px;
    padding-left: 30px;
    min-width: 720px;
    text-align: left;
    z-index: 0;
}

.single-note-header {
    margin-bottom: 35px;
}

.note-textBody {
    font-size: 20px;
    line-height: 26px;
}

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: -50px;
    height: 50px;
    font-size: 20px;
}

.changes {
    text-decoration: underline;
    margin-left: 10px;
}

.changes:hover {
    cursor: pointer;
}

.overlay {
    background-color: rgba(207, 207, 207, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 175px;
    border: 1px solid #979797;
    background: #ffffff;
    z-index: 10;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal:focus {
    outline: none;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.modal button:focus {
    outline: none;
}

.modal-buttons button:first-child {
    background: #d0021b;
}

.modal-buttons button:first-child:hover {
    background: white;
    color: #d0021b;
    font-weight: 700;
    border: 2px solid #979797;
}

.modal-buttons button:last-child {
    background: #2bc1c4;
    margin-left: 20px;
}

.modal-buttons button:last-child:hover {
    background: white;
    color: #2bc1c4;
    font-weight: 700;
    border: 2px solid #979797;
}

button {
    /* background: #2bc1c4; */
    height: 40px;
    width: 200px;
    color: #ffffff;
    cursor: pointer;
    border: 1.5px solid #979797;
    font-size: 16px;
}

button a {
    color: #ffffff;
}

button a:visited {
    color: #ffffff;
}
