/* Start of Note CSS */
.viewNote {
  width: 100%;
  min-height: 600px;
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 20px;
  padding-top: 5px;
  color: #585858;
  font-size: small;
}

.noteLinks {
  width: 100%;
  text-align: right;
}

.noteLinks a {
  color: black;
  padding-left: 20px;
}

.viewNoteTitle {
  color: #585858;
  font-size: larger;
  font-weight: bold;
  padding: 20px 0;
}

/* End of Note CSS */