.loading {
    background: #F3F3F3; 
    margin: 0; 
    min-height: 100%; 
    width: 75%; 
}

.loading h4 {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 60px 0 0 4%; 
}

.empty {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 24px 0 0 4%; 
    padding: 0 5% 0 0; 
}

.notesContainer {
    background: #F3F3F3; 
    margin: 0; 
    min-height: 100%; 
    width: 75%; 
}

.notesContainer h4 {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 60px 0 0 4%; 
}

.notes {
    display: flex; 
    flex-wrap: wrap; 
}

.link {
    color: black; 
    height: 113px; 
    width: 25%; 
    margin: 25px 0 0 4%; 
}

.link:hover {
    color: black; 
}

.card {
    height: 100%; 
    width: 100%; 
    overflow: scroll; 
}

.card-title {
    border-bottom: 1.5px solid #979797; 
}

button {
    background: white; 
    border: none; 
}