.card{
    display: block;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding-bottom: 10px;
}
.card-container{
    display: flex;
    flex-wrap:wrap;
    overflow:hidden;
    text-overflow: ellipsis;
    
    

}
.note-wrapper{
    display: flex;
    flex-direction: column;
}
.header{
    margin:0px;
    padding-left: 35px;
    background-color: #F0F0F0;


}
hr{
    margin: 10px;
}