.Sidebar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 700;
  border: 1px solid grey;
  font-size: 45px;
  max-width: 275px;
  min-height: 100%;
  margin: 0;
  padding-right: 0;
  background-color: #D3D3D3;
  .Sidebar {
    margin: 15px 0 15px 15px;
    width: 275px;
    .Sidebar-buttons {
      margin-top: 15px;
      margin-left: -20px;
      display: flex;
      flex-direction: column;
      width: 250px;
      .Sidebar-button {
        overflow: hidden;
        margin: 0 0 0 15px;
        width: 250px;
      }
    }
  }
}