.Sidebar-container {
  font-weight: 700;
  border: 1px solid grey;
  border-left: none;
  font-size: 45px;
  width: 100%;
  max-width: 275px;
  min-height: 100%;
  margin: 0;
  background-color: #D3D3D3;
  .Sidebar {
    margin: 15px 0 15px 15px;
    width: 275px;
    .Sidebar-buttons {
      margin-top: 15px;
      margin-left: -20px;
      width: 250px;
      font-size: 18px;
      .Sidebar-button {
        border: 1px solid grey;
        background-color: #00CED1;
        overflow: hidden;
        margin: 15px 0 0 15px;
        width: 250px;
        height: 50px;
        font-weight: 800;
        color: white;
      }
    }
  }
}