html {
  font-size: 62.5%;
}

body {
  background: #F3F3F3;
  color: #4A4A4A;
  font-family: Raleway, 'sans-serif';
  height: 100vh;
  margin: 0;
}

a {
  color: #4A4A4A;
  text-decoration: none;
}

@media (min-width: 890px) {
  .App {
    display: flex;
  }
}