.addNote {
  background: #F3F3F3;
}

.addNote__title {
  font-weight: bold;
  opacity: .8;
}

#bootstrap-overrides .addNote__button {
  width: 210px;
  height: 40px;
  background: #2BC1C4;
  border: none;
}