.container {
    display: flex;
    min-height:900px;
    border: 1px solid rgb(97, 76, 76, .25);
    margin: 10px auto;
    max-width: 900px;
    justify-content: center;
}

.sideNav {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    border: 1px solid rgb(97, 76, 76, .25);
}

.sideNav_directory {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    padding: 20px 15px;
    justify-content: flex-start;
    align-items: flex-start;
}

.directory_title {
    color: rgb(97, 76, 76);
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    max-width: 100%;
    padding: 10px 0;
}

.directory__links {
    margin: 0 auto;
    width: 100%;
}

.link_button {
    border: none;
    background-color: rgba(15, 201, 201, 0.945);
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    width: 200px;
}

.link_button:hover {
    cursor: pointer;
}

.mainContent {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    padding: 20px;
}

.mainContent_title {
    font-size: 25px;
}

.mainContent_content {
    padding: 15px 0;
}

.mainContent__Form {
  display: flex;
  flex-direction: column;
}

.form__input {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgb(97, 76, 76, .25);
}

.form__input_title {
  width: 50%;
  margin: 10px 0;
}

.form__input_body {
  margin: 10px 0;
} 