/*
  Heading font: Roboto Bold
  Everything else font: Raleway Medium
  Heading and main font color: #4A4A4A
  Button font color: #FFFFFF
  Sidebar background: #D8D8D8
  Main background: #F3F3F3
  Main button background: #2BC1C4
  Delete button background: #D0021B
  Border color used throughout: #979797
*/

.App-container {
  background: #525659;
  height: 100vh;
  width: 100vw;
  border: 2px solid #979797;
}

.App {
  background: white;
  text-align: center;
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: #4A4A4A;
  border-left: 2px solid #979797;
  border-right: 2px solid #979797;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #FFFFFF;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Nav styles */
.Nav-container {
  width: 326px;
  background: #D8D8D8;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #979797;
}

.Nav-header, .Nav-buttons button {
  width: 286px;
  margin: 0 auto;
}

.Nav-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.Nav-header h1 {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.Nav-buttons {
  display: flex;
  flex-wrap: wrap;
}

.Nav-buttons a {
  margin: 0 auto;
}

.Nav-buttons button {
  height: 62px;
  background: #2BC1C4;
  color: #FFFFFF;
  border: 2px solid #979797;
  font-size: 22px;
  font-weight: bold;
  margin: 16px auto;
}

.Nav-buttons button:hover {
  background: #979797;
}

/* ListView styles */
.ListView-container {
  display: flex;
  flex-direction: column;
  margin: 0 46px;
}

.ListView-header {
  font-weight: bold;
  font-size: 20px;
  margin: 100px 0 27px 0;
  display: flex;
}

.ListView-header h2 {
  margin: 0;
}

/* NoteView styles */
.NoteView-container {
  height: 294px;
  width: 286px;
  border: 2px solid #979797;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

.NoteView-header, .NoteView-note {
  margin: 8px 30px;
}

.NoteView-header h3, .NoteView-note p {
  margin: 10px 0;
  text-align: left;
}

.NoteView-header {
  font-weight: bold;
  font-size: 22px;
  border-bottom: 1px solid black;
}

.NoteView-note {
  font-size: 20px;
  text-align: left;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.NoteView-note p {
  height: 170px;
  line-height: 30px;
}

/* CreateView styles */
.CreateView-container {
  display: flex;
  flex-direction: column;
  margin: 0 46px;
}

.CreateView-header, .CreateView-content {
  margin: 8px 30px;
}

.CreateView-header {
  font-weight: bold;
  font-size: 20px;
  margin: 100px 0 27px 0;
  display: flex;
  width: 286px;
}

.CreateView-header h2 {
  margin: 0;
}

.CreateView-content {
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
}

.CreateView-content input, .CreateView-content textarea {
  height: 62px;
  border: 2px solid #979797;
  border-radius: 5px;
  margin-bottom: 22px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif; 
}

.CreateView-content input {
  width: 536px;
  padding: 0 24px;
}

.CreateView-content textarea {
  height: 512px;
  width: 860px;
  padding: 32px 32px;
}

.CreateView-buttons {
  display: flex;
}

.CreateView-buttons button {
  height: 62px;
  width: 286px;
  background: #2BC1C4;
  color: #FFFFFF;
  border: 2px solid #979797;
  font-size: 22px;
  font-weight: bold;
}

.CreateView-buttons button:hover {
  background: #979797;
}

/* Note styles */
.Note-container {
  display: flex;
  flex-direction: column;
  margin: 0 46px;
}

.Note-header, .Note-content {
  margin: 8px 30px;
}

.Note-header {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 27px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 136px;
  width: 860px;
}

.Note-header h2 {
  display: flex;
  margin: 0;
}

.Note-links {
  display: flex;
  justify-content: flex-end;
}

.Note-links p {
  margin-left: 20px;
}

.Note-content {
  width: 860px;
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Note-content p {
  font-size: 22px;
  line-height: 40px;
  margin: 0;
}

/* EditView styles */
.EditView-container {
  display: flex;
  flex-direction: column;
  margin: 0 46px;
  width: 860px;
}

.EditView-header, .EditView-content {
  margin: 8px 0;
}

.EditView-header {
  font-weight: bold;
  font-size: 20px;
  margin: 100px 0 27px 0;
  display: flex;
  width: 286px;
}

.EditView-header h2 {
  margin: 0;
}

.EditView-content {
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
}

.EditView-header h2 {
  display: flex;
  flex-direction: column;
}

.EditView-content input, .EditView-content textarea {
  height: 62px;
  border: 2px solid #979797;
  border-radius: 5px;
  margin-bottom: 22px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif; 
}

.EditView-content input {
  width: 536px;
  padding: 0 24px;
}

.EditView-content textarea {
  height: 512px;
  width: 860px;
  padding: 32px 32px;
}

.EditView-buttons {
  display: flex;
}

.EditView-buttons button {
  height: 62px;
  width: 286px;
  background: #2BC1C4;
  color: #FFFFFF;
  border: 2px solid #979797;
  font-size: 22px;
  font-weight: bold;
}

.EditView-buttons button:hover {
  background: #979797;
}
