/* Base App Styles */
.App {
  text-align: left;
  display: flex;
  background: #F3F3F3;
}
.App p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #4A4A4A;
}
.App h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #4A4A4A;
}

/* Banner Styles */
.banner {
  display: flex;
  flex-direction: column;
  background: #D8D8D8;
  height: 100vh;
  width: 25%;
}
.banner .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner h1 {
  font-size: 1.5rem;
  margin: 0;
  width: 90%;
  text-align: left;
}
.banner-btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .custom-button {
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid #2BC1C4;
  background: #2BC1C4;
  color: #FFFFFF;
  width: 90%;
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
}

/* List View Styles */
.list-view {
  width: 100%;
  padding: 30px 15px;
}
.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.note {
  border: 1px solid #979797;
  background: white;
  padding: 5px 8px;
  margin: 20px 0;
  width: 28%;
}
