/* .mainContainer {
  display: flex;
  justify-content: center;
} */
.h1 {
  font-family: Roboto;
  color: #4A4A4A;
  font-size: 36px;
  line-height: 1;
}

.listTitle {
  font-family: Roboto;
  color: #4A4A4A;
  font-size: 23px;
  margin-left: 25px;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  /* height: 900px; */
  padding: 0px;
}

.leftSide {
  background-color: #D8D8D8;
  width: 25%;
  min-width: 190px;
  padding: 15px;
  border: solid 1px #a5a4a4;
}

.buttons {
  width: 94%;
  font-family: Roboto;
  font-size: 16px;
  color: white;
  background-color: #2BC1C4;
  padding: 5px;
  margin: 14px 10px 5px 10px;
  height: 44px;
  border: solid 1px #a5a4a4;
}

.rightSide {
  width: 75%;
  padding: 15px;
  border: solid 1px #a5a4a4;
  background-color: #F3F3F3;
  padding-bottom: 100px;
}