/* .mainContainer {
  display: flex;
  justify-content: center;
} */
.h1 {
  font-family: Roboto;
  color: #4A4A4A;
  font-size: 28px;
}

.listTitle {
  font-family: Roboto;
  color: #4A4A4A;
  font-size: 17px;
}

.container {
  display: flex;
  justify-content:;
  max-width: 900px;
  padding: 0px;
}

.leftSide {
  background-color: #D8D8D8;
  width: 25%;
  min-width: 190px;
  padding: 15px;
  border: solid 1px #a5a4a4;
}

.buttons {
  width: 90%;
  font-family: Roboto;
  font-size: 15px;
  color: white;
  background-color: #2BC1C4;
  padding: 5px;
  margin: 14px 10px 5px 10px;
  height: 40px;
  border: solid 1px #a5a4a4;
}

.rightSide {
  width: 75%;
  padding: 20px;
  border: solid 1px #a5a4a4;
  background-color: #F3F3F3;
}