
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

button {
  background: #2bc1c4;
  height: 40px;
  width: 200px;
  color: #ffffff !important;
  cursor: pointer;
  border: 1px solid #979797;
  font-size: 16px;
}

button:hover {
  background: #43d3d6;
}

button a {
  color: #ffffff;
}

button a:visited {
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
  border: 1px solid #979797;
  min-height: 600px;
}

.main-container {
  width: 750px;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 20px 35px 20px 35px;
}

.main-container h2 {
  font-size: 23px;
}

.main-container .form {
  display: flex;
  flex-direction: column;
}

.main-container h2 {
  margin-bottom: 20px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions-container h5 {
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0 0 20px;
  font-size: 15px;
  font-weight: bold;
}

.overlay {
  background-color: rgba(207, 207, 207, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(65%, 120%);
  width: 530px;
  height: 175px;
  border: 1px solid #979797;
  background: #ffffff;
}

.modal:focus {
  outline: none;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.modal-buttons button:first-child {
  background: #d0021b;
}

.modal-buttons button:last-child {
  margin-left: 20px;
}
