.button {
    background: #2BC1C4;
    color: #FFFFFF;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    height: 35px;
    width: 97%;
    font-size: .75rem
}

.Sidebar {
    background: #D8D8D8;
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 1.7rem;
    font-weight: 700;
    max-width: 150px;
    padding: 10px;
    border: 1px solid grey
}

.TemplateContainer {
    width: 80%;
    background: #F3F3F3;
    max-width: 600px;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid grey
  }

  .TopText {
      font-size: 1.5rem;
      font-weight: 500;
  }

  .Cards {
      display: flex;
      flex-wrap: wrap;
  }

  .Card {
      width: 30%;
      height: 180px;
      margin: 1.5%;
      padding: 10px;
      font: black !important
  }

  .Line {
      border-top: 1px solid grey
  }