form{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column; 
    margin-left: 25px; 
}


.text-area{
    height: 300px; 
    width: 90%;
    margin: 20px 0px; 
    border-radius: 5px; 
}

.text-area::placeholder{
  transform: translate(0px, -130px); 
  padding-left: 10px; 
}

.input{
    width: 80%; 
    height: 40px; 
    border-radius: 5px; 
}

.input::placeholder{
    padding-left: 10px; 
}