form{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column; 
    margin-left: 25px; 
}


.text-area{
    height: 300px; 
    width: 90%;
    margin: 20px 0px; 
    border-radius: 3px; 
    border: 1px solid rgb(172, 172, 172);
}

.text-area::placeholder{
  transform: translate(0px, -130px); 
  padding-left: 10px; 
}

.input{
    width: 80%; 
    height: 40px; 
    border-radius: 5px; 
    border: 1px solid rgb(172, 172, 172); 
}

.input::placeholder{
    padding-left: 10px; 
}

input{
    margin-top: 20px; 
}

.button-2{
    background-color: rgb(23, 196, 202);
    border: 1px solid rgb(160, 160, 160); 
    width: 220px; 
    height: 36px;  
    color: white; 
    font-weight: bold; 
    margin: 17px 0px;  
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 3px;  
    font-size: 16px; 
    letter-spacing: 0.5; 
    border-radius: 5px; 
}

.button-2:hover{
  background-color: rgb(105, 105, 252);
  border: 2px solid rgb(216, 216, 216); 
  transition: .3s; 
}