.container {
  margin-left: 0;
}

h4 {
  text-align: left;
  margin-top: 80px;
  margin-left: 20px;
  opacity: 0.85;
  font-weight: bold;
}

h5 {
  font-weight: bold;
  opacity: 0.85;
}

.card:hover {
  background: #2bc1c4;
}

.card-block {
  color: black;
}

.card {
  margin: 30px 0 0 20px;
  padding: 10px 35px;
  padding-bottom: 30px;
  text-align: left;
  border: 1.5px solid lightgray;
}

.card-title {
  border-bottom: 2px solid lightgray;
  padding: 5px;
  border-spacing: 15px;
}
