.cardComponent {
    overflow: hidden;
    width: 40%;
    height: 30%;
    border: solid #979797 solid 1px;
    background: white;
    padding: 5px, 20px;
}

.notecardTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    text-align: left;
}

.notecardContents {
    font-size: .8rem;
    text-align: left;
    margin: 5px 0 0 0;
    line-height: 150%;
    white-space: pre-line;
    width: 100%;
}

.notecardLine {
    height: 0;
    border: solid #979797 .5px;
}

.listView {
    display: flex;
    position: relative;
    margin-left: 25%;
}