.cardComponent {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 200px;
    border: solid #979797 solid 1px;
    background: white;
    padding: 5px, 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notecardTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    text-align: left;
}

.notecardContents {
    font-size: .8rem;
    text-align: left;
    margin: 5px 0 0 0;
    line-height: 150%;
    white-space: pre-line;
}

.notecardLine {
    height: 0;
    border: solid #979797 .5px;
}