.note-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    margin: 15px 30px;
}

.note-card{
    width: 200px;
    height: 200px;
    border: 1px solid #979797;
    padding: 10px;
    background-color: white;
    overflow: hidden;
    margin-top: 20px;
}

.note-card h2{
    color: #4A4A4A;
    border-bottom: 1px solid #979797;
}

.note-card p{
    color: #4A4A4A;
}

.export{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.export button{
    color: #FFF;
    background-color: #2BC1C4;
    margin: 10px 15px;
    padding: 10px;
    font-weight: 700;
}