.new-note{
    width:100%;
    background:  #E7E6E7;
}

.new-note .title {
    margin: 15px 0 0;
    padding: 0 20px 20px;
    height: 10%;
    display: flex;
    align-items: flex-end;
    color: gray;
}

.new-note .form textarea {
    display: flex;
    justify-content: center;
    padding: 15px; 
    border-radius: 3px;
    margin: 0 25px 20px;
}

.new-note .form .note-title {
    width: 200px;
    height:45px;
}

.new-note .form .note-text {
    width: 70%;
    height: 310px;
    text-align: start;

  }

button {
   background: #00B9BC;
   border: 1px solid #A6A6A6;
   padding: 10px 0;
    width: 190px;
   font-weight: bold;
   font-size: 15px;
}