.header{
    display: flex; 
    justify-content: flex-start; 
    margin-top: 70px;     
    margin-left: 270px;  
    font: Roboto Bold;    
    color: #4A4A4A;          
}

.form {
    margin-left: 270px;      
    margin-top: 15px;
    padding: 2px;    
}

.title {
    display: flex; 
    align-items: flex-start;     
    padding: 2px 200px 2px 0; 
    margin-bottom: 20px;  
    color: #4A4A4A;
}

.body {
    display: flex; 
    align-items: flex-start; 
    padding: 0 620px 300px 0; 
    margin-bottom: 30px;  
    color: #4A4A4A;

}

.button3 {
    padding: 6px 35px 6px 35px;
    text-decoration: none;
    font-size: 16px;
    font: Raleway Medium;
    background-color: #2BC1C4; 
    color: #FFFFFF;
    display: block;
    margin-left: 270px;    
    margin-bottom: 50px; 
} 
