.NewNote {
    display: flex;
    flex-flow: column wrap;
    justify-content: right;
}

.NewNote h1 {
    font-size: 20px;
    margin-left: 10px;
}

.NewNote form {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 10px;
}

.NewNote form input {
    height: 30px;
}

.NewNote form .content {
    height: 500px;
    width: 500px;
}

.NewNote form button {
    width: 15%;
    max-width: 150px;
}
