.all-notes{
    width: 70%;
    position: absolute;
    right: 30px;
    height: 100%;
    background: rgb(185, 188, 224);
    display: flex;
    left: 30%;
} 

.all-notes h2{
    color: rgb(56, 71, 85);
    height: 35px;
    position: relative; 
    left: 45%;
}

@media only screen and (max-width: 600px) {
  .all-notes h2 {
    left: 40%;
  }
}

@media only screen and (max-width: 420px) {
    .all-notes h2 {
      left: 35%;
    }
  }

.all-notes .mapped-notes{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 85%; 
    position: absolute;
    top:80px; 
}

.single-note{
    border: 1px black solid;
    border-radius: 10px;
    margin: 10px;
    background: rgb(243, 238, 238);
    display: flex;
    flex-direction: column;
    width: 300px; 
}

 .single-note h3{
    border-bottom: 1.1px solid grey;
    margin-left: 12px;
    margin-right: 12px;
}

.text{
    text-decoration: none; 
    color: black; 
}

.link{
    text-decoration: none;
}

@media only screen and (max-width: 500px){
    .single-note{
        width: 90%;
    }
}