.notes-page{
    display: flex;
 
}


.notes-page .notes  {
    display: flex;
    /* flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; */
    flex-flow: row wrap;
    text-align: center;

}

.notes-page .notes :hover {
    text-decoration: none;
}



.notes-page .page-title{
    /* margin: 55px 0 0;  */
     padding: 0 20px;
    height: 10%;
    display: flex; 
     align-items: flex-start;
    color: gray; 
  }

.notes-page .notes .text{
box-sizing: border-box;
border: 1px solid #A6A6A6;
width: 200px;
height:195px;
padding: 5px;
margin: 20px 20px 0;
color: black;
font-weight:bold;
}


.notes .text h3{
    text-align: center;
    margin: 10px 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #A6A6A6;
    font-family: 'SinkinSans100Thin'; 
    font-weight: bold; 
    font-style: normal;
}

.notes .text p{
    font-family: 'SchoolCursiveRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 25px;
}

