.NoteItems {
    width: 1690px;
    background-color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    height: 950px;
}

.NotesList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.NoteItem {
    border: 1px solid black;
    width: 190px;
    height: 193px;
    margin-left: 31px;
}

h5 {
    text-align: justify;
    width: 1690px;
}

.NoteItemHeader {
    height: 50px;
    margin-top: 10px;
}

a:visited {
    color: darkslategray;
}