.mainDiv {
    border: thin grey;
    min-height: 1000px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}



p {
    font-family: 'Raleway', sans-serif; 
    font-size: 1rem;
}

.mainTitleTop {
    font-weight: 900
}

.mainTitleBot {
    
    font-weight: 900;
    
    
}

.botTitleDiv {
    
    position: relative;
    top: -20px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.redButton {
    
        width: 200px;
        height: 50px;
        background-color: red;
        border: red;
        color: white;
        font-size: 1rem;
    
}

.blueButton {
        width: 200px;
        height: 50px;
        background-color: blue;
        border: blue;
        color: white;
        font-size: 1rem;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #2BC1C4;
    border: #2BC1C4;
    color: white;
    font-size: 1rem;
    margin: 10px;
}

.botTitleDiv {
    
    position: relative;
    top: -20px;
}

.head {
    display: flex;
    justify-content: flex-end;
}

.headText {
    text-decoration: underline;
    margin: 3px;
}