.cardLink {
  border: 1px solid #ababab;
  max-width: 210px;
  width: 100%;
  height: 214px;
  /* margin: 0 15px; */
  margin-left: 35px;
  margin-bottom: 26px;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 0 21px;
}

.note .noteTitle {
  border-bottom: 2px solid #d0d0d0;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 14px;
  padding-bottom: 9px;
}

.note .noteBody {
  margin-top: 12px;
}

.cardLink {
  text-decoration: none;
  color: #4b4a4b;
}

@media (max-width: 760px) {
  .cardLink {
    margin-left: auto;
    margin-right: auto;
  }
}
