.navBar {
    background-color: #D8D8D8;
    height: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start
}

.noteCard {
    padding: 10px;
    margin-top: 10px;
    height: 200px;
    width: 200px;
}

.notesContainer {
    background-color: #F3F3F3; 
}