
.mainTitle {
    display: flex;
    justify-content: start;
    
}

.titleUnderline {
    border-bottom: thin solid black;
}

.listTitle {
    display: flex;
    justify-content: start;
    margin-top: 50px;
}

.cardBody {
    width: 100%;
    height: 0px;
    padding-bottom: 90%;
    margin: 10px 0;

    
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.title {
    text-decoration: none;
}

.text {
    font-size: 1rem;
    text-decoration: none;
}