.nf-wrapper{
    background: whitesmoke;
    position: absolute;
    height: 100%;
    width: 70%;
    left:30%;
}

.nf-wrapper h1{
    color:  rgb(56, 71, 85);
}

.nf{
    margin: 15px;
    width:100%;
}

.nf-inputs{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    left: 20%;
    width:100%;
}

.nf-inputs input{
    border: none;
    border-bottom: inset grey 0.75px;
    height: 40px;
    margin: 20px;
    width:55%;
}

.nf-inputs input[placeholder]{
    height: 40px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 875px) {
    .nf-inputs{
        left:10%;
    }
    .nf-inputs input[placeholder]{  
      font-size:1.25rem;
    }
    .nf-buttons{
        display: flex;
        justify-content: center;
        position: relative;
        right: 10%; 
    }

    .nf-buttons button{
        width: 90px;
        left: 2.5%;
    }

    .nf-wrapper h1{
        position: relative;
        right: 7%;
    }
}


.nf-button{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    width:125px;
    height: 35px;
    border-radius: 5px;
    border: none; 
    background: rgb(56, 71, 85);
    color: #FFFFFF;
    font-size: 0.9rem;
    box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 2.5%;
}

.nf-button:hover{
    background: #FFFFFF;
    color: rgb(56, 71, 85);
    border: solid 1px rgb(56, 71, 85);
}

