@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:bold');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.note {
    padding: 0 45px 0 30px;
}

.note__link {
    position: absolute;
    top: 18px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    letter-spacing: 0;
    cursor: pointer;
}

.note__edit-link {
    right: 96px;
}

.note__delete-link {
    right: 40px;
}

.note__title {
    position: relative;
    top: 59px;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0;
    word-spacing: 0;
}

.note__content {
    position: relative;
    top: 87px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0;
    word-spacing: 1.5px;
    text-shadow: 1px 1px #d7d7d7;
    white-space: pre-line;
}

.delete-modal {
    position: absolute;
    left: -47px;
    top: 186px;
    width: 582px;
    height: 198px;
    border: solid #505050 1px;
    background: #fbfbfb;
    z-index: 2;
    display: none;
}

.delete-modal--display {
    display: block;
}

.delete-modal__warning {
    position: absolute;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
}