
.mainTitle {
    display: flex;
    justify-content: start;
    
}

.titleUnderline {
    border-bottom: thin solid black;
}

.listTitle {
    display: flex;
    justify-content: start;
    margin-top: 50px;
}

.cardBody {
    width: 400px;
    height: 330px;
    /* padding-bottom: 100%; */
    margin: 10px 0;

    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.title {
    text-decoration: none;
}

.text {
    font-size: 1rem;
    text-decoration: none;
}