.note-wrapper {
    display: flex;
    margin-top: 30px;
    background-color: rgb(212, 212, 212);
    margin-right: 0;
}

.edit-button {
    font-size: 10px;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    color: #606060;
    margin-right: 20px;
    margin-left: 600px;
    text-decoration: underline;
    background: rgb(212, 212, 212);
    border: none;
    height: 20px;
    width: 40px;
}

.delete-button {
    font-size: 10px;
    color: #606060;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
    background: rgb(212, 212, 212);
    border: none;
    text-decoration: underline;
    height: 20px;
    width: 45px;
}

.note-body-full {
    font-size: 12px;
    line-height: 2;
    font-family: 'Russo One', sans-serif;
    margin-top: 20px;
}

.note-heading {
    color: #606060;
    margin-right: 590px;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.entire-wrapper {
    margin-top: 10px;
    width: 100%;
    height: 714px;
    background-color: rgb(212, 212, 212);
}
