@import url('https://fonts.googleapis.com/css?family=Roboto');

.page-container {
  display: flex;
  width: 75%;
}

.section-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    margin-right: 20%;
}

.form title {
    width: 55%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.form textBody {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}