.list {
  background: #F3F3F3;
}

.list__title {
  /* font-2weight: bold; */
  opacity: .8;
}

.link {
  color: black;
  
}
.link:hover {
  text-decoration: none;
}

.card__title {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 900; */
}

.card__content {
  max-height: 144px;
  overflow: hidden;
  font-family: 'Raleway';
}
