


.NoteCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

.NoteCard h1 {
  font-size: 2.4rem;
  border-bottom: 1px solid black;
  text-align: center;
  width: 100%;
  margin: 10px 0 10px 0;
}

.NoteCard p {
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
}