.note-view {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 15px 0 15px;
}

.note-view .note-title {
    margin: 0;
    padding: 5% 0 0 0;
    margin-bottom: 5%;
    word-break: break-word;
}

.note-view .note-content {
    word-break: break-word;
}

button {
    text-align: center;
}