.note-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.search {
    display: inline-block;
    margin-top: 5%;
    margin-right: 5px;
    width: 75%;
    padding-top: 0;
}