@import url('https://fonts.googleapis.com/css?family=Roboto');

.sidebar {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    border-right: 1px black solid;
    background: #D7D7D7;
    z-index: 1;
    top: 0;
    left: 0;
}

.sideBar h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #424343;
    line-height: 0.90;
    padding-top: 10px;
    padding-left: 6%;
    margin-bottom: 20px;
}

.sidebar-blue-button {
    width: 80%;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    background: #2BC1C4;
    justify-content: center;
    border: unset;
    border: 1px #979797 solid;
    margin: 0 7.5% 15px;
    padding: 8px;
}