.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D8D8D8;
    overflow-x: hidden;
    padding-top: 20px;
}

.header-School {
    font-size: 40px; 
    font: Roboto Bold;
    text-align: left; 
    margin-left: 20px;         
}

.button1 {
    padding: 6px 45px 6px 45px;
    text-decoration: none;
    text-decoration-line: none; 
    font-size: 16px;
    font: Raleway Medium;
    background-color: #2BC1C4; 
    color: #FFFFFF;
    display: block;
    margin-left: 20px; 
} 

.button2 {
    padding: 6px 35px 6px 35px;
    text-decoration: none;
    text-decoration-line: none; 
    font-size: 16px;
    font: Raleway Medium;
    background-color: #2BC1C4; 
    color: #FFFFFF;
    display: block;
    margin-left: 20px;
    margin-top: 20px; 
} 
 
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}