.side-bar{
    width: 30%;
    position: absolute;
    height: 100%;
    background: rgb(235, 235, 235);
  }

  .head-div{
    margin-top: 20%;
  }
  .head-div h1{
    color: rgb(56, 71, 85);
  }

  .sb-links{
      margin-top: 75px; 
  }

  @media only screen and (max-width: 875px) {
    .sb-links {  
      display: flex;
      flex-direction: column;
    }

    .sb-input{
        top:70%;
    }
}

.sb-link{
    text-decoration: none;
    background: lightseagreen;
    margin:10px;
    padding: 10px 15px; 
    border-radius: 5px;
    color: #FFFFFF;
    box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.25);  
}

.sb-link:hover{
    color: lightseagreen;
    background: #FFFFFF;
}

.sb-input{
    position: absolute;
    top:55%;
    left: 4%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:90%; 
    
}


.sb-input input{
    border: none;
    border-bottom: inset rgb(56, 71, 85) 0.75px;
    height: 40px;
    width:100%;
}

.sb-input input[placeholder]{
    font-size: 1.2rem;
    text-align: center;
}

.sb-input button{
    width:150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    cursor: pointer; 
    background: rgb(56, 71, 85);
    color: #FFFFFF;
    font-size: 0.99rem;
    box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.25);
}

.sb-input button:hover{
    background: #FFFFFF;
    color: rgb(56, 71, 85);
    border: solid 1px rgb(56, 71, 85);
}

@media only screen and (max-width: 500px){
    .head-div h1{
        font-size:90%;
    }

    .sb-input button{
        width: 90%;
    }
}
