.button{
    background-color: rgb(23, 196, 202);
    border: 1px solid rgb(173, 173, 173); 
    width: 83%;
    height: 36px;  
    color: white; 
    font-weight: bold; 
    margin: 17px auto; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 3px;  
    font-size: 16px; 
    letter-spacing: 0.5; 
}

.button:hover{
    background-color: rgb(9, 142, 146); 
    transition: 0.5s; 
    font-weight: bold; 
    font-size: 17px; 
}

