.page-container {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.section-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.section-container .buttons {
    align-self: flex-end;
}

.section-container .buttons a {

}

.section-container h1 {

}

.section-container p {

}