.page-container {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.section-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.section-container .buttons {
    align-self: flex-end;
}

.section-container .buttons p {
  display: inline-block;
  padding: 5px 5px 0 5px;
  text-decoration: underline;
}

.section-container .single-note {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 5px 25px;
}

.section-container .single-note h1 {

}

.section-container .single-note p {

}