.note__form {
  display: flex;
  flex-direction: column;
}

.note__title {
  margin-top: 20px;
  margin-left: -3px;
  padding-left: 15px;
  width: 75%;
  height: 42px;
  border: 1px solid #BEBEBE;
  border-radius: 2%;
  font-size: 12px;
}

.note__content {
  margin-left: -3px;
  width: 95%;
  height: 420px;
  margin-top: 30px;
  border: 1px solid #BEBEBE;
  border-radius: 1%;
  padding: 15px 0 0 15px;
  font-size: 12px;
}

.note__button {
  width: 40%;
  max-width: 409px;
  height: 50px;
  margin-top: 30px;
  background: #2AC0C4;
  border: 2px solid #BEBEBE;
  font-size: 15px;
  color: white;
  font-weight: bold;  
}

.note__button:hover {
  cursor: pointer;
}