.sortable__container {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 0;
}

.sortable__container li:nth-child(31){
  margin-left: 0;
}

.noteList__container {
  list-style-type: none;
  width: 125px;
  height: 150px;
  border: 1px solid #B2B2B2;
  margin-bottom: 20px;
  margin-left: 15px;
  background: #FFFFFF;
}

.noteList__container:hover {
  background: rgb(250, 250, 250);
  cursor: pointer;
}

.noteList__box {
  display:flex;
  flex-direction: column;
  padding: 10px 15px;
}

.noteList__box-title {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.noteList__box-content {
  font-family: Roboto Bold;
  font-size: 11px;
  max-height: 100px;
  overflow: hidden;
  word-break: break-word;
}

.top {
  font-size: 15px;
  font-weight: bold;
  }