// Button_
.button-component {
  .custom-button {
    color: @button-font-color;
    background-color: @botton-main-background;
    max-width: 219.68px;
    height: 50px;
    margin-bottom: 1.2rem;
    border: 1.5px solid @border-color;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}
