/* this is the base styling of the entire container of the page */

.container {
  max-width: 1000px;
  display: flex;
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
}

.sidebar {
  border: 2px solid black;
  background-color: grey;
  width: 30%;
}

.button1 {
  background-color: darkcyan;
  color: white;
  border: 1px white;
  font-size: 20px;
  width: 150px;
  height: 50px;
}

.button2 {
  background-color: darkcyan;
  color: white;
  border: 1px white;
  font-size: 20px;
  width: 150px;
  height: 50px;
}

.Lambda-Logo {
  color: black;
}

/* need css for the box of all the notes, each individual note, and for the list of notes */


