.note .note-links {
    display: flex;
    justify-content: flex-end;
    margin-right: 3.5%;
}

.note .note-links a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    color: #454646;
    margin-right: 15px;
}

.note .note-links a:hover {
    cursor: pointer;
}

.note h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #454646;
    margin-bottom: 25px;
}

.note p {
    line-height: 1.5;
    margin-right: 3.5%;
}

.note .tags {
    margin-top: 25px;
}
.note .tags span {
    border: 1px solid #454646;
    border-radius: 10px;
    margin-right: 2%;
    padding: 3px;
    font-size: .8rem;
    font-weight: bold;
    background-color: gray;
    color: white;
}