.container-fluid {
    padding-right:0;
    padding-left:0;
}

.main-content {
    background-color:#F4F4F4;
    padding: 40px 40px;
}

.sidebar {
    background-color: #D8D8D8;
    padding:20px;
}
button {
    background: #2bc1c4!important;
    border: 1px #979797 solid;
    color:white;
    display:block;
    max-width: 250px;
}