.editNoteContainer {
    width: 100%; 
    height: 100%; 
    display: flex; 
}

.editNoteCardContainer {
    width: 75%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    background: #F3F3F3; 
}

.editNoteCardContainer h4 {
    margin: 60px 0 0 25px; 
    font-family: Raleway Medium; 
    font-weight: bolder; 
    color: #4A4A4A; 
}

.editNoteCardContainer input {
    width: 55%; 
    padding: 10px; 
    margin: 28px 0 0 25px; 
    border: 1.5px solid #979797;
    border-radius: 3px; 
}

.editNoteCardContainer textarea {
    width: 90%; 
    padding: 10px; 
    margin: 14px 0 0 25px; 
    border: 1.5px solid #979797; 
    border-radius: 3px; 
    resize: none; 
}

.submit {
    width: 28%;
    padding: 10px;
    margin: 10px 0 0 4%; 
    font-family: Raleway Medium; 
    font-weight: bold; 
    color: #FFFFFF; 
    border: 1.5px solid #979797; 
    background: #2BC1C4; 
}

.exclamation {
    width: 8%;
    text-align: center;
    display: inline-block; 
    color: white;
    background: orange;
}