.edit-wrapper{
    display:flex;
    max-width: 1200px;
    width:1200px;
    margin: 0 auto;


}



.update-button{
    background-color:#2BC1C4;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    width: 200px;
    height: 40px;
    margin-top:10px;
}

 h1 {
    margin-top: 110px;
    font-size: 1.4rem;
 }
 
 .form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;

    
}
.input-content{
    height:600px;
    width: 80%;

    
}

.input-title{
    height: 30px;
    margin-bottom: 10px;
    width: 40%;
}

.form-part{
    margin: 15px;
}