.create-wrapper{
    display:flex;
    max-width: 975px;
    width:100%;
    margin: 0 auto;
}
.form-create{
    display:flex;
    flex-direction:column;
    padding:10px;
    width:100%;
    
}
.button-save{
    background-color:#2BC1C4;
    font-weight: bolder;
    font-size: 1rem;
    height: 40px;
    width: 200px;
    margin: 10px;
    text-decoration: none;
}
.input-title{
    width:45%;
    height: 35px;
}
.input-content{
    width:90%;
    height: 400px;
}