.modal_wrapper{
    display: flex;
    justify-content: space-evenly;
}

.delete_wrapper{
    z-index: 1000;
    position: fixed;
    margin-left:-70px;
    margin-top:80px;
    /* STANDARD STYLES */
    width:600px;
    height:200px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    border: 1pxx solid rgb(66,66,66);
    box-shadow:1px 1px 8px rgb(66,66,66);
    background-color: white;

}

.hidden{
    display: none;
}