.main-container{
    display:flex;
    flex-wrap:wrap;
    background-color:#F3F3F3;
    color:#4A4A4A;
    margin:0px;
    width:100%;
    list-style: none;
    height: auto;
}
.card-container{
    height:200px;
    width:200px;
    background-color:whitesmoke;
    border:1px solid #979797;
    margin:10px auto;
    padding:10px;
    text-overflow: clip;
    overflow: hidden;
}
.text-wrapper{
    margin:10px;

}
