.container{
    display:flex;
    max-width:745px;
    flex-wrap:wrap;
    background-color:#F3F3F3;
}
.note-wrapper-container{
    display:flex;
    height: 200px;
    width:200px;
    border: 1px solid #979797;
    margin: 5rem 1rem 1rem 1rem ;
    background-color:white;
    overflow:auto;
    padding:10px;
    justify-content:center;
    
}

.link-card{
    color:#4A4A4A;
}
.link-card:hover{
    color:purple;
}