.note-card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 3.8% 25px;
}

.note-card{  
background: white;
border: 1px black solid;
width: 23%;
padding: 2%;
margin-right: 4%;
margin-top: 4%;
}

.note-title{
    font-size: 220%;
    font-weight: 1000;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 10px;
}

.note-text{
    padding: 12px 0;
    font-size: 140%;
}