.Create__button {
    margin: 0 0 0 ;
    width: 32%;
}

.Create__heading {
    margin: 3.5em 0 0 0;
}

.Create__heading__col {
    margin: 0 0 0 -.4%;
}

.Create__heading__col h4 {
    font-size: 1.3em;
}

.Create__form {
    margin: 1.2em 0 0 -.8%;
}

.Create__form__title {
    width: 59%;
}

.Create__form__title input {
    height: 2.8rem;
    font-size: .8em;
}

.Create__form__text {
    height: 21.5rem;
    font-size: .8em;
}
