.mainBodyTitle2 {
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 8%;
}

.noteTitle {
    background-color: #AEBD38;
    border-radius: 10px;
    color: #FFFFFF;
    font: Raleway Medium;

    
}

.createNewNote {
    background-color: #AEBD38;
    border-radius: 10px;
    color: #FFFFFF;
    font: Raleway Medium;
}

