.delete-modul {
    display: flex;
    flex-wrap: wrap;
}



.want-to-delete {
    /* display: flex;
    justify-content: center; */
    border: 1px solid black;
}
.modul-delete { 
  height: 50px;
  width: 200px;
  border: #979797;
  color: #FFFFFF;
  margin:10px;
}
.modul-cancel {
  height: 50px;
  width: 200px;
  border: #979797;
  color: #FFFFFF;
  margin: 10px;
}