.mainBodyTitle1{
    color: #FFFFFF;
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 7%;
    font-weight: bold;
}

.noteCard {
    margin: 15px;
    width: 250px;
    height: 225px;
    border-radius: 10px;
    border: 1px solid #979797;
    background-color: #AEBD38;
}

.noteTitle1 {
    color: #FFFFFF;
    font: Raleway Medium;
    text-decoration: underline;
    margin-top: 10px;
    text-align: center;
    
}

.noteCon {
    color: #FFFFFF;
    margin: 20px;
    font: Railway Medium;
    /*color: #4A4A4A*/
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

