/** {
    box-sizing: border-box;
}
body {
    height: 980px;
}

.container {
    max-width: 1200px;
    display: flex;
    height: 100%;
    margin: auto;
    

}

.sideBar {
    width: 25%;
    background-color: #D8D8D8;
    border: 2px solid #979797;
}

.mainBody {
    border: 2px solid #979797;
    background-color:#F3F3F3;
    width: 75%; 
}

.createNoteButton {
 font: Raleway Medium;
 color: #FFFFFF;
 background-color: #2BC1C4;
 width: 80%;
 height: 6%;
 margin-top: 7%;
 margin-left: 9%;
}
.viewNotesButton {
 font: Raleway Medium;
 color: #FFFFFF;
 background-color: #2BC1C4;
 width: 80%;
 height: 6%;
 margin-top: 12%;
 margin-left: 9%;
}

.saveButton {
    font: Raleway Medium;
    color: #FFFFFF;
    background-color: #2BC1C4;
    width: 25%;
    height: 45px;
    margin-top: 2%;
    margin-left: 5%;   
}



.noteTitle {
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 2%;
    width: 50%;
    height: 45px;
    padding-left:20px;
    border: 2px solid #979797;

}

.createNewNote {
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
    height: 400px;
    text-align: left;
    padding-bottom: 325px;
    padding-left: 20px;
    border: 2px solid #979797;

}



.mainBodyTitle {
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 8%;
}

.sideBarTitle1 {
    margin-top: 15px;
    margin-left: 20px;
    font: Roboto Bold;
}
.sideBarTitle2 {
    line-height: 20%;
    margin-left: 8%;
    font: Roboto Bold;
}


/*Heading font: Roboto Bold
Everything else font: Raleway Medium

Heading and main font color: #4A4A4A
Button font color: #FFFFFF

Sidebar background: #D8D8D8
Main background: #F3F3F3
Main button background: #2BC1C4
Delete button background: #D0021B
Border color used throughout: #979797*/