.edit-button {
    display: flex;
    margin-top: 20px;
    padding: auto;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    color: white;
    background: rgb(6, 182, 182);
    border: 1px solid rgb(206, 192, 192);
    width: 200px;
    height: 45px;
    justify-content: center;
}