.edit-title{
    width: 400px;
    color: #414141;
}

.edit-content{
    /* height: 400px; */
    margin-top: 10px;
    
    
}

.update-button{
    height: 35px;
    width: 160px;
    text-align: center;
    color: white;
    background: #23B8BD;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #AFAEAF;
}

.container-edit{
    margin-left: 0px;
}