.homepagecontainer {
    background:  #9BA3A3;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hpcontent button {
    width: 20rem;
    height: 5rem;
}

.hpcontent {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
    height: 30%;
}

.hpcontent h1{
    margin-top: 0px;
}