.todos-wrapper {
    /* background-color: red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid green;
    color: yellow;
}
.todos-title {
    width: 100%;
}

.todos-textbody {
    color: red;
    width: 100%;
}

