h1 {
  font-size: 30px;
  color: gray;
  flex-wrap: wrap;
}
.left {
  text-align: center;
  list-style-type: none;
  margin-left: -25%;
  padding: 0;
  width: 25%;
  background-color: #d3d2d3;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Button {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  width: 80%;
  border: 1px solid black;
  background-color: #2eb8bc;
  color: white;
  margin: 5%;
  height: 55px;
  border-radius: 5px;
}

.Button:hover {
  color: black;
}
