.listnotes { 
    display: flex;
    border: firebrick;
}
.Character-Wrapper {
    border: firebrick;
}

.card-title{
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

.card-text{
    font-size: 1rem;
    color: black;
}