.listContainer {
  min-height: 100vh;
  width: 100%;
  border: 1px solid #b5b5b5;
  background-color: #f3f3f3;
  padding: 20px;
}

.listHeader {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 30px;
  margin-bottom: 40px;
}

.listBody {
  max-width: 1151px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1080px) {
  .listHeader {
    text-align: left;
    margin-left: 15px;
  }
  .listBody {
    justify-content: flex-start;
    align-content: flex-start;
  }
}
