.menu {
    width: 25%;
    background-color: silver;
    border: 1px solid grey;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    border: 1px solid grey;
    background-color: rgb(0, 167, 167);
    color: white;
    margin: 5px auto;
    width: 80%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.link {
    text-decoration-color: white;
    text-decoration: none;
}