.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(222,222,222, 0.5); /* #dedede */
}

.modalBanner {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: auto;
  max-width: 800px;
  border: 2px solid #7d7d7d;
  background-color: #fbfbfb;
  margin: 15% auto;
  opacity: 1;
}

.modalText {
  color: #4f4f4f;
  font-size: 1.4em;
  font-family: 'DejaVu Sans', serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.deleteButton {
  height: 55px;
  width: 245px;
  border: 1px solid #9b8e90;
  background-color: #d0021b;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.cancelButton {
  height: 55px;
  width: 245px;
  border: 1px solid #89a4a4;
  background-color: #2bc1c4;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 25px;
}

@media screen and (min-width: 1080px) {
  .modalBanner {
    height: 230px;
    width: 848px;
    border: 2px solid #7d7d7d;
    background-color: #fbfbfb;
    margin: 15% auto;
    opacity: 1.0;
  }
}
