.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    padding: 100px;
    border: 2px solid black;
    max-width: 30rem;
    outline: none;
    padding: 32px;
    text-align: center;
}

.modal__title {
    margin: 16px 0;
}

.modal__body {
    margin: 0 0 32px 0;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;
}

.button {
    border: none;
    color: white;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}

.button-success {
    background-color: #3498db;
}

.button-danger {
    background-color: #c0392b;
}