.nav_rail{
display: flex; 
flex-direction: column;
align-items: baseline;
padding:10px;
background:lightsteelblue;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 15px;
  }
.button{
  padding: 15px;

}