.new-note-container{
    width: 75%;
  }
  .nav-bar{
    padding-top: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(246, 247, 245);
  }
  
  .nav-bar button{
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    background-color: rgb(174, 230, 199);
    color:rgb(77, 75, 75);
    border: 1px solid rgb(247, 246, 245);
    border-radius: 12px;
    font-family: 'IBM Plex Mono', monospace;
  
  }
  
  .active{
      background:rgb(174, 230, 199);
  }
  
  .focus{
    background:rgb(174, 230, 199);
  }
  
  .notes-list-container{
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .your-notes{
    text-align: left;
    padding-top: 40px;
    padding-left: 20px;
  }
  
  h1{
    text-align: center;
  }