.new-note-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .note-title-input{
    height: 40px;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
}

form .note-content-input{
    height: 200px;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
}

form input::placeholder{
    vertical-align: top;
}


button{
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    background-color: rgb(174, 230, 199);
    color: white;
    border: 1px solid rgb(247, 246, 245);
    border-radius: 12px;
}
