.newNoteDiv {
  display:flex;
  text-align: center;
  max-width: 880px;
  min-height: 900px;
}

.leftBar {
  display: inline-flex;
  height: 900px;
  width: 25%;
  background: #d8d8d8;
  border: 1px solid #979797;
}

.rightBar {
  display:inline-flex;
  flex-direction: column;
  align-items: flex-start;
  height: 900px;
  width: 75%;
  background: #f3f3f3;
  border: 1px solid #979797;
}



.btns {
  background:#62bec2;
  color: white;
  height: 50px;
  width: 80%;
  flex-direction: column;
  margin: 0 0 20px 0;
  padding: 0px;
  text-align: center;
  text-decoration-color: white;
}

h1 {
  font-size: 300%;
  font-family: Raleway;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 0 10px;
  color: #4a4a4a;
}

h2 {
  font-size: 300%;
  font-family: Raleway;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 40px 10px;
  color: #4a4a4a;
}

h3 {
  font-size: 150%;
  font-family: Raleway;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 0 30px;
}