.note-input {
    width:90%;
    margin:0 auto;
    font-family: sans-serif;
    font-size: 2rem;
}

.note-input .note-area {
    height:400px;
}

.edit-delete-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}