.new-note-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .note-title-input{
    height: 40px;
    width: 80%;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
}

form .note-content-input{
    height: 400px;
    width: 80%;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
}
