.NoteCreate-container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.NoteCreate-header {
  margin: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.NoteCreate-input-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NoteCreate-input-title{
  height: 30px;
  margin-left: 20px;
  width: 40%;
  max-width: 400px;
  border: 1px solid #bababa;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-radius: 4px;
}

.NoteCreate-tag-container {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.NoteCreate-tag-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  line-height: 1.8;
}

.NoteCreate-tag-link {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}

.NoteCreate-input-content {
  height: 600px;
  width: calc(100% - 40px);
  margin: 20px;
  border: 1px solid #bababa;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-radius: 4px;
}

.NoteCreate-update-btn {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  text-align: center;
  color: white;
  background-color: #2bc1c4;
  border: 1px solid #979797;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
  cursor: pointer;
}

.NoteCreate-tag-btn {
  width: 120px;
  height: 30px;
  font-size: 16px;
  padding-top: 3px;
  margin: 0;
}

.NoteCreate-link {
  text-decoration: none;
}