.noteViewPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

@media screen and (min-width: 1080px) {
  .noteViewPageContainer {
    flex-direction: row;
  }
}
