.container {
    display: flex;
    width: 100%;
}

.note-container {
    width: 100%;
    border: 1px solid gray;
    background-color: gainsboro;
}

.delete:hover {
    cursor: pointer;
}

.body {
    display: flex;
    margin-left: 5%;
    width: 90%;
    text-align: start;
}