.NoteCreatePageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1180px) {
  .NoteCreatePageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
