.NoteCard-area {
  padding: 3%;
}

.NoteCard-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #cecdce;
  padding: 10px 20px;
  height: 290px;
}

.NoteCard-divider {
  height: 1px;
  background-color: #cecdce;
}

.NoteCard-content {
  overflow: hidden;
  text-overflow: ellipsis;
}