.NoteCard {
    border: solid 1px rgb(146, 143, 140);
    border-radius: 1%;
    margin: 2% 2% 2% 2%;
    background: white;
}

.NoteCard__heading {
    color: black;
    border-bottom: 1px solid rgb(146, 143, 140);
}

.NoteCard__text {
    color: black;
}