.noteEditContainer {
  width: 100%;
  border: 1px solid #b5b5b5;
  background-color: #f3f3f3;
  padding: 20px;
}

.noteEditHeader {
  width: 100%;
  font-size: 1.7em;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
}

.noteTitle {
  height: 50px;
  max-width: 450px;
  font-family: inherit;
  font-size: .95em;
  padding-left: 15px;
  border: 2px solid #b5b5b5;
  border-radius: 3px;
  margin-right: 45px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.noteBody {
  height: 405px;
  max-width: 725px;
  font-family: inherit;
  font-size: .95em;
  padding: 25px;
  border: 2px solid #b5b5b5;
  border-radius: 3px;
  margin-right: 45px;
  margin-bottom: 15px;
  margin-left: 20px;
  resize: none;
}

.noteEditButton {
    height: 55px;
    width: 245px;
    background-color: #2bc0c3;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: 1.3px solid #89a1ad;
    margin-left: 20px;
    margin-bottom: 15px;
}

@media screen and (min-width: 1080px) {
  .noteEditHeader {
    margin-left: 15px;
  }
  .noteTitle {
    height: 50px;
    width: 450px;
    margin-left: 15px;
  }
  .noteBody {
    max-width: none;
    height: 405px;
    width: 725px;
    margin-left: 15px;
  }
  .noteEditButton {
    margin-left: 15px;
  }
}
