.noteViewPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1180px) {
  .noteViewPageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
