.note-view {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 15px 0 15px;
  }
  
  .note-view .modify-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .note-view .modify-links b {
    margin-left: 2%;
  }
  
  .modify-links b:hover {
    text-decoration: underline;
  }
  
  .note-view .note-title {
    margin: 0;
    padding: 5% 0 0 0;
    margin-bottom: 5%;
    word-break: break-word;
  }
  
  .note-view .note-content {
    word-break: break-word;
  }
  
  form .btn {
    margin-bottom: 1em;
    white-space: pre-wrap;
  }
