.list {
    display: flex;
}

.note-list {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    background-color: gainsboro;
}

/* h2 {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
} */

.notes {
    display: flex;
    flex-wrap: wrap;
}