.NoteList-area {
  width: 100%;
}

.NoteList-header {
  display: flex;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.NoteList-title {
  margin: 20px;
  margin-left: 50px;
}

.NoteList-sort-container {
  display: flex;
  align-items: center;
}

.NoteList-sort-btn {
  color: grey;
  cursor: pointer;
}

.NoteList-sort-menu {
  position: absolute;
  margin-top: 40px;
  background-color: white;
  border: 1px solid grey;
  padding: 4px;
}

.NoteList-sort-menu-inactive {
  display: none;
}

.NoteList-sort-menu-item {
  text-decoration: underline;
  cursor: pointer;
  margin: 10px;
}

.NoteList-search {
  height: 30px;
  margin: 24px;
  margin-right: 40px;
  border: 1px solid grey;
  border-radius: 4px;
}

.NoteList-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.NoteList-link {
  text-decoration: none;
  color: black;
  width: 33.3%;
}
