.navigation {
    display: flex;
    justify-content:flex-end;
    color: black;
    
}


.nav-link{
   color: black;
}

a{
    color: black!important;
}

.note{
    
    padding-left: 10px;
}

.noteTitle {
    font-size: 2rem;
}
.noteBody {
    padding-top: 20px;
}