.Note__Content {
    max-height: 100px;
    white-space: wrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}
.Notes__Note {
    font-family: Raleway Regular;
}

.Note_Title {
    font-weight: bold;
}

a.Card__Link {
    text-decoration: none;
    color: #212529;
}
