.note-view {
  background: #F3F3F3;
  height: 100%;
  margin-left: 240px;
  padding-top: 85px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: left;

  .note-title {
    color: #565556;
    font-size: 1.4rem;
    margin-bottom: 40px;
  }

  .note-entry {
    line-height: 30px;
    letter-spacing: 0.8px;
    width: 80%;
    color: #636363;
    font-size: 1rem;
    font-family: Raleway;
  }
}