.mm-popup {
    display: none;
}

.mm-popup--visible {
    display: block;
}

.mm-popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    background: rgba(0, 0, 0, .1);
}

.mm-popup__close {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.mm-popup__btn--success {
    background-color: #27ae60;
    border-color: #27ae60;
    color: #fff;
}

.mm-popup__btn--danger {
    background-color: #c5545c;
    border-color: #c5545c;
    color: #fff;
}