.search {
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: left;
  margin-left: 20px;
  align-items: center;

  form {
    width: 60%;
    display: flex;
    align-items: center;

    label {
      padding: 2px 10px 0 0;
      font-size: 0.9rem;
      font-family: Raleway;
      color: #4C4B4C;
      user-select: none;
    }
  }
  .search-bar {
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
    height: 25px;
    width: 50%;

    &:hover, &:focus {
      box-shadow: 0px 1px 2px 1px rgba(100, 100, 100, 0.1);
    }

  }
}
