.searchBarSection{
    text-align: center;
    /* border: 1px solid red; */
    width: 130px;
    height: 20px;
    display: flex;
    padding-bottom: 25px;
}

.searchBar{
    width: 130px;
    height: 20px;
}