.side-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 200px;
    border: 1px solid rgb(206, 192, 192);
    background: rgb(236, 235, 235);
}

.side-buttons {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0;
    margin-top: -5px;
}

.view-button {
    margin-bottom: 15px;
}

.create-button {
    margin-bottom: 15px;
}