.button-mix() {
  font-weight: 700;
  font-family: inherit;
  font-size: 1rem;
  width: 90%;
  height: 45px;
  background: #1DC0C3;
  color: white;
  border: 1px solid #76A1A1;
  user-select: none;
  cursor: pointer;

  &:active {
    background: #24abad;
  }
}

.sidebar {
  z-index: 0;
  font-weight: 700;
  font-size: 1.1rem;
  background: #D6D6D6;
  border-right: 2px solid #BDBDBD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 250px;
  left: 0;
  top: 0;

  .top {
    h1 {
      font-size: 2.9rem;
      padding-left: 20px;
      text-align: left;
      user-select: none;
      color: #4B4A4B;
      margin: 25px 0 20px 0;
    }
    .button {
      width: 90%;
    }
    button {
      .button-mix();
      margin: 10px;

      &:hover {
        background: #00b6b9;
      }
    }
    // .export {
    //   width: 81%;
    // }
  }
  .bottom {
    width: 100%;
    .button {
      width: 90%;
    }
    button {
      .button-mix();
      margin: 10px;

      &:hover {
        background: #00b6b9;
      }
    }
  }

  a {
    cursor: default;
  }
}

