.sorting-menu-container {
  width: 10%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.sorting-menu-container .sorting-menu {
  font-family: Raleway;
  padding: 2px;
  border-radius: 0px;
}
