.edit-note-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

form input{
    height: 40px;
    width: 80%;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:rgb(77, 75, 75);
    border: 4px solid rgb(247, 246, 245);
    border-radius: 12px;
}


form textarea{
    height: 200px;
    width: 80%;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:rgb(77, 75, 75);
    border: 4px solid rgb(247, 246, 245);
    border-radius: 12px;
}

form input::placeholder{
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}


button{
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    background-color: rgb(174, 230, 199);
    color: white;
    border: 1px solid rgb(247, 246, 245);
    font-family: 'IBM Plex Mono', monospace;
    
}
