* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    display: flex;
    margin: auto;
    height: 900px;
}

.sideBar {
    width: 25%;
    background-color: #D8D8D8;
    border: 2px solid #979797;
}

.mainBody {
    border: 2px solid #979797;
    background-color:#F3F3F3;
    width: 75%; 
}

.createNoteButton {
    font: Raleway Medium;
    color: #FFFFFF;
    background-color: #2BC1C4;
    width: 80%;
    height: 6%;
    margin-top: 7%;
    margin-left: 9%;
}
.viewNotesButton {
    font: Raleway Medium;
    color: #FFFFFF;
    background-color: #2BC1C4;
    width: 80%;
    height: 6%;
    margin-top: 12%;
    margin-left: 9%;
}

.saveButton {
    font: Raleway Medium;
    color: #FFFFFF;
    background-color: #2BC1C4;
    width: 25%;
    height: 45px;
    margin-top: 2%;
    margin-left: 5%;   
}

.noteTitle {
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 2%;
    width: 50%;
    height: 45px;
    padding-left:20px;
    border: 2px solid #979797;
}

.createNewNote {
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
    height: 400px;
    text-align: left;
    padding-bottom: 325px;
    padding-left: 20px;
    border: 2px solid #979797;

}

.editButton {
    font: Raleway Medium;
    color: #4A4A4A;
    background-color:#F3F3F3;
    margin-left: 85%;
    text-decoration: underline;
    border: none;
}

.deleteButton {
    font: Raleway Medium;
    color: #4A4A4A;
    background-color:#F3F3F3; 
    text-decoration: underline;
    border: none;
}

.mainBodyTitle {
    font: Raleway Medium;
    margin-left: 5%;
    margin-top: 4%;
    font-weight: bold;
}

.noteBody {
    width: 85%;
    margin-top: 4%;
    margin-left: 5%;
}

.sideBarTitle1 {
    margin-top: 15px;
    margin-left: 20px;
    font: Roboto Bold;
    font-weight: bold;
}
.sideBarTitle2 {
    line-height: 20%;
    margin-left: 7.5%;
    font: Roboto Bold;
    font-weight: bold;
}

.modalDelete {
    background-color: #D0021B;
    width: 228px;
    margin-bottom: 30px;
}

.modalNo {
    background-color: #2BC1C4;
    width: 228px;
    margin-bottom: 30px;
}

.modalHeader {
    margin-left: 60px;
    margin-top: 50px;
}



