.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 10% 20%;
}

p{
    font-weight: thin;
    color: rgb(202, 198, 198)
}