.InputForm {
    width: 74%;
    height: 40rem;
    border: 1px solid black;
    margin-top: 1rem;
    float: right;
    background-color: rgb(245, 245, 245);
    margin-bottom: 1rem;
}

.InputForm > .InputForm__Header {
    padding: 1rem;
}

.Input {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-content: center;
    padding: 1rem;
    margin: .5rem 1rem;
    border-radius: 5px;
}

.InputBody {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-content: center;
    padding: 1rem;
    margin: .5rem 1rem;
    border-radius: 5px;
    width: 80%;
    height: 25%;
}

.save {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 25%;
    align-content: center;
    background-color: teal;
    padding: 1rem;
    margin: .5rem 1rem;
    color: white;
    border-radius: 5px;
}