.about {
    background: #F3F3F3; 
    margin: 0; 
    min-height: 100%; 
    width: 75%; 
}

.about h4 {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 60px 0 0 5%; 
}

.about h5 {
    color: #4A4A4A; 
    font-family: Raleway; 
    font-weight: bold; 
    margin: 24px 0 0 5%; 
    padding: 0 5% 0 0; 
}

