/*CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*STYLING STARTS HERE*/

.container {
	height: 100vh;
	background-color: #F2F1F2;
}

@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');

html {
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #49525B;
}

h1, h2 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

h3, h4, h5, h6 {
	font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}


/*-------------------------------Side Bar Styling*/
.sideBarWrap {
	width: 15em;
	height: 100vh;
	position: fixed;
    background-color: #283D4A;
}

.sbTitle {
	width: 8.8em;
	margin: 0;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 18px;
	
	background-color: #101B2F; 
	color: #91A8C3;
}

.sbButtons {
	display: flex;
	flex-direction: row;
	width: 18em;
	padding-left: 15px;
	margin: 10px auto 0;
	text-align: left;
	color: white;
	border: none;
	background-color: inherit;
}

.sbButtons p {
	padding-top: .3em;
	padding-left: 1em;
}

button:focus {
    outline: 0;
}

input:focus {
	outline: 0;
}


/*-------------------------------Notes View Styling*/

.notesView {
	max-width: 100%;
	padding-left: 16em;
	background-color: #F2F1F2;
	height: auto;
}

.nvTitle {
	padding-top: 50px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

.noteBox {
	/* padding-left: 16em; */
	display: inline-grid;
	grid-template-rows: 1fr;
	grid-template-columns: 15em 15em 15em;
	grid-gap: 20px;
}

.card-body {
	border: 1px solid #FFF;
	border-radius: 15px;
	padding: 10px;
	background-color: white;
	box-shadow: 5px 5px 8px #D9D9D9;
	line-height: 1.3em;
	overflow: hidden;
}

.card-text {
	padding: .2em .2em .8em;
	max-height: 4em;
	overflow: hidden;
}

.card-title {
	font-size: 22px;
	width: 99%;
	border-bottom: 1px solid #91A8C3;
	padding-bottom: .5em;
}

.btn {
	margin-top: .5em;
	border: #1DA0E0;
	background-color: #1DA0E0;
	border-radius: 25px;
	color: white;
	padding: .4em .8em;
}


/*-------------------------------Add Note form Styling*/

.addForm {
	width: 80%;
	margin: 0 auto;
	padding-left: 16em;
	background-color: #F2F1F2;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.addTitle {
	width: 40%;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 4px;
	padding-left: 12px;
}
.addBody {
	width: 50%;
	height: 40%;
	border-radius: 4px;
	padding-left: 15px;
	padding-top: 20px;
}

.addButton {
	width: 22%;
	margin-top: 10px;
	height: 5%;
	margin-left: 2px;

	font-size: 16px;
	font-weight: 600;
	color: white;

    background-color: #1DA0E0;
	border: .5px solid #B7B7B7;
	border-radius: 25px;
    box-shadow: -.5px .5px .8px #B7B7B7;
}

a {
	text-decoration: none;
	color: inherit;
}

/*-------------------------------Single Note Styling*/
.viewNoteContainer {
	width: 50%;
	margin: 0 auto;
	padding: 2% 5% 5% 16em ;
	overflow-y: hidden;
	background-color: #F2F1F2;
}

.viewNoteTitle {
	margin-top: 40px;
	margin-bottom: 10px;
}

.viewNoteLinks {
	margin-left: 20px;
	text-decoration: underline;
	position: relative;
	top: 10px;
	left: 80%;
}



/*-------------------------------Delete Modal*/
.dModal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(221, 221, 221, .7)
}

.modalContent {
	position: fixed;
	top: 40%;
	left: 40%;
	padding: 40px 80px;
	border: 1px solid black;
	border-radius: 25px;
	background-color: white;
	text-align: center;
}

.modalButtons {
	width: 180px;
	margin-top: 20px;
	padding: 10px 10px;
	background-color: #1DA0E0;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #1DA0E0;
	border-radius: 25px;
}

.firstButton {
	color: white;
	font-weight: bold;
	margin-right: 25px;
	background-color: #D0011B;
	border: 1px solid #D0011B;
}



/*-------------------------------EDIT FORM STYLING*/

.editForm {
	width: 80%;
	margin: 0 auto;
	padding-left: 16em;
	background-color: #F2F1F2;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.formTitles {
	padding-top: 50px;
}


/*-------------------------------searchbar STYLING*/
.searchWrapper {
	width: 14em;
	padding-bottom: 10px;
	margin: 30px auto 50px;
}

.search {
	display: flex;
	flex-direction: row;
	border: #152134;
	background-color:#152134;
	height: 2.5em;
	border-radius: 25px;
	width:  100%;

}

.searchBar {
	border: none;
	flex-grow: 2;
	padding-left: 15px;
	background-color:#152134;
	color: #fff;
	border-radius: 25px;
}

.searchBar::placeholder {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}

.searchButton {
	border: none;
	background-color:#152134;
	color: #fff;
	padding-right: 20px;
	border-radius: 25px;
}

.searchButton:hover {
	cursor: pointer;
}

/* -------------------------------------SORT STYLE */
.alphaContainer {
	width: 10em;
	margin: 0 auto;
	display: flex;
	justify-content: left;
}

.alphaSortButtons {
	padding: 5px;
}

.firstSort {
	margin-right: 1em;
	margin-left: .2em;
}

/* -------------------------------------LOGIN PAGE */
.loginFormWrapper {
	width: 100%;
	height:100vh;
	background-color: #2E414C;
}

.test{
	position: relative;
	top: 30%;
}

.appName {
	width: 20.3%;
	padding: 0;
	height: 3em;
	text-align: center;
	margin: 0 auto;
	text-align: center;
	

	background-color: #152134;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	color: #91A8C3;
}

.appName h1 {
	margin-top: 0;
	font-size: 22px;
	position: relative;
	top: 20%;
}

.headingOne {
	padding: 0;
	margin: 1.5em 0 .5em;
}

.headingTwo {
	padding: 0;
	margin: 1em 0 .5em;
}

.loginForm {
	width: 20%;
	height: 280px;
	margin: 0 auto;
	text-align: center;
	/* position: fixed;
	bottom: 40%;
	left: 40%; */

	background-color: #FFF;
	border: 1px solid #fff;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 3px 3px 5px #152134;
}

.loginInputs {
	width: 65%;
	height: 2.5em;
	background-color: #152134;
	color: #fff;
	border: #152134;
	border-radius: 25px;
	padding-left: 15px;
}

.loginInputs::placeholder {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
}

.loginSubmit {
	margin-top: 1.5em;
	margin-bottom: 2em;
	width: 32.5%;
	height: 2.5em;

	color: #fff;
	background-color: #1DA0E0;
	border: #1DA0E0;
	border-radius: 25px;
}