/*CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*STYLING STARTS HERE*/

.container {
	height: 100vh;
	background-color: #F2F1F2;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:700');

html {
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1, h2 {
	font-family: 'Source Sans Pro', sans-serif;
}

h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}


/*-------------------------------Side Bar Styling*/
.sideBarWrap {
	width: 18%;
	height: 100vh;
	position: fixed;
    background-color: #D3D2D3;
    border-right: 2px solid #B7B7B7;
    padding-left: 12px;
}

.sbTitle {
	
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.sbButtons {
    margin-bottom: 10px;
    padding: 8px;
    width: 85%;
    color: white;
    background-color: #24B8BD;
    border: .5px solid #B7B7B7;
	box-shadow: -1px 1px 3px 1px #B7B7B7;
	border-radius: 4px;
}

button:focus {
    outline: 0;
}


/*-------------------------------Notes View Styling*/

.notesView {
	max-width: 100%;
	padding-left: 21%;
	background-color: #F2F1F2;
	height: auto;
	overflow: scroll;
}

.nvTitle {
	padding-top: 50px;
}

.noteBox {
	display: inline-grid;
	grid-template-rows: 1fr;
	grid-template-columns: 15em 15em 15em;
	grid-gap: 20px;
}

.card-body {
	border: 2px solid #D9D9D9;
	border-radius: 4px;
	padding: 10px;
	background-color: white;
	line-height: 1.3em;
	overflow: hidden;
}

.card-text {
	padding: .2em .2em .8em;
	max-height: 4em;
	overflow: hidden;
}

.card-title {
	font-size: 22px;
	width: 90%;
	border-bottom: 2px solid #D9D9D9;
	padding-bottom: .5em;
}

.btn {
	margin-top: .5em;
	border-radius: 5px;
	border-color: white;
	background-color: #24B8BD;
	color: white;
	padding: .3em .5em;
}

/*-------------------------------NOTES SHOW/HIDE MORE*/

.fade {
	height: 6.2em;
	position: relative;
}

.fade::after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 65%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 30%);
}


/*-------------------------------Add Note form Styling*/

.addForm {
	width: 80%;
	padding-left: 21%;
	background-color: #F2F1F2;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.addTitle {
	width: 40%;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 4px;
	padding-left: 12px;
}
.addBody {
	width: 85%;
	height: 40%;
	border-radius: 4px;
	padding-left: 15px;
	padding-top: 20px;
}

.addButton {
	width: 22%;
	margin-top: 10px;
	height: 5%;
	margin-left: 2px;

	font-size: 16px;
	font-weight: 600;
	color: white;

    background-color: #24B8BD;
    border: .5px solid #B7B7B7;
    box-shadow: -.5px .5px .8px #B7B7B7;
}

a {
	text-decoration: none;
	color: inherit;
}

/*-------------------------------Single Note Styling*/
.viewNoteContainer {
	width: auto;
	padding: 2% 5% 5% 22% ;
	overflow-y: hidden;
	background-color: #F2F1F2;
}

.viewNoteTitle {
	margin-top: 40px;
	margin-bottom: 10px;
}

.viewNoteLinks {
	margin-left: 20px;
	text-decoration: underline;
	position: relative;
	top: 10px;
	left: 80%;
}



/*-------------------------------Delete Modal*/
.dModal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(221, 221, 221, .7)
}

.modalContent {
	position: fixed;
	top: 40%;
	left: 40%;
	padding: 40px 80px;
	border: 1px solid black;
	background-color: white;
	text-align: center;
}

.modalButtons {
	width: 180px;
	margin-top: 20px;
	padding: 10px 10px;
	background-color: #2AC0C4;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #B7B7B7;
}

.firstButton {
	color: white;
	font-weight: bold;
	margin-right: 25px;
	background-color: #D0011B;
}



/*-------------------------------EDIT FORM STYLING*/

.editForm {
	width: 80%;
	padding-left: 21%;
	background-color: #F2F1F2;
	height: 100vh;
}

.formTitles {
	padding-top: 50px;
}

