.list-container {
    width: 100%;
}

.list-container .notes-title {
    margin: 7px 0 0;
    padding: 0 20px;
    height: 10%;
    display: flex;
    align-items: flex-end;
}

.list-container .notes-top-container {
    border: 1px solid blue;
    margin: 20px 20px 0;
}

.list-container .notes-top-container .notes-container {
    border: 1px solid green;
    height: 90%;
    width: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*================= N O T E -C A R D    F I L E =============*/
.note-card {
    border: 1px solid red;
    width: 190px; 
    height: 195px;
    margin-bottom: 20px;
}

