.listViewHeader {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    text-align: start;
    margin: 54px 0 6px 26px;
    font-size: 21px;
}

.noteCardsCollection {
    margin: 14px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.entireNoteCardLink {
    width: 192px;
    margin: 12px 8px;
}

.noteCardLink:hover {
    text-decoration: none;
}

.noteCard:active {
    background-color: #F3F3F3;
}

.noteCard {
    border: 1px solid #979797;
    border-radius: 2px;
    background-color: white;
    width: 193px;
    height: 197px;
    padding: 9px 19px;
    cursor: pointer;
}

.noteTitle {
    font-family: 'Roboto', sans-serif;
    text-align: start;
    font-size: 19px;
    padding-bottom: 4px;
    border-bottom: 1px solid #979797;
    color: black;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noteContent {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 13.5px;
    text-align: start;
    line-height: 21px;
    width: 100%;
    height: 130px;
    color: black;
    overflow: scroll;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}