.App {
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: #f2f1f2;
  border: 1px solid #94a3a4;
  height: 100vh;
  font-size: 16px;
}

p {
  font-size: 16px;
}

.side-bar {
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.body {
  width: 70%;
  height: 100%;
}

.nav-title {
  display: flex;
  justify-content: center;
}

.nav-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-buttons {
  text-decoration: none;
  font-size: 16px;
  background-color: #35c0c3;
  height: 32px;
  width: 190px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid #94a3a4;
  margin-bottom: 20px;
  cursor: pointer;
}

.nav-buttons:hover {
  background-color: white;
  color: #35c0c3;
}

.form-button {
  text-decoration: none;
  font-size: 16px;
  background-color: #35c0c3;
  height: 32px;
  width: 190px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid #94a3a4;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-button:hover {
  background-color: white;
  color: #35c0c3;
}

.new-note-container {
  display: flex;
  flex-direction: column;
  /* padding-left: 50px; */
}

.notes-header {
  width: 100%;
  margin-top: 50px;
  margin-left: 10px;
}

form {
  flex-direction: column;
  display: flex;
}

.form-note-title {
  width: 50%;
  margin: 20px 0;
  margin-left: 10px;
  border-radius: 2px;
  border: 1px solid #94a3a4;
  height: 20px;
}

.form-note-content {
  width: 90%;
  margin-left: 10px;
  height: 200px;
  border-radius: 2px;
  border: 1px solid #94a3a4;
}

.note-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note-card {
  width: 185px;
  height: 185px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 0.5px solid #94a3a4;
  overflow: hidden;
  border-radius: 2px;
  font-size: 16px;
}

.card-line {
  height: 1px;
  border-bottom: 0.5px solid #94a3a4;
}
.note-card-body {
  width: 125px;
}

.note-card h4 {
  font-size: 16px;
  text-decoration: none;
  padding: 0 5px;
  text-align: left;
  width: 80%;
}

.note-card p {
  font-size: 16px;
}

.search-input {
  height: 25px;
  width: 180px;
  font-size: 16px;
}

.rr-link {
  text-decoration: none;
  color: black;
}

.card-hover:hover {
  -webkit-box-shadow: 0px 2px 47px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 2px 47px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 2px 47px -2px rgba(0, 0, 0, 0.52);
  border: 0.5px solid #94a3a4;
}

.edit-delete-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-direction: column;
}

.modal-prompt {
  font-size: 12px;
  font-weight: bold;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
}

.modal-delete-button {
  text-decoration: none;
  font-size: 10px;
  background-color: #c30019;
  height: 32px;
  width: 143px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid #94a3a4;
  margin-bottom: 20px;
}

.modal-delete-button:hover {
  color: #c30019;
  background-color: white;
}

.modal-no-button {
  text-decoration: none;
  font-size: 10px;
  background-color: #35c0c3;
  height: 32px;
  width: 143px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid #94a3a4;
  margin-bottom: 20px;
}

.modal-no-button:hover {
  color: #35c0c3;
  background-color: white;
}

.edit-note-link {
  margin-right: 10px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.delete-note-link {
  border-bottom: 1px solid black;
  cursor: pointer;
  margin-right: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  height: 400px;
  width: 500px;
  border: 1px solid #94a3a4;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.login-input {
  width: 80%;
  margin-top: 20px;
  font-size: 16px;
  height: 25px;
}
