.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.App {
  width:95%;
  margin:0 auto;
}

.single-note {
  width:90%;
}

.edit {
  display: flex;
  justify-content: flex-end;
  width:300px;
  position: absolute;
  right:20px;
  top:20px;
}

.a {
  text-decoration: none;
  color: rgba(0,0,0,.85);
}

/* .form-element {
  position: relative;
} */

.search {
  position: absolute;
  top:33px;
  left:60px;
  z-index: 1000;
}

.register {
  width: 120px;
  background: rgba(255,0,0,.9);
  margin-top: 20px;
  padding: 8px;
  margin-right: 20px;
  color: yellow;
  cursor: pointer;
}

.reg {
   text-decoration: none;
   padding: 7px 10px;
   background:tomato;
   display:block;
   margin-top:10px;
   color:yellow;
}

