      .sidebar {
          width: 15%;
          height: 100vh;
          display: flex;
          background-color: grey;
      }

      .sidebar-button {
          padding: 25px 25px;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
      }