.App {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  .NavBar {
    min-width: 180px;
    min-height: 700px;
    background-color: #D8D8D8;
    display: flex;
    align-content: center;
    flex-direction: column;
    border: 1px solid grey;
  }
  
  .ListView {
    background-color: #F4F4F4;
    border: 1px 1px solid grey;
  }
  
  /* .AddNote, .EditNote {
    width: 3300px;
    background-color: #F4F4F4;
    border: 1px solid grey;
  }
  
  .Inputtext {
    padding-bottom: 10px;
    margin: 1% 3%;
    padding-top: 10px;
    padding-left: 10px;
    width: 40%;
    text-align: start;
    border-radius: 0.5%;
    -moz-box-shadow:    inset 0 0 1px grey;
    -webkit-box-shadow: inset 0 0 1px grey;
    box-shadow:         inset 0 0 1px grey;
  }
  
  .Inputfield {
    padding-bottom: 400px;
    padding-top: 10px;
    padding-left: 10px;
    width: 90%;
    text-align: start;
    margin: 1% 3%;
    border-radius: 0.5%;
    -moz-box-shadow:    inset 0 0 1px grey;
    -webkit-box-shadow: inset 0 0 1px grey;
    box-shadow:         inset 0 0 1px grey;
  }
  
  .Title {
    text-align: left;
    padding: 1% 3%;
  }
  
  .ListCards {
    width: 100%; 
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .ListCard {
    flex: 3 3 30%;
    height: 240px;
    min-width: 200px;
    margin: 1%;
    overflow: hidden;
  }
  
  .Note {
    background-color: #F4F4F4;
    min-height: 700px;
  }
  
  .Note__nav {
    display: flex;
    justify-content: flex-end;
    text-decoration-line: underline;
    font-weight: 700;
    margin: 1%
  }
  
  .Button, Button__Delete {
    width: 160px;
    background-color: #2BC1C5;
    color: white;
    margin: 3%;
    padding-top: 6px;
    border: 1px solid grey;
    height: 40px;
  }
  
  .Button__Delete {
    width: 160px;
    background-color: red;
  }
  
  .Form {
    display: flex;
    flex-direction: column;
  }
  
  .Content {
    padding: 3%;
  }
  
  .Nav__item {
    margin: 0 1%
  }
  
  .flex {
    padding-right: 300px;
  }
   */