.App {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
  }
  
  a {
    color: black;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  .NavBar {
    min-width: 200px;
    min-height: 700px;
    background-color: rgb(214, 214, 213);
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  /* .ListView {
    background-color: rgb(241, 241, 241);
  } */
  .AddNote, .EditNote {
    width: 3300px;
    background-color: rgb(241, 241, 241);
  }
  .InputTitel {
    padding-bottom: 10px;
    margin: 1% 3%;
    width: 40%;
    text-align: start;
  }
  
  .InputContent{
    padding-bottom: 400px;
    width: 90%;
    text-align: start;
    margin: 1% 3%;
  }

  .Title {
    text-align: left;
    padding: 1% 3%;
  }