.card-page-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.section-container {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.edit-delete {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.edit-delete a {
    margin: 30px 5% 20;
}

.notes-title.card {
    margin: 27px 2 2 5%;
}

.single-notes-content {
    width: 80%;
    margin: 30px 0 0 5%;
}

.App-container .card-page-container .delete-overlay {
    background: #9da7b1;
    height: 100vh;
    width: 100%;
    position: fixed;
    opacity: 0.75;
    z-index: 999;
}

.delete-container {
    width: 50%;
    background: #F2B801;
    height: 130px;
    right: 25%;
    position: absolute;
    left: 350px;
    top: 200px;
    opacity: 1;
    border: 1px #979797 solid;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    padding-top: 36px;
}

.delete-container a {
    font-family: 'Raleway', sans-serif, #740078;
    width: 56%;
}

.overlay-btn {
    font-family: 'Raleway', sans-serif;
    background: #2BC1C4;
    color: #FFFFFF;
    height: 40px;
    border: 1px #979797 solid;
    width: 30%;
    margin: 0 7.5% 15px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-btn.delete {
    background: #D0021B;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-container a {
    width: 30%;
}