/* .App {
 display: flex;

 
 margin:0px;
 padding:0px;
}
 button {
  background: lightseagreen;
  font-size:1.2em;
  font-weight: bold;
  border: 1px solid grey;
  margin: 10px;
  color:white;
  height: 60px;
} */
.LambdaNotes{
  /* width: 180%; */
  padding-top:20px;
  margin:0px;
  display:flex; 
  flex-direction: column;
  background:lightgrey;
  border-right: 2px solid grey;
  
}
/* .LambdaNotes_p{
 margin-bottom:15px;
 font-size: 35px;
 width: 60%;
 display: flex;
 text-align: left;
 font-weight: bold;
 padding-left:10px;
 color:grey;
 
} */
.NewNote{
padding-top: 30px;
margin-left: 25px;
display: flex;
flex-direction: column;  
width: 850px;


}
.Input{
  border: 1.3px solid grey;
  width: 50%;
  height:30px;  
  margin-bottom: 20px;
  margin-top: 25px;
}

.TextArea {
 width: 95%;
 height: 500px;
 margin-bottom: 20px;
}
.Button{
 width:30%;
 height:50px;
} 