* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.App {
  text-align: center;
}

.sideBar_pop {
  position: relative;
  left:26%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
