@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.mainContainer {
    display: flex;
    width: 1365px;
    background: #f3f3f3;
    height: 100%;
    padding: 0;
    box-sizing: border-box;

    .navBar {
        display: flex;
        flex-flow: column;
        align-content: flex-start;
        width: 340px;
        background: #d8d8d8;
        font-family: Roboto;
        color: #4a4a4a;
        font-size: 27px;
        box-sizing: border-box;
        padding-right: 20px;
        ul {
            list-style-type: none;
        }
    
        .navButton {
            background: #2bc0c4;
            width: 310px;
            height: 60px;
            float: left;
            a {
                color: #ffffff;
                text-decoration: none;
                font-size: 23px;
                font-weight: bold;
            }

            a:link {
                color: #ffffff;
                text-decoration: none;
            }

            a:hover {
                color: #ffffff;
                text-decoration: none;
            }

            a:visited {
                color: #ffffff;
                text-decoration: none;
            }
        }

        .navButton2 {
            background: #2bc0c4;
            margin-top: 20px;
            width: 310px;
            height: 60px;

            a {
                color: #ffffff;
                text-decoration: none;
                font-size: 23px;
                font-weight: bold;
            }

            a:link {
                color: #ffffff;
                text-decoration: none;
            }

            a:hover {
                color: #ffffff;
                text-decoration: none;
            }

            a:visited {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }

    .mainContent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: #f3f3f3;

    }
    
}