.App {
	background: #f2f2f2;

	height: 100vh;
	display: flex;
}
.edit-delete {
	display: flex;
	float: right;
	margin: 20px 10%;
	border: 0;
	padding: 0;
}
.button {
	background: #f2f2f2;
	text-decoration: underline;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin-right: 50%;
	font-size: 20px;
}
.button:hover {
	background: #f2f2f2;
	text-decoration: underline;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin-right: 50%;
	font-size: 20px;
	color: #a5a5a5;
}
.navlinks {
	display: flex;
	flex-flow: column;
	margin-left: 10%;
}
.newNote {
	display: block;
	width: 100vw;
}

.text-header {
	font-size: 60px;
}
.text-header-text {
	font-size: 60px;
	margin: 0 0 30px 2%;
}
.sidebar-container {
	background: lightgray;
	width: 15vw;
	height: 100vh;
	padding-right: 1.5%;

	border-right: 1px solid gray;
}
.main-container {
	background: #f2f2f2;
	width: 100vw;
}
.notes-contain {
	background: #f2f2f2;
	width: 100vw;
}
.main-notes {
	background: #f2f2f2;
	width: 100vw;
	height: 100vh;
	display: flex;
}
.Onenote {
	background: #f2f2f2;
	margin-top: 100px;
}
.title {
	color: black;
	font-weight: bold;
	text-align: left;
	font-size: 18px;
}
.text-body {
	overflow: hidden;
	color: black;
}
.text-body-text {
	color: black;
	font-size: 30px;
	margin: 50px 0 0 2.5%;
}
.body {
	overflow: hidden;
	text-align: left;
	line-height: 1.8;
}
.note-container {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 1.5%;
}
.notes-container {
	margin: 10px 1.5%;
}
.note-link {
	text-decoration: none;
	border: 1px solid black;
	background: white;
	width: 30%;
	padding: 15px;
	margin: 10px 0.5%;
	height: 150px;
	overflow: hidden;
	transition: box-shadow 0.1s ease-in-out;
}
.note-link:hover {
	text-decoration: none;
	border: 1px solid black;
	background: white;
	width: 30%;
	padding: 15px;
	margin: 10px 0.5%;
	height: 150px;
	overflow: hidden;
	box-shadow: 0 0 30px gray;
}
.divider {
	border: 1px solid lightgray;
}
.divider-main {
	border: 1px solid lightgray;
	width: 95%;
}
.note {
	border: 1px solid black;
	background: white;
	padding: 15px;
	margin: 10px 0.5%;
	height: 150px;
	overflow: hidden;
}
input[type="text-title"] {
	padding: 0px;
	height: 40px;
	width: 30%;
	margin-bottom: 20px;
}

input[type="textarea"] {
	padding: 0px 200px 200px 0;
	width: 50%;
	margin-bottom: 20px;
	resize: none;
}
.form.bodyinput {
	padding: 0px 200px 200px 0;
	width: 50%;
	margin-bottom: 20px;
	resize: none;
}
.forms {
	display: flex;
	flex-flow: column;
}
.savenote-button {
	background: #30d4ff;
	width: 10%;
	cursor: pointer;
	padding: 20px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	border: 1px solid black;
}
.navlink {
	text-decoration: none;
	color: white;
	font-weight: bold;
	border: 1px solid black;
	background: #30d4ff;
	padding: 20px 15%;
	margin: 20px 0%;
	font-size: 19px;

	text-align: center;
}
.navlink:hover {
	background: #84e5ff;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border: 1px solid black;
	padding: 20px 15%;
	margin: 20px 0%;
	font-size: 19px;
	text-align: center;
}

.main-header {
	width: 15%;
	margin-top: 100px;
	margin-left: 2%;
	color: #424141;
	cursor: default;
}
.note-header {
	width: 15%;
	margin-top: 100px;
	margin-left: 1.5%;
	color: #424141;
}

.sidebar-header {
	color: #424141;
	text-align: left;
	font-size: 26px;
	line-height: 0.5;
	margin-left: 10%;
	cursor: default;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
