.App {
  display: flex;
  margin: 0 auto;
  width: 1000px;
}

a {
  text-decoration: none;
}

 .Nav-bar {
  border: 1px solid rgb(158, 158, 158);
  background-color: rgb(209, 209, 209);
  height: 150px;
  width: 255px;
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  height:800px;
}
 .App-title {
   margin-top: 0;
   color: rgba(20, 20, 20, 0.712);
   font-size: 2rem;
 }

 .display-right {
   width: 100%;
  background-color: rgb(236, 236, 236);
 }

 .Container {
   padding: 41px 15px 30px 15px;
 }
 
 .noteList {
   padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.Header {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  width: 100%;
  color: rgba(20, 20, 20, 0.712);
  padding-left: 13px;
}

 .SingleNote {
  color: rgba(3, 3, 3, 0.781);
  width: 200px;
  background-color: white;
  border: 1px solid rgb(158, 158, 158);
  height: 235px;
  margin: 10px;
  padding: 0 11px;
  padding-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display:block;
}

.SingleNote:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.43);
}

.note-title {
  padding-bottom: 5px;
  border-bottom: 1.4px rgb(153, 153, 153) solid;
}

.nav-button {
  text-align: center;
  border: 1px solid rgb(158, 158, 158);
  font-size: 1rem;
  color: white;
  background-color: rgb(0, 187, 187);
  padding: 10px 10px;
  margin: 8px 0 14px 0;
}

.nav-button:hover {
  background-color: rgb(0, 151, 151);
}

.add-form {
  margin: 30px 15px;
}

.title-input {
  font-size: 1.2rem;
  padding: 8px;
  width: 40%;
  margin-bottom: 20px;
}

.add-text-input {
  width: 80%;
  height: 300px;
}

.save-btn {
  width: 20%;
  text-align: center;
  border: 1px solid rgb(158, 158, 158);
  font-size: 1rem;
  color: white;
  background-color: rgb(0, 187, 187);
  padding: 10px 10px;
  margin: 15px 0;
  cursor: pointer;
}
.save-btn:hover {
  background-color: rgb(0, 151, 151);
}

.SingleNoteView {
  padding: 20px 30px 30px 30px;
}

.view-links {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}

.delete-link {
  cursor: pointer;
  text-decoration: underline;
}

.edit-button {
  text-decoration: underline;
}

.text-input {
  padding: 6px;
  font-size: 1.1rem;
  width: 80%;
  height: 300px;
}

.NoteText {
  width: 65%;
  margin: 27px 0 0 15px;
}

.modal-wrap {
  border: 1px solid black;
  background: white;
  text-align: center;
  width: 540px;
  padding: 20px;
  position: fixed;
  margin: 162px 0 0 0;
}

.ModalHeader {
  font-size: 1.1rem;
  padding: 0 0 15px 0;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;

}

.no-button {
  cursor: pointer;
  text-align: center;
  border: 1px solid rgb(158, 158, 158);
  font-size: 1rem;
  color: white;
  background-color: rgb(0, 187, 187);
  padding: 8px 89px;
  margin-left: 7px;
}

.delete-button {
  text-align: center;
  border: 1px solid rgb(158, 158, 158);
  font-size: 1rem;
  color: white;
  background-color: rgb(196, 0, 0);
  padding: 8px 80px;
  margin-right: 7px;
}

.delete-button:hover {
  background-color: rgb(170, 0, 0);
}

.no-button:hover {
  background-color: rgb(0, 151, 151);
}