* {
  box-sizing: border-box;
  border: 1px solid dodgerblue;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  color: rgb(66, 66, 66);
}

.app-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 900px;
}



