.App {
  text-align: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #414141;
  font-size: 1.6em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navPanel {
  width: 25%;
  height: 100vh;
}

.mainPanel {
  width: 75%;
  background: #F2F1F2;
  color: #414141;
  
  
}
