.App {
  display: flex;
  height: 100%;
}

.Left-bar {
  width: 10%;
  height: 100%;
  background: orange;
}

.Note {
  width: 100px;
  height: 100px;
  list-style: none;
  box-sizing: border-box;
  border: solid black 1px;
  background: blue;
  margin: 5px;
}


.Note-container {
  width: 90%;
  height: 100%;
  background: green;
  flex-direction: row;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
