.App {
  text-align: center;
  display: flex;
  flex-direction: row;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  max-width: 300px;
  width: 100%;
  height: 100%;

  color: blue;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Navigation Styles */

.navigation {

}
.navButtons {

}
.sideBar {

}
/* Home Styles */
.homeBox {

}
.homeTitle {

}
.homeP {

}
.quoteAuthor {

}
.homeEnterButton {

}