.mainContainer {
    display: flex;
    width: 1365px;
    align-content: center;
    background: green;
    padding: 40px 0 0 0;

    .navBar {
        display: flex;
        width: 450px;
        height: 4000px;
        background: grey;
    }

    .mainContent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background: red;

    }
}