@import url('https://fonts.googleapis.com/css?family=Roboto');
.App {
    text-align: center;
}

.App-container {
    display: flex;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

* {
    box-sizing: content-box;
}

.App {
    height: 100%;
}

.sideBar {
    border-right: 1px black solid;
    height: 100%;
    width: 25%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D7D7D7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.appView {
    margin-left: 25%;
    padding: 30px;
}

body {
    background-color: #F3F3F3;
}

.newNote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App {
    text-align: center;
}

.App-container {
    display: flex;
}