* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(66,66,66);
}

.appContainer {
  display: flex;
  justify-content: center;
  min-width: 900px;
}

.content-header {
  margin: 1rem 0.5rem;
}