


.Edit{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    /* border: 2px solid red; */
    padding-left: 20px;

}
.noteViewCard{
     padding-left: 20px;
     height: 900px;
     width: 800px
}
.noteViewCard_title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px ;
   
}
  .delete {
    text-decoration: none;
    padding-left: 20px;
}
.edit{
  text-decoration: none; 

}