.NoteListContainer {
  padding: 40px;
}

.NoteListCol {
  border: 2px solid red;
  width: 100%;
}

.NoteCardContainer {
  height: 14rem;
  border: 1px solid black;
  border-radius: 10px;

}

.NoteCard {
  height: 200px;
  margin: 20px;
  border: 1px solid blue;
  
  overflow: hidden;
  text-overflow: ellipsis;
}
