.NoteList {
  border: 2px solid red;
  width: 100%;
}

.NoteCard {
  border: 1px solid black;
  border-radius: 10px;
}

.TextBox {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  height: 125px;
}