.wrapper {
	width: 75%;
	position: absolute;
	left: 25%;
}

header h5{
	padding: 50px 0 25px 25px;
	font-size: 1.5rem;
	font-weight: bold;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 20px;
}

.eachcard {
	flex-basis: 25%;
}

/* finally got this to display in rows of three by making eachcard a child, creating a parent for it, and then using flex-basis to size each card.*/
