.notecard {
	color: black;
	border: grey 1px solid;
}

.cardTitle {
	color: black;
}

.cardText {
	color: black;
}

.truncate {
  	overflow: hidden;
  	position: relative;
  	line-height: 1.2em;
  	max-height: 3.6em;
  	text-align: justify;
  	margin-right: -1em;
  	padding-right: 1em;
	width: 250px;
	text-overflow: ellipsis;
}
