.notecard {
	color: black;
	border: grey 1px solid;

}

.cardTitle {
	color: black;
}

.cardText {
	color: black;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
