nav {
	height:100%;
	width: 25%;
	font-family: 'Roboto Bold', sans-serif;
	font-size: 1rem;
	background-color: #D8D8D8;
	position: absolute;
	left: 0px;
}

.lambdanotes h3 {
	font-size: 2.1rem;
	line-height: 2rem;
	font-weight: bold;
	padding: 20px;
}

.buttonnav {
	margin-left: 20px;
}

button {
	background-color: #2eced1;
	color: white;
	font-weight: bold;
	text-align: center;
	border: .25px grey solid;
	padding: 5px 10px;
	width: 90%;
}

/* when in doubt, create more divs! */
