.UpdateNote {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
}

.label-h2 {
  font-weight: bolder;
  font-family: Roboto;
  color: RGB(74, 74, 74);
  margin-top: 50px;
}

.update-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin-left: 40px;
}

.input-title {
  margin-bottom: 30px;
  height: 50px;
  max-width: 300px;
  width: 100%;
  padding-left: 20px;
  border: 2px solid RGB(174, 174, 174);
}

.input-body {
  height: 400px;
  max-width: 600px;
  width: 100%;
  border: 2px solid RGB(174, 174, 174);
  padding: 20px;
}
