.homePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: gray;
}

.login-register{
    width: 100%;
}

.login-header {
    height: 18vh;
    background-color: rgb(22, 20, 20);
    width: 100%;
    padding-top: 80px;
    padding-left: 50%;
}

.login-input {
    display: inline-block;
    margin-right: 20px;
}

.loginBtn {
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 18%;
}

.loginBtn:hover {
    background-color: #FFFFFF;
    color: #2BC1C4;
    box-shadow: none;
}

.LambdaNotes {
    color: #660066;
    margin-top: 30px;
    font-size: 80px;
    font-weight: bold;
}

.register-form {
    width: 50%;
    background-color: lightgray;
    margin-top: 60px;
    
    border-radius: 5px;
    padding: 3%;
}

.register-form input {
    width: 70%;
    margin-left: 15%;
}

@media (max-width: 980px) {
    .login-header {
        padding-left: 20px;
    }
}

@media (max-width: 500px) {
    .login-header {
        padding-left: 0px;
        padding-top: 0px;
    }
    .login-input {
        display: block;
        margin-top: 5px;
    }
    .loginBtn {
        display: block;
        margin-left: 0px;
        margin-top: 5px;
        width: 173px;
    }
    .login-header {
        padding-top: 33px;
        padding-left: 110px;
    }
    .LambdaNotes {
        font-size: 60px;
    }
}