.homePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: gray;
}

.login-register{
    width: 100%;
}

.login-header {
    height: 18vh;
    background-color: rgb(22, 20, 20);
    width: 100%;
    padding-top: 80px;
    padding-left: 50%;
}

.login-input {
    display: inline-block;
    margin-right: 20px;
}

.loginBtn {
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 18%;
}

.loginBtn:hover {
    background-color: #FFFFFF;
    color: #2BC1C4;
    box-shadow: none;
}

/* The animation code */
/* @keyframes heading {
    0%   {color: #990099; left:0px; top:0px}
    25%  {color: #660066; left:200px; top:0px;}
    50%  {color: #4d004d; left:200px; top:200px;}
    100% {color: #330033; left:0px; top:200px;}
} */

.LambdaNotes {
    color: #660066;
    margin-top: 30px;
    font-size: 80px;
    font-weight: bold;
    /* animation-name: heading;
    animation-duration: 4s;
    animation-iteration-count: 10; */
}



.register-form {
    width: 50%;
    background-color: lightgray;
    margin-top: 60px;
    
    border-radius: 5px;
    padding: 3%;
}

.register-form input {
    width: 70%;
    margin-left: 15%;
}