/* .title {
  font-size: 1.2em;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.text-body {
  color: black;
  font-size: .9em;
  border-top: 1px solid black;
  margin: 15px;
  padding-top: 10px;
} */