.note__container {
  display: flex;
  flex-wrap: wrap;
}

.note__container-notes {
  margin: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.349);
  border: solid 1px grey;
  margin-bottom: 20px;
  width: 160px;
  height: 155px;
  font-size: 0.8rem;
}

.note__container-notes :link {
  color: black;
  text-decoration: none;
}

.note__container-notes :visited {
  color: black;
}
