.nav{
    display: inline-block;
    width: 300px;
    height: 100vh;
    color: white;
    background: rgb(192, 192, 192);
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    padding-top: 100px;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
h1{
    color: rgb(58, 58, 58);
}