.createNote {
    width: 100%;
    background-color: #F3F3F3;
    text-align: left;
}
.formStyle {
    margin-left: 5%;
    padding: 3% 0 10% 0;
}
.formStyle button{
    width: 20%;
}
.form-group input {
    width: 30%;
}
.form-group textarea {
    width: 60%;
}
.form-group input, textarea {
    font-size: .9rem;
    padding-left: 1.8%;
}
h4{
    padding-top: 3%;
}