
/*#region NoteEdit*/
.note-edit {
    display: flex;
    flex-direction: column;
    margin: 3% 0 0 1%;
}

.note-edit h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #414141;
}

.note-edit #title {
    width: 30%;
    height: 35px;
    margin-top: 2.5%;
    padding: 0 0 0 1%;
}

.note-edit #title::placeholder {
    font-size: 2rem;
}

.note-edit #textBody {
    display: flex;
    width: 75%;
    height: 450px;
    margin-top: 1%;
    padding: 1% 0 0 1%;
}

.editview #textBody::placeholder {
    font-size: 2rem;
}

.note-edit button {
    width: 20%;
    height: 50px;
    margin: 2.5%  2.5% 0 0;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background: #24b8bd;
    border: none;
}
/*#endregion*/

/*#region updated modal*/
.updateModal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.umodal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 30%;
    background: white;
}

.umodal-content p {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#umodal-accept {
    all:unset;
    width: 20%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    background: red;
}
/*#endregion*/