.Form1 {
    display: inline-block;
    width: 500px;
    position: absolute;
    margin: 38px 0px 0px 38px;  
}

.container2 {
    display: inline-block;
    position: absolute;
    background-color: #F3F3F3;
    height: 1200px;
    width: 1000px;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin-left: 265px;
}
h6 {
    font: Roboto Bold;
    font-weight: bold;
    color: #4A4A4A;
    margin-left: 38px;
    margin-top: 80px;
    font-size: 25px;
}
#note-title {
    height: 45px;
    border-radius: 1;
    border: 1px solid darkgray;
}
#note-content {
    padding-bottom: 400px;
    width: 750px;
    border-radius: 1;
    border: 1px solid darkgray;

}
.button3 {
    display: block;
    background-color:#2BC1C4;
    color: #FFFF;
    border: 1px solid darkgray;
    font: Raleway Medium;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    width: 200px;
}
.button3:hover {
    background-color: #26acaf;
}
