.app {
  display: flex;
}
.sideBar {
  background: #D3D2D3;
  width: 20%;
}
.content {
  background: whitesmoke;
  width: 80%;
  padding: 5% 2%;
}
.sideBar-Contents {
  margin: 5% 5%;
}
.sideBar-Button {
  margin-bottom: 5%;
  background-color: #2EB8BC;
}
.create {
  padding: 3% 7%;
}
.view {
  padding: 3% 11.5%;
}
* {
  box-sizing: border-box;
}
