.App {
  text-align: center;
}

.notes-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.note-card {
  display: inline-block; 
  box-sizing: border-box;
  width: 175px;
  height: 175px;
  text-align: left;
  list-style-type: none;
  border: 2px solid #e6e6e6;
  padding: 0 10px 5px 10px;
  background-color: white;
  margin: 0 0 15px 0;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
}
  .note-card .note-title {
    border-bottom: 1px solid gray; 
    margin-bottom: 10px; 
    padding-bottom: 10px; 
}
 .notes-header {
  text-align: left;
  padding-left: 20px;  
  text-decoration-color: darkgrey; 
}
