.deleteBox__bigBox {
  position: fixed;
  left: 0;
  top: 0;
  background:rgba(215, 215, 215, .5);
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 100%;
  width: 100%;

}

.bigBox__whiteBox {
  background: white;
  width: 50%;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  height: 30%;
}

.whiteBox__container {
  margin: 20px 40px;
  display:flex;
  flex-direction: column;
}

.container__top {
  text-align:center;
  width: 100%;
}

.container__bottom {
  display: flex;
  justify-content: space-between;
}

.container__button-delete {
  background: rgb(208, 1, 27);
}

.container__button-cancel {
  background: rgb(42, 192, 196);
}