.NoteList{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #F3F3F3;
}

.headerBody{
    margin-top: 70px;
    margin-left: 44px;
}
.headerText{
    font-family: Raleway Regular;
}
.Notes{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.Note{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    width: 240px;
    height: 200px;
    margin: 15px;
    overflow: hidden;
    
}
.noteLink{
    text-decoration: none;
    color:black;
}

.noteTitle{
    font-family: Raleway Regular;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.noteContent{
    font-family: Raleway Regular;
    font-size: 16px;
}