.NoteList{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #F3F3F3;
    border:solid 1px red;
}

.Notes{
    display: flex;
    flex-flow: wrap;
    font-family: Raleway Regular;
    font-size: 30px;
    border: 1px solid blue;
    justify-content: space-evenly;
}

.Note{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    width: 250px;
    height: 300px;
    margin: 15px;
    /* justify-content: space-evenly; */
    overflow: hidden;
    
}