.mainPage__topRow {
  display: flex;
  justify-content: flex-end;
}

.topRow__button-box {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-right: 180px;
}

.topRow__button {
  text-decoration: underline;
  font-size: 30px;
  margin-left: 35px
}

.topRow__button:hover {
  cursor: pointer;
}

.mainPage__middleRow {
  margin-top: 50px;
  margin-bottom: 17px;
  padding-left: 55px;
  display: flex;
  justify-content: space-between;
}

.mainPage__middleRow-title {
  font-size: 45px;
  font-weight: bold;
  max-width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mainPage__middleRow-button {
  flex: 1;
  width: 409px;
  height: 90px;
  margin-right: 20px;
  background: #2AC0C4;
  border: 2px solid #BEBEBE;
  font-size: 32px;
  color: white;
}

.mainPage__middleRow-button:hover {
  cursor: pointer;
}

.mainPage__bottomRow {
  padding: 0 60px;
}

.mainPage__noteList {
  display:flex;
  flex-wrap: wrap;
}

.mainPage__noteList div:nth-child(3n+1){
  margin-left: 0;
}

.mainPage__noteView {
  font-size: 30px;
  line-height: 2;
  margin-top: -10px;
  overflow-wrap: break-word;
}

.mainPage__welcome {
  margin-top: 50px;
  font-size: 60px;
  font-weight: bold;
  padding-left: 55px;
  margin-left: 18%;
}
