.mainPage__topRow {
  display: flex;
  justify-content: flex-end;
}

.topRow__button-box {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-right: 180px;
}

.topRow__button {
  text-decoration: underline;
  font-size: 30px;
  margin-left: 35px
}

.topRow__button:hover {
  cursor: pointer;
}

.mainPage__middleRow {
  margin-top: 50px;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 58px;
  padding-left: 55px;
}

.mainPage__bottomRow {
  padding: 0 60px;
}

.mainPage__noteList {
  display:flex;
  flex-wrap: wrap;
}

.mainPage__noteList div:nth-child(3n+1){
  margin-left: 0;
}