.newRegisterMainDiv {
    background-color: #f2f1f2;
    min-width: 100%;
    height: 100%;
    }
    
.newRegisterHeader {
      /* margin */
    font-weight: 800;
    padding: 50px 20px 20px;
    }
    
.newRegisterFormDiv {
    margin: 40px 20px 0 20px;
    }
    
.titleDiv {
    margin-bottom: 10px;
    max-width: 350px;
    }
    
.passwordDiv {
    margin-bottom: 10px;
    height: 40px;
    max-width: 350px;

}

.saveNewRegisterBtn {
    background-color: #00cd00;
    color: white;
    font-size: 16px;
    width: 140px;
    height: 40px;
    }