.LinkClass{
    text-decoration: none;
    }
    .inputText{
        width: 100%;
        padding: 12px 20px;
        margin-left: 18px ;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .textarea {
        width: 100%;
        margin-left: 18px;
        margin-top: 20px;
        height: 350px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }
    .formButton{
        background-color:#2BC1C4;
        width: 200px;
        height: 50px;
        margin-left: 18px;
        margin-top: 20px;
    }
    .labelName{
        margin-top: 20px;
        margin-left: 18px;
    }