// Colors
$off-black: #20222b;
$light-purple: #a5afd7;
$dark-blue: #333745;
$light-blue: #464b5e;
$blue: #3c4251;
$body-color: #333745;
$big-button: #8357c5;
$purple: #8357c5;


// font-size
$extra-small: 0.75rem;
$small-size: 1rem;
$medium-size: 2rem;
$large-size: 3rem;
$desktop-breakpoint:  28.125rem;