@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

//fonts
@roboto: 'Roboto Bold';
@raleway: 'Raleway Medium';

//colors
@concrete: #F3F3F3;
@alto: #D8D8D8;
@scooter: #2BC1C4;
@monza: #D0021B;
@dustygray: #979797;
@snow: #FFFFFF;
@tundora: #4A4A4A;


//design system

//fonts
@font-body: @raleway;
@font-heading: @roboto;

//background colors
@main-bg: @concrete;
@card-bg: @snow;
@main-button-bg: @scooter;
@sidebar-bg: @alto;
@warning-button-bg: @monza;

//border, button and font colors
@main-border-color: @dustygray;
@main-button-color: @snow;
@main-font-color: @tundora;


//escaping that defines tablet and phone width
@tablet: ~'(max-width: 900px)';
@phone: ~'(max-width: 400px)';



