.note-container{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-notes{
    margin: 3%;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    padding: .4% 1% 1% 1%;
}

.single-notes a{
    text-decoration: none;
    color: black;
    width: 100%;
}

.single-notes h2{
    border-bottom: 1px solid black;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.single-notes p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.single-notes button{
    display: none;
}