.createNewContainer {
  width: 825px;
  height: 100%;
  background: #f3f3f3;
  padding-top: 10px;
  padding-left: 30%;
}

/* .noteForm {
  padding-left: 25px;
  padding-right: 15px;
} */

.noteContent {
  padding-left: 25px;
  padding-top: 25px;
  border-radius: 4px;
  width: 400px;
}

/* Button */
.saveButton {
  background-color: #2AC0C4;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  width: 200px;
  height: 60px;
  margin: 4px 15px;
  opacity: 1;
  transition: 0.3s;
  border: 1px solid black;
}

/* mouse over */
.saveButton:hover {
  color: #2AC0C4;
  background-color: #f1f1f1;
}