.delete-modal-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    background: #D8D8D8E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-modal {
    background: white;
    border: 1px solid black;
    height: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-btn {
    color: white;
    background: #CA001A;
    border: 1px solid grey;
    height: 30px;
    width: 20%;
    margin: 15px 5%;
}

.no-btn {
    color: white;
    background: #24B8BD;
    border: 1px solid grey;
    height: 30px;
    width: 20%;
    margin: 15px 5%;
}