.edit-container {
    margin-top: 50px;
    margin-left: 315px;
    max-width: 880px;
    width: 72%;
}

.edit-container h1 {
    text-align: left;
    font-size: 1.5rem;
}

.edit-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 95%;
}

.edit-form .title {
    width: 55%;
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    margin: 7px 0;
    height: 25px;
    padding-left: 3px;
}

.edit-form .body {
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    height: 300px;
    padding-top: 3px;
}

.edit-form .tags {
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    margin: 7px 0;
    height: 25px;
    padding-left: 3px;
}

.edit-form .update-btn {
    text-align: center;
    width: 200px;
    margin: 25px 0;
    border: 1px solid #A0A0A0;
    background: #24B8BD;
    color: white;
    padding: 15px 0;
}

.id-error {
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-left: 518px;
}
