.title {
    font-weight: bold;
    display: block;
    font-size: 20px;
    margin-bottom: -10px;
    padding: 1%;
}

.postIt {
    width: 200px;
    height: 200px;
    border: 1px solid teal;
    display: inline-block;
    margin: 2%;
}
