/* .title {
    font-weight: bold;
    display: block;
    font-size: 20px;
    margin-bottom: -10px;
    padding: 1%;
} */

.postIt {
    width: 200px;
    height: 200px;
    border: 1.25px solid lightgrey;
    display: inline-block;
    margin: 2%;
    background: white;
    padding: 1%;
}
/*
a {
    color: black;
}

.container {
    margin-left: -10px;
}

.yourNotes {
    margin-top: 30px;
    margin-left: 2%;
}

hr {
    border: 0.6px solid lightgrey;
    margin: 10px;
} */