.note {
    border: 1px solid #A0A0A0;
    overflow: hidden;
    background: white;
    width: 200px;
    height: 225px;
    margin: 0;
    text-align: left;
}

.title {
    font-weight: bold;
    margin: 3px 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #A0A0A0;
}

.body {
    font-size: 0.95rem;
    padding: 0 4px;
}