.notes-list-container {
    width: 60%;
    margin-left: 325px;
    margin-top: 50px;
}

.notes-list-container h1 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 1.25em 0.9em;
    /* width: 90%; */
}

.notes-container .note-link {
    text-decoration: none;
    color: black;
    width: 200px;
}