.noteViewLink {
    padding: 3%;
    margin: 10px;
    text-decoration: default;
}

.viewLinks {
    margin-top: 10px;
    margin-left: 90%;
    text-decoration: underline;
    color: #504f4f;
    font-weight: bolder;
}

.noteTitle {
    font-weight: bold;
    color: #504f4f;
    margin-bottom: 25px;
    margin-top: 2rem;
}