.notesContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
}

.notesContainerHeader {
  font-size: 24px;
  color: #4A494A;
  font-weight: bold;
  text-align: flex-start;
  padding-left: 5px;
}

.notesBody {
  display: flex;
  flex-direction: column;
  background-color: orange;
  height: 100%; 
  flex-flow: wrap;
  justify-content: center;
  padding-right: 15px;
  padding-top: 12px;
}

.noteCard {
  background: #ffffff;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  width: 240px;
  height: 235px;
  margin-bottom: 20px;
  margin-left: 18px;
  padding: 13px 20px 20px 20px;
}