.sidebar {
  max-width: 350px;
  height: 100%;
  min-height: 715px;
  background: #cfcccc; 
  border: 1.5px solid #BAB7B7;
}

h6 {
  margin: 20px 0 25px 5%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #504F4F; 
}

@media (min-width: 768px) {
  h6 {
    font-size: 2rem;
  }
}

a:hover {
  text-decoration: none;
}

.sidebar-button {
  display: block;
  background: #27B8C4;
  padding: 4%;
  max-height: 100%;
  width: 90%;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sidebar-button:hover {
  background: #1F939C;
}