/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D7D7D7;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid black;
}

/* The menu links */
.sidebar button {
  background-color: #2AC0C4;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  width: 90%;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  border: 1px solid black;
}

/* mouse over */
.sidebar button:hover {
  color: #2AC0C4;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: left;
  color: #4E4D4E;
  font-size: 3em;
  margin-top: 0;
  padding-left: 10px;

}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}