.sideBar {
  display: flex;
  flex-direction: column;
  width: 280px;
  background: #D7D7D7;
  box-sizing: border-box;
  border: 1px solid #9B9B9B;
  border-right: 2px solid black;
}

.sideBar-header {
  font-size: 40px;
  letter-spacing: 3px;
  color: #4A494A;
  width: 200px;
  padding-left: 15px;
  margin-top: 25px;
  margin-bottom: 27px;
}

.sideBar-buttons {
  display: flex;
  flex-direction: column;
}

.sideBar-button {
  width: 240px;
  height: 55px;
  margin-left: 18px;
  margin-bottom: 20px;
  padding-top: 3px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background: #2AC0C4;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}
