@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #ccc;
  color: #4d4d4d;
  transition: all 0.3s;
}

#sidebar #sidebar-header {
  padding: 20px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px 20px 10px 20px;
}

#sidebar .btn {
  border-radius: 0px;
}

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
